<div class="ezra_view_sjabloon">
    <form method="POST" action="[%
        c.uri_for(
            '/zaak/' _ zaak.nr
            _ '/documents/' _ (document_depth.id || 0)
            _ '/get/' _ document.id
            _ '/'
        ) %]">
        <table>
            <tbody>
                <tr>
                    <td class="td200">Bestandsnaam:</td>
                    <td class="td250"> [% document.filename %]
                    </td>
                </tr>
                <tr>
                    <td>Gewenst uitvoer formaat:</td>
                    <td>
                        <select name="filetype">
                            <option
                                value="odt"
                                >OpenDocument (.odt)
                            </option>
                            [% FOR fileexport IN ZCONSTANTS.document.sjabloon.export_types %]
                                [% filetype = fileexport.key %]
                                [% filedata = fileexport.value %]
                                [% NEXT IF filetype == 'odt' %]
                                <option
                                    value="[% filetype %]"
                                    >[% filedata.label %] (.[% filetype %])
                                </option>
                            [% END %]
                        </select>
                    </td>
                </tr>
           </tbody>
        </table>
        <div class="form-actions">
            <input id="dialog-submit" type="submit" class="button140" value="Gebruiken">
        </div>
    </form>
</div>
