<table class="kenmerk_resultaten">
<tr class="table_zaken_title_tr">
    <td class="table_zaken_title_td250">Naam:</td>
    <td class="table_zaken_title_td150">Invoertype:</td>
    <td class="table_zaken_title_td150">Categorie:</td>
</tr>

[% FOREACH result = results %]
<tr class="table_zaken_tr vertical-align-top" id="[% result.id %]">
    <td class="table_zaken_td250 kenmerk_naam">[% result.naam %]</td>
    <td class="table_zaken_td150">[% result.invoertype %]</td>
    <td class="table_zaken_td150">[% result.categorie %]</td>
</tr>
[% END %]

</table>