<div class="document-component ng-cloak" data-ng-droppable="pip||!readOnly" data-ng-drop-mimetype="Files">
	
	<div class="document-list-intake-header" data-ng-show="pip&&intake.getFiles().length">
		<h4>%%Documenten in de wachtrij%%</h4>
		<p>%%Onderstaande documenten staan in de wachtrij voor beoordeling%%</p>
	</div>
	
	<div class="document-list document-list-intake" data-ng-controller="nl.mintlab.docs.DocumentListController" data-ng-init="root=intake;maxDepth=0" data-ng-include="'/docs/file-list.html'" data-ng-show="root.getFiles().length>0">
	</div>
	
	<div class="document-list" data-ng-controller="nl.mintlab.docs.DocumentListController" data-ng-init="root=list" data-ng-show="view=='list'" data-ng-include="'/docs/file-list.html'">
	</div>
	
	<div class="document-list" data-ng-controller="nl.mintlab.docs.DocumentListController" data-ng-init="root=trash;maxDepth=0" data-ng-show="view=='trash'" data-ng-include="'/docs/file-list.html'">
	</div>
	
	<div class="document-upload-component <[toGo.length&&'document-upload-component-visible'||'']>" data-ng-controller="nl.mintlab.docs.DocumentUploadController" data-ng-class="{'document-upload-component-error':!toGo.length&&failed.length&&completed.length}">
		<div class="doc-ul-progress-bar" data-ng-show="toGo.length">
			<div class="doc-ul-progress-bar-inner" data-zs-style="width: <[getProgressBarWidth()]>%;">
			</div>
		</div>
		<div class="doc-ul-progress-info" data-ng-show="toGo.length">
			<span class="left"><span data-ng-pluralize data-count="uploadQueue.length" data-when="{ 'one': '%%{} bestand wordt geüpload%%', 'other': '%%{} bestanden worden geüpload%%' }"></span> (<a data-ng-click="abortUpload()">%%annuleren%%</a>)</span>
			<span class="right"><[progress*100|number:0]>%
		</div>
		<div class="doc-ul-progress-result" data-ng-class="{'doc-ul-progress-result-error':!toGo.length&&failed.length&&completed.length}">
    		<div class="doc-ul-progress-done" data-ng-show="!toGo.length&&completed.length">
    			<i></i>
    			<span data-ng-pluralize data-count="completed.length" data-when="{'one': '%%{} bestand geüpload%%', 'other': '%%{} bestanden geüpload%%'}"></span>
    		</div>
    		<div class="doc-ul-progress-error" data-ng-show="!toGo.length&&failed.length">
    			<i></i>
    			<span data-ng-pluralize data-count="failed.length" data-when="{'one': '%%{} bestand kon niet worden geüpload%%', 'other': '%%{} bestanden konden niet worden geüpload%%'}"></span>
    		</div>
		</div>
	</div>
	
	

	<div class="drop-zone-feedback">%%Sleep hier bestanden naartoe om toe te voegen%%</div>

</div>

<script type="text/ng-template" id="/docs/file-list.html">
	
	<div class="document-list-actions" data-ng-show="root==list||root==trash">
		<ul class="document-list-actions-left">
			<li class="document-list-action shiny-btn document-list-upload" data-ng-show="view=='list'" data-ng-upload="uploadFile($files)" data-zs-title="%%Upload een document van uw computer%%">
				<button>
					%%Upload%%
				</button>
				
				<form action="<[pip&&'/pip/file/create'||'/file/create']>" method="POST" enctype="multipart/form-data">
					<input type="file" name="file" multiple/>
				</form>
			</li>
			<li class="document-list-action shiny-btn document-list-create-folder" data-ng-show="!readOnly&&!pip&&view=='list'" data-zs-title="%%Maak een nieuwe map aan%%">
				<button data-ng-click="addFolder(list,'%%Nieuwe map%%');">
					%%Nieuwe map%%
				</button>
			</li>
			<li class="document-list-action shiny-btn document-list-create-from-template" data-ng-controller="nl.mintlab.docs.TemplateController" data-ng-show="templates.length&&!readOnly&&view=='list'" data-zs-title="%%Genereer een document van een sjabloon%%">
				<button data-zs-popup="'/partials/docs/template.html'" data-ng-click="openPopup()">
					%%Sjabloon%%
				</button>
			</li>
		</ul>
		<ul>
			<li class="document-list-action shiny-btn document-list-search">
				<form>
					<input type="text" data-ng-change="deselectAll()" data-ng-model="$parent.filterQuery"/>
				</form>
			</li>
			<li class="document-list-action shiny-btn document-list-trash" data-ng-show="!pip&&view=='list'">
				<button data-ng-click="setView('trash')">
					%%Prullenbak%% (<[trash.getFolders().length+trash.getFiles().length]>)
				</button>
			</li>
			<li class="document-list-action shiny-btn document-list-list" data-ng-show="view=='trash'">
				<button data-ng-click="setView('list')">
					%%Documenten%%
				</button>
			</li>
		</ul>
	</div>
	

	<div class="case-documents-bar clearfix" data-ng-show="root==list&&caseDocs.length"> 
	    <ul>
	        <li class="case-documents-bar-title"><small>%%Zaakdocumenten%%:</small></li>
	    	<li data-ng-repeat="caseDoc in caseDocs" class="list-view-entity-label <[getCaseDocAssignment(caseDoc)&&'case-doc-type-assigned'||'']>" data-ng-draggable="!readOnly&&isNotReferentialCaseDoc(caseDoc)" data-ng-drag-mimetype="zs/case-type" data-ng-drag-data="{ caseDoc: caseDoc, clearPrevious: false }">
	    		<span unselectable="on"><[getCaseDocLabel(caseDoc)]></span>
    		</li>
	    </ul>
	</div>
	
	<ul class="action-bar" data-ng-show="selectedFiles.length>0&&dragging!='zs/file'">
		<li class="action-bar-select" data-ng-show="!readOnly">
			<input type="checkbox" data-ng-click="onSelectAllClick($event)" data-ng-checked="isSelected(root)"/>
		</li>
		<li class="action-bar-button" data-ng-show="!readOnly&&selectedFiles.length==1&&selectedFiles[0].getEntityType()=='folder'">
			<button data-zs-popup="'/partials/docs/edit-directory-name.html'" data-ng-click="openPopup()">
				<span class="action-bar-button-label">%%Naam wijzigen%%</span>
			</button>
		</li>
		<li class="action-bar-button" data-ng-show="selectedFiles.length==1&&selectedFiles[0].getEntityType()=='file'">
		<button class="action-bar-button-label" onclick="window.open('/zaak/<[selectedFiles[0].case_id.id]>/document/<[selectedFiles[0].id]>/download')" target="_blank">
				<span>%%Downloaden%%</span>
			</button>
		</li>
		<li class="action-bar-button" data-ng-show="selectedFiles.length==1&&selectedFiles[0].getEntityType()=='file'" data-zs-dropdown-menu>
			<button class="action-bar-dropdown-toggle">
				<span class="action-bar-open-dropdown"></span>
			</button>
			<ul class="action-bar-dropdown-menu doc-dropdown-menu">
				<li class="action-bar-button">
					<button onclick="window.open('/zaak/<[selectedFiles[0].case_id.id]>/document/<[selectedFiles[0].id]>/download/pdf')" class="doc-dropdown-menu-item">
						&hellip; %%als PDF%%
					</button>
					<button onclick="window.open('/zaak/<[selectedFiles[0].case_id.id]>/document/<[selectedFiles[0].id]>/download/odt')" class="doc-dropdown-menu-item" data-ng-show="selectedFiles[0].extension_dotless=='odt'">
						&hellip; %%als Open Office Document%%
					</button>
					<button onclick="window.open('/zaak/<[selectedFiles[0].case_id.id]>/document/<[selectedFiles[0].id]>/download/doc')" class="doc-dropdown-menu-item" data-ng-show="selectedFiles[0].extension_dotless=='odt'">
						&hellip; %%als Word Document%%
					</button>
				</li>
			</ul>
		</li>
		<!--li class="action-bar-button" data-ng-show="!readOnly&&root==list&&selectedFiles.length==1&&selectedFiles[0].getEntityType()=='file'">
			<button>
				<span class="action-bar-button-label">%%Bewerken%%</span>
			</button>
		</li-->
		<li class="action-bar-button" data-ng-show="!readOnly&&root==list">
			<button data-ng-click="removeEntity(selectedFiles)">
				<span class="action-bar-button-label">%%Verwijderen%%</span>
			</button>
		</li>
		<li class="action-bar-button" data-ng-show="!readOnly&&root==trash">
			<button data-ng-click="restoreEntity(selectedFiles)">
				<span class="action-bar-button-label">%%Herstellen%%</span>
			</button>
		</li>
		<li class="action-bar-button" data-ng-show="!readOnly&&root==trash">
			<button data-ng-click="destroyEntity(selectedFiles)">
				<span class="action-bar-button-label">%%Definitief verwijderen%%</span>
			</button>
		</li>
		<li class="action-bar-button" data-ng-show="!readOnly&&root==list&&hasFilesInSubdirectories()">
				<button data-ng-click="moveEntity(selectedFiles, root)">
					<span class="action-bar-button-label">%%Verplaats naar hoofdmap%%</span>
				</button>
			</li>
		</li>
		<!--li class="action-bar-button" data-ng-show="!readOnly&&root==list&&isCuttable()">
			<button data-ng-click="cutFiles(selectedFiles)">
				<span class="action-bar-button-label">%%Knippen%%</span>
			</button>
		</li>
		<li class="action-bar-button" data-ng-show="!readOnly&&root==list&&hasCutFiles()">
			<button data-ng-click="clearCutSelection()">
				<span class="action-bar-button-label">%%Knippen annuleren%%</span>
			</button>
		</li>
		<li class="action-bar-button" data-ng-show="!readOnly&&root==list&&isPastable()">
			<button data-ng-click="pasteFiles()">
				<span class="action-bar-button-label">%%Plakken%%</span>
			</button>
		</li-->
		<li class="action-bar-button action-bar-dropdown-button" data-ng-show="!readOnly&&root==list&&caseDocs.length&&selectedFiles.length==1&&selectedFiles[0].getEntityType()=='file'" data-zs-dropdown-menu>
			<button>
				<span class="action-bar-button-label">%%Zaakdocument%%</span>
				<span class="action-bar-open-dropdown"></span>
			</button>
			<ul class="action-bar-dropdown-menu doc-dropdown-menu">
				<li class="action-bar-button case-type-doc" data-ng-class="{ 'case-type-doc-active': hasCaseDoc(selectedFiles, doc)}" data-ng-repeat="doc in [ null ].concat(caseDocs) | filter:isNotReferentialCaseDoc">
					<button data-ng-click="handleCaseDocClick(doc, $event)" class="doc-dropdown-menu-item">
						<i></i>
						<span><[getCaseDocLabel(doc)||'%%Geen%%']></span>
					</button>
				</li>
			</ul>
		</li>
		<li class="action-bar-button" data-ng-show="!readOnly&&root==intake">
			<button data-ng-click="acceptFile(selectedFiles);deselectAll(selectedFiles);">
				<span class="action-bar-button-label">%%Accepteren%%</span>
			</button>
		</li>
		<li class="action-bar-button" data-ng-show="!readOnly&&root==intake">
			<button data-ng-click="rejectFile(selectedFiles);deselectAll(selectedFiles);">
				<span class="action-bar-button-label">%%Weigeren%%</span>
			</button>
		</li>
		<li class="action-bar-button" data-ng-show="!readOnly&&root==list&&selectedFiles.length==1&&selectedFiles[0].getEntityType()=='file'" data-ng-upload="replaceFile(selectedFiles[0], $files)">
			<button class="doc-dropdown-menu-item">
				<span>%%Vervang%% &hellip;</span>
			</button>
			<form action="/file/update_file" method="POST" enctype="multipart/form-data">
				<input type="file" name="file"/>
			</form>
		</li>
		<li class="action-bar-button" data-ng-show="getAttachments().length">
			<button data-ng-click="attachments=getAttachments();openPopup()" data-zs-popup="'/html/case/email-attachment-form.html'" data-ng-init="context='docs'">
				<span class="action-bar-button-label">%%E-mail%% &hellip;</span>
			</button>
		</li>
		<li class="action-bar-button" data-ng-show="selectedFiles.length==1&&selectedFiles[0].getEntityType()=='file'">
			<button data-ng-click="setEditMode(false);openPopup()" data-zs-popup="'/partials/docs/properties-popup.html'">
				<span class="action-bar-button-label">%%Eigenschappen%%</span>
			</button>
		</li>
		
	</ul>
	
	<div data-ng-controller="nl.mintlab.docs.DocumentListViewController" class="list-view" data-ng-show="viewType='listView'">
			
		<div class="list-view-table-header list-view-row" data-ng-show="selectedFiles.length==0&&dragging!='zs/file'">
			<div class="list-view-entity-highlight">
				<div class="list-view-entity-options" data-ng-show="!readOnly">
					<input type="checkbox" data-ng-click="onSelectAllClick($event)" data-ng-checked="isSelected(root)"/>
				</div>
				<div class="list-view-col list-view-entity-title list-view-sort" data-ng-click="sortBy('name')">
					<span class="list-view-col-title">%%Titel%%</span>
					<span class="list-view-col-state-asc" data-ng-show="sort=='name'&&reversed">&#9650;</span>
					<span class="list-view-col-state-desc" data-ng-show="sort=='name'&&!reversed">&#9660</span>
				</div>
				<div class="list-view-col list-view-entity-type list-view-sort" data-ng-click="sortBy('type')">
					<span class="list-view-col-title">%%Soort%%</span>
					<span class="list-view-col-state-asc" data-ng-show="sort=='type'&&reversed">&#9650;</span>
					<span class="list-view-col-state-desc" data-ng-show="sort=='type'&&!reversed">&#9660</span>
				</div>
				<div class="list-view-col list-view-entity-edit list-view-sort" data-ng-click="sortBy('edit')">
					<span class="list-view-col-title">%%Gewijzigd%%</span>
					<span class="list-view-col-state-asc" data-ng-show="sort=='edit'&&reversed">&#9650;</span>
					<span class="list-view-col-state-desc" data-ng-show="sort=='edit'&&!reversed">&#9660</span>
				</div>
				<div class="list-view-col list-view-entity-actions" data-ng-show="!readOnly&&root==intake">
					Acties
				</div>
			</div>
		</div>
		
		<div data-ng-controller="nl.mintlab.docs.FolderController" class="list-view-entity object-type-<[entity.getEntityType()]>" data-ng-init="entity=root" data-zs-multiselect="<[!readOnly]>" data-ng-multiselect="!readOnly" data-ng-include="'/docs/list-view-folder.html'">
			
		</div>
		
	</div>
	
</script>
	
<script type="text/ng-template" id="/docs/list-view-folder.html">
	
	<div class="list-view-entity-info list-view-row <[entity.getDepth()==0 && 'list-view-root' || '']> <[collapsed && 'collapsed' || 'open']> <[isSelected(entity)&&'entity-selected'||'']>" data-ng-click="!pip&&onEntityClick($event,entity)" data-ng-include="'/docs/list-view-entity-info.html'" data-zs-multiselectable data-ng-show="entity.getDepth()>0||dragging=='zs/file'" data-ng-droppable="!readOnly&&entity.getDepth()==0" data-ng-drop-mimetype="zs/file" data-zs-contextmenu="!readOnly&&!pip&&'/partials/docs/doc-context-menu.html'||''">
	</div>
	
	<ul class="list-view-list" data-ng-show="!collapsed">
		<li class="object-type object-type-<[entity.getEntityType()]>" data-ng-class="{'object-type-updating': entity.updating}" data-ng-repeat="entity in entity.getFolders() | orderBy:getSort():reversed" data-ng-droppable="<[entity.getDepth()<=maxDepth]>" data-ng-drop-mimetype="zs/file" data-ng-controller="nl.mintlab.docs.FolderController" data-ng-show="getFilteredChildren(entity).length || filterEntity(entity)" data-ng-include="'/docs/list-view-folder.html'">
		</li>
		<li class="object-type object-type-<[entity.getEntityType()]>" data-ng-class="{'object-type-updating': entity.updating}" data-mimetype="<[entity.getMimeType()]>" data-ng-repeat="entity in (filteredChildren = entity.getFiles() | orderBy:getSort():reversed | filter:filterEntity)" data-ng-draggable="!readOnly&&root==list&&entity.type.name!='zd'" data-ng-drag-mimetype="zs/file" data-ng-drag-data="entity" data-ng-drag-image="'/partials/docs/drag-image.html'" data-ng-droppable="!readOnly&&root==list" data-ng-drop-mimetype="zs/case-type" data-ng-controller="nl.mintlab.docs.FileController" data-ng-include="'/docs/list-view-file.html'" unselectable="on">
		</li>
		<div class="file-list-empty-notice" data-ng-show="entity==root&&!getFilteredChildren().length&&(root==list||root==trash)&&initialized">
			%%Geen bestanden%%
		</div>
		
		
	</ul>
</script>
		
<script type="text/ng-template" id="/docs/list-view-file.html">
	<div class="list-view-entity-info list-view-row <[isSelected(entity)&&'entity-selected'||'']>" data-ng-click="!pip&&onEntityClick($event,entity)" data-ng-include="'/docs/list-view-entity-info.html'" data-zs-multiselectable data-zs-contextmenu="!pip&&'/partials/docs/doc-context-menu.html'||''" unselectable="on">
	</div>
	<div class="new-entity-options" data-ng-switch data-on="root==intake&&!collapsed" data-ng-show="root==intake&&!collapsed">
	    <div class="new-entity-active"></div>
	    <div class="new-entity-revision" data-ng-show="entity.is_duplicate_of">
	    	<form class="inner">
				<div class="row row-version">
					<div class="column large-4">%%Nieuwe versie%%</div>
					<div class="column large-8">
						<label>
							<input type="radio" data-ng-model="update.is_revision" data-ng-value="1" data-ng-change="saveAttr('is_revision')"/>
							%%Ja%%
						</label>
						<label>
							<input type="radio" data-ng-model="update.is_revision" data-ng-value="0" data-ng-change="saveAttr('is_revision')"/>
							%%Nee%%
						</label>
					</div>
				</div>
	      	</form>
	    </div>
	    <div class="inner" data-ng-switch-when="true" data-ng-show="update.is_revision!=1" data-ng-include="'/partials/docs/properties.html'" data-ng-init="intakeMode=true">
	</div>
</script>

<script type="text/ng-template" id="/docs/list-view-entity-info.html">
	<div class="list-view-entity-highlight" unselectable="on">
		<div class="list-view-entity-options" data-ng-show="!readOnly&&entity.getDepth()>0">
			<input type="checkbox" data-ng-checked="isSelected(entity)" data-ng-click="onToggleClick($event, entity)"/>
		</div>
		<div class="list-view-depth-padding" data-ng-repeat="i in [0, 1, 2, 3, 4, 5] | limitTo:entity.getDepth() && entity.getDepth()-1 || 0">
		</div>
		<div class="list-view-entity-title" unselectable="on">
			<div class="list-view-entity-icon" data-zs-file-preview data-ng-mouseover="showPreview()" data-ng-mouseout="hidePreview()" data-ng-click="entity.getEntityType()=='folder'&&toggleCollapse($event)">
				<div class="the-icon"></div>
				<div class="the-eye" data-ng-show="preview"></div>
			</div>
			<div class="list-view-entity-title-text" unselectable="on">
				<div class="list-view-entity-name" data-ng-show="entity==root">
					<span>
						%%Verplaats naar hoofdmap%%
					</span>
				</div>
	    		<div class="list-view-entity-name" data-ng-show="entity!=root" data-ng-editable data-ng-editable-active="<[entity.getEntityType()=='folder'&&editName]>">
	    			<span data-ng-click="onNameClick($event)" unselectable="on">
	    				<[entity.name]><span data-ng-show="entity.extension"><[entity.extension]></span>
	    			</span>
					<form class="inline-form" name="editFolderName" data-ng-submit="editFolderName.$valid&&editSave(folderName)">
	    				<input type="text" data-ng-model="folderName" data-ng-required="true" data-ng-pattern="/^[A-Za-z0-9\s%\^!@&#]+$/"/>
					</form>
	    		</div>
	    		<div class="list-view-entity-label" data-ng-repeat="caseDoc in entity.case_documents" data-ng-draggable="!readOnly&&isNotReferentialCaseDoc(caseDoc)" data-ng-drag-mimetype="zs/case-type" data-ng-drag-data="{ caseDoc: caseDoc, clearPrevious: entity }"><span unselectable="on"><[getCaseDocLabel(caseDoc)]><button data-ng-show="!readOnly" data-ng-click="onRemoveCaseDocClick(caseDoc, $event)"><i class="close" title="%%Verwijder zaakdocument label%%">x</i></button></span>
	    		</div>
	    		
	    		<div data-ng-show="update.is_revision" class="list-view-entity-label list-view-entity-label-revision">
	    			<!--span data-ng-show="root==list">%%Versie%% <[entity.version]></span-->
	    			<span data-ng-show="root==intake">%%Nieuwe versie%%</span>
	    		</div>
	    		
	    		<div class="list-view-entity-desc" data-ng-editable data-ng-model="entity. .description">
	    			<span><[entity.metadata_id.description]></span>
	    			<!--input type="text" value="<[entity.metadata_id.description]>"/-->
	    		</div>
			</div>
			
		</div>
		<div class="list-view-entity-type">
			<span class="list-view-entity-type-ext"><[entity.extension_dotless]></span>
		</div>
		<div class="list-view-entity-edit <[entity.version>1&&'list-view-entity-edit-revised']>" data-ng-show="entity.getEntityType()=='file'" data-ng-click="!pip&&root!=intake&&openPopup()" data-zs-popup="'/partials/docs/doc-version-modal.html'" data-zs-title="<[!pip&&entity.version>1&&'Klik hier om ' + (entity.version-1) + ' versie(s) te zien'||'']>">
			<span class="list-view-entity-edit-datetime"><[(entity.date_modified | date:'short') || '--']></span>
			<span class="list-view-entity-edit-user"><[entity.modified_by]></span>
			<div data-ng-show="entity.version>1" class="list-view-entity-label list-view-entity-label-revision">
	    		  <span>v<[entity.version]></span>
			</div>
		</div>
		<div class="list-view-entity-actions" data-ng-show="!readOnly&&root==intake">
			<button class="intake-document-accept shiny-btn" data-ng-click="acceptFile([entity])"><span>%%Accepteren%%</span></button>
			<button class="intake-document-reject shiny-btn" data-ng-click="rejectFile([entity])"><span>%%Weigeren%%</span></button>
			<button class="intake-document-edit shiny-btn" data-ng-click="setEditMode(true);toggleCollapse($event)"><span>%%Wijzigen%%</span></button>
		</div>
	</div>
</script>

<script type="text/ng-template" id="/partials/docs/doc-context-menu.html">
	<div class="doc-context-menu doc-dropdown-menu">
		<ul>
			<li data-ng-show="!readOnly&&selectedFiles.length==1&&selectedFiles[0].getEntityType()=='folder'">
				<button data-ng-click="openPopup()" data-zs-popup="'/partials/docs/edit-directory-name.html'" class="doc-dropdown-menu-item">
					%%Naam wijzigen%%
				</button>
			</li>
			<li data-ng-show="selectedFiles.length==1&&selectedFiles[0].getEntityType()=='file'">
				<button onclick="window.open('/zaak/<[selectedFiles[0].case_id.id]>/document/<[selectedFiles[0].id]>/download')" target="_blank" class="doc-dropdown-menu-item">
					%%Downloaden%%
				</button>
			</li>
			<li data-ng-show="selectedFiles.length==1&&selectedFiles[0].getEntityType()=='file'" data-zs-hover-menu>
				<span class="doc-dropdown-menu-item"%%>Downloaden als%%</span>
				<ul>
					<li>
						<button onclick="window.open('/zaak/<[selectedFiles[0].case_id.id]>/document/<[selectedFiles[0].id]>/download/pdf')" class="doc-dropdown-menu-item">
							%%PDF%%
						</button>
						<button onclick="window.open('/zaak/<[selectedFiles[0].case_id.id]>/document/<[selectedFiles[0].id]>/download/odt')" class="doc-dropdown-menu-item" data-ng-show="selectedFiles[0].extension_dotless=='odt'">
							%%Open Office Document%%
						</button>
						<button onclick="window.open('/zaak/<[selectedFiles[0].case_id.id]>/document/<[selectedFiles[0].id]>/download/doc')" class="doc-dropdown-menu-item" data-ng-show="selectedFiles[0].extension_dotless=='odt'">
							%%Word Document%%
						</button>
					</li>
				</ul>
			</li>
			<li data-ng-show="!readOnly&&root==list">
				<button data-ng-click="removeEntity(selectedFiles);" class="doc-dropdown-menu-item">
					%%Verwijderen%%
				</button>
			</li>
			<li data-ng-show="!readOnly&&root==trash">
				<button data-ng-click="restoreEntity(selectedFiles)" class="doc-dropdown-menu-item">
					%%Herstellen%%
				</button>
			</li>
			<li data-ng-show="!readOnly&&root==trash">
				<button data-ng-click="destroyEntity(selectedFiles);" class="doc-dropdown-menu-item">
					%%Definitief verwijderen%%
				</button>
			</li>
			<li data-ng-show="!readOnly&&root==list&&hasFilesInSubdirectories()">
				<button data-ng-click="moveEntity(selectedFiles, root)"  class="doc-dropdown-menu-item">
					%%Verplaats naar hoofdmap%%
				</button>
			</li>
			<!--li data-ng-show="!readOnly&&root==list&&isCuttable()">
				<button data-ng-click="cutFiles(selectedFiles)" class="doc-dropdown-menu-item">
					%%Knippen%%
				</button>
			</li>
			<li data-ng-show="!readOnly&&root==list&&isPastable()">
				<button data-ng-click="pasteFiles()" class="doc-dropdown-menu-item">
					%%Plakken%%
				</button>
			</li-->
			<li data-ng-show="!readOnly&&root==intake">
				<button data-ng-click="acceptFile(selectedFiles);deselectAll();" class="doc-dropdown-menu-item">
					%%Accepteren%%
				</button>
			</li>
			<li data-ng-show="!readOnly&&root==intake">
				<button data-ng-click="rejectFile(selectedFiles);deselectAll();" class="doc-dropdown-menu-item">
					%%Weigeren%%
				</button>
			</li>
			<li data-ng-show="getAttachments().length">
				<button data-ng-click="attachments=getAttachments();openPopup()" data-zs-popup="'/html/case/email-attachment-form.html'" data-ng-init="context='docs'" class="doc-dropdown-menu-item">
					%%E-mail%% &hellip;
				</button>
			</li>
			<hr data-ng-show="readOnly&&caseDocs.length&&root==list&&selectedFiles.length==1&&selectedFiles[0].getEntityType()=='file'"/>
			<li data-ng-show="!readOnly&&caseDocs.length&&root==list&&selectedFiles.length==1&&selectedFiles[0].getEntityType()=='file'" data-zs-hover-menu>
				<span class="doc-dropdown-menu-item">%%Zaakdocument%%</span>
				<ul>
					<li class="case-type-doc" data-ng-class="{'case-type-doc-active': hasCaseDoc(selectedFiles, zaakdoc)}" data-ng-repeat="zaakdoc in [ null ].concat(caseDocs) | filter:isNotReferentialCaseDoc">
						<button data-ng-click="handleCaseDocClick(zaakdoc, $event)" class="doc-dropdown-menu-item">
							<i></i>
							<[getCaseDocLabel(zaakdoc)||'%%Geen%%']>
						</button>
					</li>
				</ul>
			</li>
			<li class="action-bar-button" data-ng-show="!readOnly&&root==list&&selectedFiles.length==1&&selectedFiles[0].getEntityType()=='file'" data-ng-upload="replaceFile(selectedFiles[0], $files)">
				<button class="doc-dropdown-menu-item">
					<span>%%Vervang%% &hellip;</span>
				</button>
				<form action="/file/update_file" method="POST" enctype="multipart/form-data">
					<input type="file" name="file"/>
				</form>
			</li>
			<hr data-ng-show="selectedFiles.length==1&&selectedFiles[0].getEntityType()=='file'"/>
			<li data-ng-show="selectedFiles.length==1&&selectedFiles[0].getEntityType()=='file'">
				<button class="doc-dropdown-menu-item" data-zs-popup="'/partials/docs/properties-popup.html'" data-ng-click="setEditMode(false);openPopup()">
					%%Eigenschappen%%
				</button>
			</li>
		</ul>
	</div>
</script>

<script type="text/ng-template" id="/partials/docs/doc-version-modal.html">
	<div data-zs-modal data-ng-init="title='Versies'">
		<div class="doc-version-modal version-control" data-ng-controller="nl.mintlab.docs.VersionController">
			<h3 class="version-control-title">%%Versies%%</h3>
			<ul>
				<li class="clearfix" data-ng-repeat="rev in revisions | orderBy:'version':true">
					<a onclick="window.open('/zaak/<[rev.case_id]>/document/<[rev.file_id]>/download')"><strong><[rev.name]><[rev.extension]></strong></a> - Versie <[rev.version]><span data-ng-show="rev.version_info">"<[rev.version_info]>"</span>
					<button data-ng-show="!readOnly&&entity.id!=rev.file_id" data-ng-click="revertTo(rev)" class="knop knop-bootstrap mini right">
						%%Herstellen%%
					</button>
					<span data-ng-show="entity.id==rev.file_id" class="right current-version-message">
						%%Huidige versie%%
					</span>
					<span class="right"><[rev.created_by]> <span class="divide">&middot;</span><[rev.date_modified | date:'medium']> </span>
					
				</li>
			</ul>
			<h3 class="version-control-title">Log</h3>
			<div class="version-control-log version-control-inner-scroll">
				<ul>
					<li class="clearfix" data-ng-repeat="log in entity.log">
						<pre><[log.description]></pre>
						<span class="right"><[log.timestamp | date:'medium']></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="/partials/docs/properties-popup.html">
	<div data-zs-modal data-ng-init="title='%%Eigenschappen van%% ' + entity.name + entity.extension;">
		<div data-ng-include="'/partials/docs/properties.html'" data-ng-controller="nl.mintlab.docs.FileController" data-ng-init="entity=selectedFiles[0];editMode=!readOnly">
		</div>
	</div>
</script>

<script type="text/ng-template" id="/partials/docs/properties.html">
	<form name="properties" class="form" data-ng-init="showExpanded=false;">
		<div class="row">
			<div class="column large-4">%%Naam%% *</div>
			<div class="column large-8">
				<span data-ng-show="!editMode" ><[entity.name]><[entity.extension]></span>
				<input type="text" data-ng-show="editMode" name="name" data-ng-required="true" data-ng-pattern="/^[A-Za-z0-9\s%\^!@&#\.\-_]+$/" data-ng-model="update.name" data-ng-blur="properties.name.$valid&&saveAttr('name')" class="large300"/>
			</div>
		</div>
		<div class="row">
			<div class="column large-4">%%Omschrijving%%</div>
			<div class="column large-8">
				<span data-ng-show="!editMode"><[entity.metadata_id.description||'--']></span>
				<input type="text" data-ng-show="editMode" data-ng-model="update.metadata_id.description" data-ng-blur="saveAttr('metadata_id.description')" class="large300"/>
			</div>
		</div>
		<div class="row">
			<div class="column large-4">%%Documentcategorie%%</div>
			<div class="column large-8">
				<span data-ng-show="!editMode"><[entity.metadata_id.document_category||'--']></span>
				<select data-ng-show="editMode" data-ng-model="update.metadata_id.document_category" data-ng-change="saveAttr('metadata_id.document_category')" data-ng-options="docCat.label as docCat.value for docCat in $parent.docCats | orderBy:index">
					
				</select>
			</div>
		</div>
		<div class="row">
			<div class="column large-4">%%Vertrouwelijkheid%%</div>
			<div class="column large-8">
				<span data-ng-show="!editMode"><[entity.metadata_id.trust_level||'--']></span>
				<select data-ng-show="editMode" data-ng-model="update.metadata_id.trust_level" data-ng-change="saveAttr('metadata_id.trust_level')" data-ng-options="value for value in $parent.validTrustLevels">
					
				</select>
			</div>
		</div>
		<div class="row">
			<div class="column large-4">%%Richting%%</div>
			<div class="column large-8">
				<span data-ng-show="!editMode"><[entity.metadata_id.origin||'--']></span>
				<select data-ng-show="editMode" data-ng-model="update.metadata_id.origin" data-ng-change="saveAttr('metadata_id.origin')" data-ng-options="value for value in $parent.validOrigins">
					
				</select>
			</div>
		</div>
		<div class="row">
			<div class="column large-4">%%Publicatie%%</div>
			<div class="column large-8">
				<div data-ng-show="!editMode">
					<span data-ng-show="entity.publish_pip==1">%%Publiceren op PIP%%</span>
					<span data-ng-show="entity.publish_pip!=1">%%Niet publiceren op PIP%%</span>
				</div>
				<label data-ng-show="editMode">
					<input type="checkbox" data-ng-checked="update.publish_pip==1" data-ng-model="update.publish_pip" data-ng-change="saveAttr('publish_pip')"/> %%Publiceer op PIP%%
				</label>
				<div data-ng-show="!editMode">
					<span data-ng-show="entity.publish_website==1">%%Publiceren op website%%</span>
					<span data-ng-show="entity.publish_website!=1">%%Niet publiceren op website%%</span>
				</div>
				<label data-ng-show="editMode">
					<input type="checkbox" data-ng-checked="update.publish_website==1" data-ng-model="update.publish_website" data-ng-change="saveAttr('publish_website')" /> %%Publiceer op website%%
				</label>
			</div>
		</div>
		
		<div class="row" data-ng-show="intakeMode" data-ng-controller="nl.mintlab.docs.FileIntegrityController" data-ng-init="verifyIntegrity()">
			<div class="column large-4">%%Integriteit bestand%%</div>
			<div class="column large-8">
				<span data-ng-show="loading">%%Controleert integriteit bestand%%...</span>
				<span class="file-verified-success has-icon" data-ng-show="!loading&&status=='verified'"><i class="icon icon-integrity-ok icon-docs"></i> %%Bestand geverifieerd%%.</span>
				<span class="file-verified-error has-icon" data-ng-show="!loading&&status=='error'"><i class="icon icon-integrity-not-ok icon-docs"></i> %%Bestand kon niet geverifieerd worden%%.</span>
			</div>
		</div>
		
		<div class="row" data-ng-show="showExpanded">
			<div class="column large-4">%%Documentnummer%%</div>
			<div class="column large-8"><[entity.id]></div>
		</div>	

		<div class="row" data-ng-show="showExpanded">
			<div class="column large-4">%%Soort%%</div>
			<div class="column large-8"><[entity.filestore_id.mimetype]></div>
		</div>
		
		<div class="row" data-ng-show="showExpanded">
			<div class="column large-4">%%Bestandsgrootte%%</div>
			<div class="column large-8"><[entity.filestore_id.size|size:0]></div>
		</div>
	
		<div class="row" data-ng-show="showExpanded">
			<div class="column large-4">%%Versie%%</div>
			<div class="column large-8"><[entity.version]></div>
		</div>
		
		<div class="row" data-ng-show="showExpanded">
			<div class="column large-4">%%MD5-Hash%%</div>
			<div class="column large-8"><[entity.filestore_id.md5]></div>
		</div>
		
		<div class="row" data-ng-show="showExpanded">
			<div class="column large-4">%%Origineel of geconverteerd%%</div>
			<div class="column large-8">%%Origineel%%</div>
		</div>
		
		<button type="button" class="show-more knop-text" data-ng-class="{ 'show-less': showExpanded }" data-ng-click="showExpanded=!showExpanded">
    		<i class="icon icon-show-more"></i>
    		<span data-ng-show="!showExpanded">%%Toon uitgebreide informatie%%</span>
    		<span data-ng-show="showExpanded">%%Verberg uitgebreide informatie%%</span>
		</button>
		
		<!--input data-ng-show="!readOnly&&intakeMode" type="submit" class="button140 entity-option-accept" value="Accepteren" data-ng-click="acceptFile([entity])"/-->
	</form>
</script>

<script type="text/ng-template" id='/partials/docs/drag-image.html'>
	<div class="drag-image">
		<div class="drag-single-file" data-ng-show="selectedFiles.length==1">
			<div class="drag-mimetype-icon" data-mimetype="<[selectedFiles[0].getMimeType()]>"></div>
			<div class="drag-label">
				<strong>%%Verplaats%%</strong> <[selectedFiles[0].name]><[selectedFiles[0].extension]>
			</div>
		</div>
		<div class="drag-multiple-files" data-ng-show="selectedFiles.length>1">
			<div class="drag-mimetype-icon"></div>
			<div class="drag-label">
				<strong>%%Verplaats%%</strong> <[selectedFiles.length]> %%documenten%%
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="/partials/docs/edit-directory-name.html">
	<div data-zs-modal  data-ng-init="title='Wijzig naam'">
    	<form name="editFolderName" data-ng-controller="nl.mintlab.docs.FolderController" data-ng-init="entity=selectedFiles[0]" data-ng-submit="editFolderName.$valid&&saveName(update.name);editFolderName.$valid&&closePopup()">
    		<div class="row">
    			<div class="column large-4">%%Naam%%</div>
    			<div class="column large-8">
    				<input type="text" name="name" data-ng-required="true" data-ng-model="update.name" data-ng-pattern="/^[A-Za-z0-9\s%\^!@&#\.\-_]+$/" data-ng-blur="editFolderName.name.$valid&&saveName(update.name)"/>
    			</div>
    		</div>
		</form>
	</div>
</script>

<script type="text/ng-template" id="/partials/docs/template.html">
	<div data-zs-modal data-ng-init="title='%%Sjabloon gebruiken%%'">
		<form name="template-form" class="doc-template-form form" data-ng-submit="createFileFromTemplate(name,template,caseDocument.id,targetFormat);closePopup()">
		
			<div class="row">
				<div class="column large-4">%%Sjabloon%%</div>
				<div class="column large-8">
					<select data-ng-model="$parent.$parent.template" data-ng-options="template as template.bibliotheek_sjablonen_id.naam for template in templates">
						
					</select>
				</div>
			</div>
			
			<div class="row">
				<div class="column large-4">%%Naam%%</div>
				<div class="column large-8">
					<input type="text" data-ng-model="$parent.$parent.name" data-ng-required="true" class="large300"/>
					<span><['.' + targetFormat]></span>
				</div>
			</div>
			
			<div class="row">
				<div class="column large-4">%%Opslagformaat%%</div>
				<div class="column large-8">
					<label>
						<input type="radio" data-ng-model="targetFormat" value="odt"/>
						odt
					</label>
					<label>
						<input type="radio" data-ng-model="targetFormat" value="pdf"/>
						pdf
					</label>
				</div>
			</div>
			
			<div class="row" data-ng-show="caseDocs.length">
				<div class="column large-4">%%Zaakdocument%%</div>
				<div class="column large-8">
					<select data-ng-model="caseDocument" data-ng-options="(caseDoc.label||caseDoc.bibliotheek_kenmerken_id.naam) for caseDoc in caseDocs">
						<option value="">%%Geen%%</option>
					</select>
				</div>
			</div>
			
			<div class="form-actions">
				<button data-ng-disabled="template-form.$invalid" class="button140 right">
					%%Gebruiken%%
				</button>
			</div>
		</form>
	</div>
</script>

<script type="text/ng-template" id="/partials/docs/email-template-popup.html">
	<div data-zs-modal data-ng-init="title='%%E-mail versturen%%'">
		<form data-ng-controller="nl.mintlab.docs.EmailTemplateController">
		</form>
	</div>
</script>
