<ul class="spot-enlighter-menu" data-ng-show="entries.length">
	<li data-ng-repeat="entry in entries">
		<div class="spot-enlighter-case-title">
			<i></i>
			<span><[entry.object.street]> <[entry.object.number]>, <[entry.object.city]></span>
		</div>
		<small class="spot-enlighter-entry-desc">
			<[entry.object.postal_code]>
		</small>
	</li>
</ul>