[% RETURN IF c.user_exists -%]
[% nowrapper=1 -%]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" lang="nl">

<!--[if IE 7 ]>    <html class="ie ie7 oldie"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 oldie"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" lang="nl"><!--<![endif]-->

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1; maximum-scale=1; user-scalable=0;" />

	<title>[% c.config.gemeente.naam_lang %]</title>

    <link href="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/form/[% c.config.gemeente_id %]/css/default.css" rel="stylesheet" type="text/css" />
	<link href="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/form/[% c.config.gemeente_id %]/css/print.css" rel="stylesheet" type="text/css" media="print" />
	
    [% PROCESS form/common_form_header_includes.tt %]
    
    <link media="screen" href="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/form/[% c.config.gemeente_id %]/css/[% c.config.gemeente_id %].css" type="text/css" rel="stylesheet" />

    <link type="image/x-icon" href="http://www.[% c.config.gemeente_id %].nl/favicon.ico" rel="shortcut icon" />
    
    [% PROCESS layouts/common_header_includes_js.tt %]
    
</head>

<body data-ng-app="Zaaksysteem" class="[% extra_body_class %][% IF pip %] pip-body[% END %]">
        
	<div id="container">
		<div id="wrapper">
		<ul id="direct-links">
			<li><a href="#start">Direct naar de inhoud</a></li>
			<li><a href="#toptaken">Direct naar de toptaken</a></li>
			<li><a href="#search">Direct naar het zoekscherm</a></li>
		</ul>
		<div id="header">
			<div class="center-align">
				<div id="header-content">
					<p id="logo"><a href="http://www.vianen.nl/" title="Gemeente Vianen" class=""><img src="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/form/[% c.config.gemeente_id %]/img/logo.png" width="613" height="162" alt="Gemeente Vianen"></a></p>
					
					<p class="skip"><a href="#start">Toptaken overslaan</a></p>

				</div>
				<figure><img src="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/form/[% c.config.gemeente_id %]/img/boot.jpg" width="800" height="557" alt="Haven"></figure>
			</div>
		</div>
		<div id="main" class="center-align">