[% layout_type = 'simple' %]

<div class="pip_inlog_wrapper">
    
    <h1>Mijn [% c.config.gemeente.naam %]</h1>
    
    [% IF saml_error %]
        [% PROCESS saml_error_message_block %]
    [% END %]

    <div class="pip_inlog clearfix">
        
        <div class="left flex50">
        
            <div class="pip-block">
                <h2 class="pip-block-header">Inloggen Burger</h2>

                <div class="pip-block-content">
                    <p class="pip-block-content-intro">Bent u een burger? Log dan in met uw DigiD inlogcode om gebruik te maken van uw PIP.</p>

                    [% FOREACH idp IN idps %]
                    <a href="[% c.uri_for('/pip/login/natuurlijk_persoon', { idp_id => idp.id }) %]" class="id-knop id-knop-klein">
                        Inloggen met [% idp.name %]
                    </a>
                    [% END %]
                    
                    <div class="prelogin-info prelogin-info-pip clearfix">
                    
                        <div class="prelogin-logos col">
                            <a href="http://www.digid.nl/" class="prelogin-info-logo">
                                <img width="50" height="50"
                                src="images/digid_eo_rgb_50.gif" alt="digid
                                logo"/>
                            </a>
                        </div>
                        
                        <div class="prelogin-info-tekst col">
                            <strong>Wat is DigiD?</strong>
                            <p>Met uw persoonlijke DigiD kunt u inloggen op
                            de website van de gemeente [% c.config.gemeente.naam %] om zaken te
                            regelen.
                            Bijvoorbeeld een vergunning of uittreksel. Uw
                            DigiD bestaat uit een gebruikersnaam en een
                            wachtwoord. Klik op het DigiD-logo voor meer
                            informatie of ga naar <a href="http://www.digid.nl">http://www.digid.nl</a></p>
                        </div>

                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
        
        
        <div class="flex50">
        
            <div class="pip-block">
                <h2 class="pip-block-header">Inloggen Organisatie</h2>
                
                <div class="pip-block-content">
                    <p class="pip-block-content-intro">Bent u een organisatie? Log dan in met uw [% c.config.gemeente.naam %]ID inlogcode om gebruik te maken van uw PIP.</p>
                    <a href="[%
                        c.uri_for('/pip/login/bedrijf')
                    %]" class="link id-knop-[% c.config.gemeente_id %]id id-knop id-knop-klein">Inloggen met [% c.config.gemeente.naam %]<span>ID</span></a>
                    
                    <div class="prelogin-info prelogin-info-pip clearfix">
                    
                        <div class="prelogin-logos col">
                            <a href="[% c.config.gemeente.gemeente_id_url %]" class="prelogin-info-logo">
                            <img width="50" height="50"
                            src="images/bedrijfsid/[% c.config.gemeente_id %]id_50.gif" alt="[% c.config.gemeente_id %]id logo"  /></a>
                        </div>
                        
                        <div class="prelogin-info-tekst col">
                            <strong>Wat is een [% c.config.gemeente.naam %]ID?</strong>
                            <p>[% c.config.gemeente.naam %]ID is een authenticatiemiddel voor
                            organisaties om zaken te regelen bij de gemeente
                            [% c.config.gemeente.naam %]. Het [% c.config.gemeente.naam %]ID bestaat uit een
                            gebruikersnaam en een wachtwoord. Bent u een
                            onderneming of instelling en heeft u nog geen
                            [% c.config.gemeente.naam %]ID?  Vraag deze dan gratis aan door op het
                            logo te klikken.</p>
                        </div>
                        
                    </div> <!-- prelogin-info -->
                    
                </div> <!-- pip-block-content -->
                        
            </div> <!-- pip-block -->
            
        </div> <!-- flex50 -->
        
    </div> 
        
</div>

[% BLOCK saml_error_message_block %]
    <div class="saml_error">

    [% SWITCH saml_error %]
        [% CASE 'cancelled' %]
        <span>U heeft de DigiD aanmelding geannuleerd.</span>
        [% CASE %]
        <span>Er is een fout opgetreden in de communicatie met DigiD. Probeert u het later nogmaals.</span>
    [% END %]

    </div>
[% END %]
