                    <tr>
                        <td class="td-label">
                            <span>Contactkanaal</span>
                        </td>
                        <td>
                            <select name="ztc_contactkanaal" class="contactkanaal replace-select-start-zaak">
                                [% FOREACH contactkanaal IN ZCONSTANTS.contactkanalen %]
                                    <option
                                    value="[% contactkanaal %]"
                                    > [% contactchannel_prefix %][% contactkanaal | ucfirst %]</option>
                                [% END %]
                            </select>
                        </td>
                        <td>
                            [% PROCESS widgets/general/validator.tt %]
                            [% PROCESS widgets/general/tooltip.tt
                                message = 'Selecteer het contactkanaal van deze zaak.'                
                            %]
                        </td>
                    </tr>
