* {
	margin: 0;
	padding: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	text-align: left;
	vertical-align: baseline; }
 
a img, :link img, :visited img { border: 0; }
 
/*ul {
list-style-type: disc;
list-style-position: outside;
}*/
ol {
	list-style-type: disc;
	list-style-position: outside;
	list-style-type: decimal; }
 
table {
	border-collapse: collapse;
	border-spacing: 0; }
 
	table thead { font-weight: bold; }
 
q:before, q:after, blockquote:before, blockquote:after { content: ""; }
 
caption, th, td {
	text-align: left;
	vertical-align: middle; }
 
.columnContainer {
	padding: 0;
	margin: 0; }
 
.column {
	float: left;
	display: block;
	position: relative; }
 
div.last { margin-right: 0; }
 
.half { width: 38.008em; }
 
.col2_50_50 .column { width: 38.008em; }
 
	.col2_50_50 .column .col2_50_50 .column { width: 18.1775em; }
 
	.col2_50_50 .column .col2_33_66 .column { width: 12.06328em; }
 
	.col2_50_50 .column .col2_33_66 div.last { width: 24.29188em; }
 
	.col2_50_50 .column .col2_66_33 .column { width: 24.29188em; }
 
	.col2_50_50 .column .col2_66_33 div.last { width: 12.06328em; }
 
	.col2_50_50 .column .col2_75_25 .column { width: 28.09269em; }
 
	.col2_50_50 .column .col2_75_25 div.last { width: 8.262581em; }
 
	.col2_50_50 .column .col2_25_75 .column { width: 8.262581em; }
 
	.col2_50_50 .column .col2_25_75 div.last { width: 28.09269em; }
 
	.col2_50_50 .column .col3_33_33_33 .column { width: 11.6em; }
 
	.col2_50_50 .column .col3_20_60_20 .column { width: 20.82162em; }
 
	.col2_50_50 .column .col3_20_60_20 div.first,.col2_50_50 .column .col3_20_60_20 div.last { width: 6.940639em; }
 
	.col2_50_50 .column .col4_25_25_25_25 .column { width: 8.3em; }
 
.col2_66_33 .column { width: 50.732em; }
 
	.col2_66_33 .column .col2_50_50 .column { width: 24.53976em; }
 
	.col2_66_33 .column .col2_66_33 .column { width: 32.71968em; }
 
	.col2_66_33 .column .col2_66_33 div.last { width: 16.35984em; }
 
	.col2_66_33 .column .col2_33_66 .column { width: 16.35984em; }
 
	.col2_66_33 .column .col2_33_66 div.last { width: 32.71968em; }
 
	.col2_66_33 .column .col2_75_25 .column { width: 37.67721em; }
 
	.col2_66_33 .column .col2_75_25 div.last { width: 11.40231em; }
 
	.col2_66_33 .column .col2_25_75 .column { width: 11.40231em; }
 
	.col2_66_33 .column .col2_25_75 div.last { width: 37.67721em; }
 
	.col2_66_33 .column .col3_33_33_33 .column { width: 15.85em; }
 
	.col2_66_33 .column .col3_20_60_20 .column { width: 28.50578em; }
 
	.col2_66_33 .column .col3_20_60_20 .first,.col2_66_33 .column .col3_20_60_20 div.last { width: 9.419302em; }
 
	.col2_66_33 .column .col4_25_25_25_25 .column { width: 11.40231em; }
 
	.col2_66_33 .column .col4_25_25_25_25 div.first,.col2_66_33 .column .col4_25_25_25_25 div.last { width: 11.7em; }
 
.col2_66_33 div.last { width: 25.28339em; }
 
.col2_33_66 .column { width: 25.28339em; }
 
.col2_33_66 div.last { width: 50.732em; }
 
	.col2_33_66 div.last .col2_50_50 .column { width: 24.53976em; }
 
	.col2_33_66 div.last .col2_66_33 .column { width: 32.71968em; }
 
	.col2_33_66 div.last .col2_66_33 div.last { width: 16.35984em; }
 
	.col2_33_66 div.last .col2_33_66 .column { width: 16.35984em; }
 
	.col2_33_66 div.last .col2_33_66 div.last { width: 32.71968em; }
 
	.col2_33_66 div.last .col2_75_25 .column { width: 37.67721em; }
 
	.col2_33_66 div.last .col2_75_25 div.last { width: 11.40231em; }
 
	.col2_33_66 div.last .col2_25_75 .column { width: 11.40231em; }
 
	.col2_33_66 div.last .col2_25_75 div.last { width: 37.67721em; }
 
	.col2_33_66 div.last .col3_33_33_33 .column { width: 15.85em; }
 
	.col2_33_66 div.last .col3_20_60_20 .column { width: 28.50578em; }
 
	.col2_33_66 div.last .col3_20_60_20 div.first,.col2_33_66 div.last .col3_20_60_20 div.last { width: 9.419302em; }
 
	.col2_33_66 div.last .col4_25_25_25_25 .column { width: 11.40231em; }
 
	.col2_33_66 div.last .col4_25_25_25_25 div.first,.col2_33_66 div.last .col4_25_25_25_25 div.last { width: 11.7em; }
 
.col2_25_75 .column { width: 18.17764em; }
 
.col2_25_75 div.last { width: 57.83786em; }
 
	.col2_25_75 div.last .col2_50_50 .column { width: 28.09269em; }
 
	.col2_25_75 div.last .col2_66_33 .column { width: 37.51199em; }
 
	.col2_25_75 div.last .col2_66_33 div.last { width: 18.67336em; }
 
	.col2_25_75 div.last .col2_33_66 .column { width: 18.67336em; }
 
	.col2_25_75 div.last .col2_33_66 div.last { width: 37.51199em; }
 
	.col2_25_75 div.last .col3_33_33_33 .column { width: 18.17764em; }
 
.col2_75_25 .column { width: 57.83786em; }
 
	.col2_75_25 .column .col2_50_50 .column { width: 28.09269em; }
 
	.col2_75_25 .column .col2_66_33 .column { width: 37.51199em; }
 
	.col2_75_25 .column .col2_66_33 div.last { width: 18.67336em; }
 
	.col2_75_25 .column .col2_33_66 .column { width: 18.67336em; }
 
	.col2_75_25 .column .col2_33_66 div.last { width: 37.51199em; }
 
	.col2_75_25 .column .col3_33_33_33 .column { width: 18.17764em; }
 
.col2_75_25 div.last { width: 18.17764em; }
 
.col3_20_60_20 .column { width: 44.61775em; }
 
.col3_20_60_20 .first { width: 14.87258em; }
 
.col3_20_60_20 div.last { width: 14.87258em; }
 
.col3_25_50_25 .column { width: 18.2123em; }
 
.col3_25_50_25 div.first {
	padding-left: 19.7958em;
	width: 37.95em; }
 
.col3_25_50_25 .col2_50_50 div {
	padding-left: 0;
	width: 18.1em; }
 
.col3_25_50_25 div#sub { margin-left: -59.3291em; }
 
.col3_33_33_33 .column { width: 24.78764em; }
 
.col4_25_25_25_25 .column { width: 18.2123em; }
 
* html .col3_25_50_25 div.last,* html .col3_25_50_25 div.first,* html .col4_25_25_25_25 .column { width: 18.19em; }
 
* html .col3_25_50_25 div.first {
	padding-left: 19.7958em;
	width: 37.95em; }
 
html,body { height: 100%; }
 
div#fancy_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #666;
	display: none;
	z-index: 30; }
 
* html div#fancy_overlay { position: absolute; }
 
div#fancy_wrap { text-align: left; }
 
div#fancy_loading {
	position: absolute;
	height: 40px;
	width: 40px;
	cursor: pointer;
	display: none;
	overflow: hidden;
	background: transparent;
	z-index: 100; }
 
	div#fancy_loading div {
		position: absolute;
		top: 0;
		left: 0;
		width: 40px;
		height: 480px;
		background: transparent url('../images/fancybox/fancy_progress.png') no-repeat; }
 
div#fancy_loading_overlay {
	position: absolute;
	background-color: #fff;
	z-index: 30; }
 
div#fancy_loading_icon {
	position: absolute;
	background: url('../images/fancybox/fancy_loading.gif') no-repeat;
	z-index: 35;
	width: 16px;
	height: 16px; }
 
div#fancy_outer {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	padding: 18px 18px 33px 18px;
	margin: 0;
	overflow: hidden;
	background: transparent;
	display: none; }
 
div#fancy_inner {
	position: relative;
	width: 100%;
	height: 100%;
	border: 1px solid #bbb;
	background: #fff; }
 
div#fancy_content {
	margin: 0;
	z-index: 100;
	position: absolute; }
 
div#fancy_div {
	background: #000;
	color: #fff;
	height: 100%;
	width: 100%;
	z-index: 100; }
 
img#fancy_img {
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
	padding: 0;
	margin: 0;
	z-index: 100;
	width: 100%;
	height: 100%; }
 
div#fancy_close {
	position: absolute;
	top: -12px;
	right: -15px;
	height: 30px;
	width: 30px;
	background: url('../images/fancybox/fancy_closebox.png') top left no-repeat;
	cursor: pointer;
	z-index: 181;
	display: none; }
 
#fancy_frame {
	position: relative;
	width: 100%;
	height: 100%; }
 
#fancy_ajax {
	width: 100%;
	height: 100%;
	overflow: auto; }
 
a#fancy_left,a#fancy_right {
	position: absolute;
	bottom: 0;
	height: 100%;
	width: 35%;
	cursor: pointer;
	z-index: 111;
	display: none;
	background-image:url(data: image/gif;
	base64,AAAA);
	outline: none; }
 
a#fancy_left { left: 0; }
 
a#fancy_right { right: 0; }
 
span.fancy_ico {
	position: absolute;
	top: 50%;
	margin-top: -15px;
	width: 30px;
	height: 30px;
	z-index: 112;
	cursor: pointer;
	display: block; }
 
span#fancy_left_ico {
	left: -9999px;
	background: transparent url('../images/fancybox/fancy_left.png') no-repeat; }
 
span#fancy_right_ico {
	right: -9999px;
	background: transparent url('../images/fancybox/fancy_right.png') no-repeat; }
 
a#fancy_left:hover { visibility: visible; }
 
a#fancy_right:hover { visibility: visible; }
 
a#fancy_left:hover span { left: 20px; }
 
a#fancy_right:hover span { right: 20px; }
 
.fancy_bigIframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent; }
 
div#fancy_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 70;
	border: 0;
	padding: 0;
	margin: 0; }
 
div.fancy_bg {
	position: absolute;
	display: block;
	z-index: 70;
	border: 0;
	padding: 0;
	margin: 0; }
 
div.fancy_bg_n {
	top: -18px;
	width: 100%;
	height: 18px;
	background: transparent url('../images/fancybox/fancy_shadow_n.png') repeat-x; }
 
div.fancy_bg_ne {
	top: -18px;
	right: -13px;
	width: 13px;
	height: 18px;
	background: transparent url('../images/fancybox/fancy_shadow_ne.png') no-repeat; }
 
div.fancy_bg_e {
	right: -13px;
	height: 100%;
	width: 13px;
	background: transparent url('../images/fancybox/fancy_shadow_e.png') repeat-y; }
 
div.fancy_bg_se {
	bottom: -18px;
	right: -13px;
	width: 13px;
	height: 18px;
	background: transparent url('../images/fancybox/fancy_shadow_se.png') no-repeat; }
 
div.fancy_bg_s {
	bottom: -18px;
	width: 100%;
	height: 18px;
	background: transparent url('../images/fancybox/fancy_shadow_s.png') repeat-x; }
 
div.fancy_bg_sw {
	bottom: -18px;
	left: -13px;
	width: 13px;
	height: 18px;
	background: transparent url('../images/fancybox/fancy_shadow_sw.png') no-repeat; }
 
div.fancy_bg_w {
	left: -13px;
	height: 100%;
	width: 13px;
	background: transparent url('../images/fancybox/fancy_shadow_w.png') repeat-y; }
 
div.fancy_bg_nw {
	top: -18px;
	left: -13px;
	width: 13px;
	height: 18px;
	background: transparent url('../images/fancybox/fancy_shadow_nw.png') no-repeat; }
 
div#fancy_title {
	position: absolute;
	bottom: -33px;
	left: 0;
	width: 100%;
	z-index: 100;
	display: none; }
 
	div#fancy_title div {
		color: #fff;
		font: bold 12px Arial;
		padding-bottom: 3px; }
 
	div#fancy_title table { margin: 0 auto; }
 
		div#fancy_title table tr td {
			border: 0;
			padding: 0;
			vertical-align: middle; }
 
td#fancy_title_left {
	height: 32px;
	width: 15px;
	background: transparent url('../images/fancybox/fancy_title_left.png') repeat-x; }
 
td#fancy_title_main {
	height: 32px;
	background: transparent url('../images/fancybox/fancy_title_main.png') repeat-x; }
 
td#fancy_title_right {
	height: 32px;
	width: 15px;
	background: transparent url('../images/fancybox/fancy_title_right.png') repeat-x; }
 
.hide {
	margin-left: -999em;
	position: absolute; }
 
.inline-block {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	*display: inline;
	;
	*zoom: 1;
	; }
 
.italic,.message,ol.summary li div.footer { font-style: italic; }
 
.list-style {
	list-style-position: outside;
	list-style-type: none; }
 
.shadow {
	box-shadow: 1px 1px 5px rgba(0,0,0,.25);
	-khtml-box-shadow: 1px 1px 5px rgba(0,0,0,.25);
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,.25);
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.25); }
 
.shadow-light {
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	-khtml-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1); }
 
.shadow-light-hover {
	box-shadow: 0 0 5px rgba(0,0,0,.2);
	-khtml-box-shadow: 0 0 5px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.2); }
 
.textshadow-inset { text-shadow: rgba(0,0,0,.5) -1px -1px 0; }
 
.textshadow-inset-light { text-shadow: rgba(255,255,255,.5) -1px -1px 0; }
 
.text-shadow-light { text-shadow: white 0 1px 0; }
 
.clear-both { clear: both; }
 
.searchPaneTitle {
	font-weight: bold;
	margin-bottom: .75em!important; }
 
ol.summary li {
	list-style-position: outside;
	list-style-type: none!important;
	margin-bottom: 1.5em; }
 
ol.summary dl dt {
	clear: left;
	float: none;
	width: auto; }
 
ol.summary dl dd { padding: .75em 0 .75em 0; }
 
	ol.summary dl dd ul,.popup .scfForm .scfFooterBorder,.scfDropList,.scfListBox,#subscriptionForm #btnArea { margin-bottom: 0; }
 
	ol.summary dl dd ul li {
		display: block;
		margin: 0; }
 
	ol.summary dl dd label {
		font-weight: normal;
		display: inline; }
 
	ol.summary dl dd input {
		background: transparent;
		margin-right: 1.5em;
		padding: 0;
		width: auto;
		border-radius: 2px;
		-khtml-border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px; }
 
ol.summary dl span,#subscriptionForm .warningMessage { color: red; }
 
.ie-6 .scfForm .scfTitleBorder,.ie-7 .scfForm .scfTitleBorder { margin-bottom: 1em; }
 
.ie-6 body.popup .scfForm,.ie-7 body.popup .scfForm { margin-top: 2.5em; }
 
.applemac-safari-5 legend,.ie-8 .scfForm legend,.ie-9 .scfForm legend { top: -1.5em!important; }
 
.scfTitleBorder,#subscriptionForm .area { margin-bottom: 1.5em; }
 
.scfForm legend {
	background: #2a8461;
	border: .09em solid #10714b;
	color: #fff;
	font-weight: bold;
	padding: .75em;
	position: absolute;
	top: -4em; }
 
.scfForm fieldset,#subscriptionForm {
	background: #fbfbfb;
	border: .09em dotted #d5d5d5;
	margin: 1.5em 0 3em;
	overflow: visible;
	padding: 2.5em 1.5em 1.5em 1.5em;
	position: relative; }
 
.scfForm fieldset table input {
	background: transparent none;
	margin-right: 1em;
	padding: 0; }
 
.scfForm fieldset div.scfSectionContent div table label { display: inline; }
 
.scfForm fieldset div.scfSectionContent div div label,#subscriptionForm .msCheckBox label { font-weight: normal; }
 
.scfForm div.scfIntroBorder,.scfForm div.scfFooterBorder { margin: 0 0 1.5em; }
 
.scfForm .scfSectionContent div {
	display: block;
	margin-bottom: .75em;
	overflow: hidden;
	position: relative; }
 
	.scfForm .scfSectionContent div.required { background: transparent URL("../images/required.gif") no-repeat 85% 0%; }
 
	.scfForm .scfSectionContent div.scfSingleLineGeneralPanel,.scfForm .scfSectionContent div.scfNumberGeneralPanel,.scfForm .scfSectionContent div.scfDropListGeneralPanel,.scfForm .scfSectionContent div.scfEmailGeneralPanel,.scfForm .scfSectionContent div.scfMultipleLineGeneralPanel,.scfForm .scfSectionContent div.scfPasswordGeneralPanel,.scfForm .scfSectionContent div.scfFileUploadGeneralPanel,.scfForm .scfSectionContent div.scfListBoxGeneralPanel,.scfForm .scfSectionContent div.scfCheckBoxListGeneralPanel {
		float: left;
		margin-right: 1.58em;
		overflow: hidden;
		width: 55%;
		zoom: 1; }
 
	.scfForm .scfSectionContent div.scfRadioButtonListGeneralPanel,.scfForm .scfSectionContent div.scfDateSelectorGeneralPanel {
		float: left;
		margin-right: 1.58em;
		overflow: hidden;
		width: 55%;
		zoom: 1;
		border: 0;
		padding: 0; }
 
.scfForm .scfSectionContent .scfNumberLabel,.scfForm .scfSectionContent .scfSingleLineTextLabel,.scfForm .scfSectionContent .scfDropListLabel,.scfForm .scfSectionContent .scfEmailLabel,.scfForm .scfSectionContent .scfRadioButtonListLabel,.scfForm .scfSectionContent .scfDateSelectorLabel,.scfForm .scfSectionContent .scfMultipleLineTextLabel,.scfForm .scfSectionContent .scfCheckBoxListLabel,.scfForm .scfSectionContent .scfListBoxLabel,.scfForm .scfSectionContent .scfFileUploadLabel,.scfForm .scfSectionContent .scfPasswordLabel {
	float: left;
	margin: 0 1.58em 0 0;
	padding: .65em 0 0;
	text-align: right;
	width: 25%; }
 
.scfForm .scfSectionContent .scfValidationSummary {
	background-color: #ffeaec;
	border-color: red!important;
	color: red;
	margin: 1.5em 0; }
 
.scfForm table,.scfForm tr,.scfForm td {
	border: 0;
	margin: 0;
	padding: 0;
	padding-top: .75em; }
 
body.popup .scfForm fieldset { margin: 0 1.5em!important; }
 
body.popup .scfSubmitButtonBorder input {
	margin: 0 1.5em!important;
	width: auto!important;
	margin-top: 1.5em!important; }
 
body.popup input,body.popup textarea { width: 212px; }
 
.ie-8 body.popup input,.ie-8 body.popup textarea { width: 150px; }
 
.popup .scfSectionContent div { margin-bottom: .5em; }
 
.scfRequired {
	background: transparent URL("../images/required.gif") no-repeat top left;
	display: block;
	float: left;
	text-indent: -9000em;
	width: 2em; }
 
.scfValidatorRequired {
	background: transparent URL("../images/required.gif") no-repeat top left;
	display: block;
	float: left;
	margin: 0 0 1.5em 0;
	text-indent: -9000em;
	width: 2em; }
 
.noPaddingTop { padding-top: 0!important; }
 
.scfRadioButtonListLabel,.scfDateSelectorLabel,#subscriptionForm table tr td { padding: 0; }
 
.scfValidationSummary ul { margin: 0; }
 
	.scfValidationSummary ul li { list-style-position: inside; }
 
.scfSubmitButtonBorder input,#subscriptionForm table { width: auto; }
 
.scfDropListGeneralPanel select { margin: .65em .5em 0 0!important; }
 
.scfDateSelectorGeneralPanel select {
	margin: .65em .5em 0 0!important;
	margin: 0; }
 
.scfRadioButtonListGeneralPanel,.scfDateSelectorGeneralPanel { padding-top: .75em; }
 
.scfDropListUsefulInfo input {
	border: 0;
	padding: 0; }
 
.scfValidator {
	background: #ffeaec;
	border: .09em solid red;
	display: block;
	margin-top: 1.5em;
	padding: .75em;
	width: 93%;
	-moz-border-radius: .25em;
	-webkit-border-radius: .25em; }
 
.scfNumberUsefulInfo,.scfSingleLineTextUsefulInfo,.scfDropListUsefulInfo,.scfEmailUsefulInfo,.scfRadioButtonListUsefulInfo,.scfDateSelectorUsefulInfo,.scfMultipleLineTextUsefulInfo,.scfListBoxUsefulInfo,.scfCheckBoxListUsefulInfo,.scfFileUploadUsefulInfo,.scfPasswordUsefulInfo {
	background: #fcae3b URL("../images/yellow-background.gif") no-repeat top left;
	border: .09em solid #fcae3b;
	margin: 1.5em 0 0 0;
	padding: .75em;
	width: 93%;
	-moz-border-radius: .25em;
	-webkit-border-radius: .25em; }
 
.scfValidationSummary {
	background: #fcae3b URL("../images/yellow-background.gif") no-repeat top left;
	border: .09em solid #fcae3b;
	margin: 1.5em 0 0 0;
	padding: .75em;
	width: 93%;
	-moz-border-radius: .25em;
	-webkit-border-radius: .25em;
	color: red;
	margin-bottom: 3em; }
 
body.popup .scfValidator { width: 85%; }
 
.scfRadioButtonList input,.scfRadioButtonListGeneralPanel input {
	background: transparent;
	border: 0;
	padding: 0;
	width: auto; }
 
.scfRadioButtonListGeneralPanel table label {
	display: inline;
	font-weight: normal;
	margin-right: 1em; }
 
.scfCheckbox {
	text-align: right;
	clear: both;
	display: block;
	overflow: hidden; }
 
	.scfCheckbox input {
		background-image: none;
		margin-right: 1.58em;
		margin-left: 28%;
		width: auto;
		float: left; }
 
	.scfCheckbox label {
		display: inline;
		float: left; }
 
.scfCheckboxUsefulInfo {
	background: #fcae3b URL("../images/yellow-background.gif") no-repeat top left;
	border: .09em solid #fcae3b;
	margin: 1.5em 0 0 28%;
	padding: .75em;
	width: 51%;
	-moz-border-radius: .25em;
	-webkit-border-radius: .25em;
	clear: both; }
 
.help-toggle {
	font-size: .9em!important;
	font-weight: normal; }
 
.hiddenControl,#subscriptionForm table tr br { display: none; }
 
#subscriptionForm legend {
	font-weight: bold;
	margin: 0; }
 
#subscriptionForm .title {
	background: #2a8461;
	border: .09em solid #10714b;
	color: #fff;
	font-weight: bold;
	padding: .75em;
	position: absolute;
	top: -1.5em; }
 
#subscriptionForm .msCheckBox input {
	float: left;
	margin-right: 1em;
	margin-top: .25em;
	padding: 0;
	width: auto; }
 
#subscriptionForm table tr { border-bottom: 0; }
 
	#subscriptionForm table tr input { background: transparent none; }
 
#subscriptionForm .captchaImage { border: .08em solid #ccc; }
 
table.jCalendar {
	border: 1px solid #000;
	background: #aaa;
	border-collapse: separate;
	border-spacing: 0;
	font-size: 10px;
	margin: 0; }
 
	table.jCalendar th,table.jCalendar td { border: 0; }
 
	table.jCalendar th {
		background: #2a8461;
		color: #fff;
		font-weight: bold;
		padding: 10px 12px;
		text-align: center; }
 
		table.jCalendar th.even { background: #2e8f69; }
 
	table.jCalendar td {
		color: #000;
		padding: 9px 11px;
		text-align: center; }
 
		table.jCalendar td.even0,table.jCalendar td.odd1 { background: #fff; }
 
		table.jCalendar td.even1,table.jCalendar td.odd0 { background: #ebebeb; }
 
		table.jCalendar td.other-month {
			color: #aaa;
			text-indent: -9000em; }
 
		table.jCalendar td.today {
			background: #e2001a;
			color: #fff; }
 
		table.jCalendar td.selected {
			background: #fcae3b;
			color: #fff; }
 
			table.jCalendar td.selected.dp-hover {
				background: #fcae3b;
				color: #fff; }
 
		table.jCalendar td.dp-hover,table.jCalendar tr.activeWeekHover td {
			background: #fcae3b;
			color: #000; }
 
	table.jCalendar tr.selectedWeek td {
		background: #f66;
		color: #fff; }
 
	table.jCalendar td.disabled,table.jCalendar td.disabled.dp-hover {
		background: #bbb;
		color: #888; }
 
	table.jCalendar td.unselectable,table.jCalendar td.unselectable:hover,table.jCalendar td.unselectable.dp-hover {
		background: #bbb;
		color: #888; }
 
.dp-choose-date {
	background: transparent url("../images/icons/calendar.gif") no-repeat;
	display: inline-block;
	vertical-align: top;
	height: 16px;
	margin-right: 1em;
	margin-top: .5em;
	text-indent: -9999em;
	width: 16px; }
 
div.dp-popup {
	position: relative;
	font-size: 11px;
	width: 229px;
	line-height: 1.2em;
	color: #fff;
	background: #000; }
 
	div.dp-popup h2 { color: #fff; }
 
.neopost div.dp-popup { background-color: #c00010; }
 
.hasler div.dp-popup { background-color: #034926; }
 
div#dp-popup {
	position: absolute;
	z-index: 1990000; }
 
div.dp-popup h2 {
	font-size: 12px;
	text-align: center;
	margin: 2px 0;
	padding: 0; }
 
a#dp-close {
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	display: block; }
 
	a#dp-close:hover { text-decoration: underline; }
 
div.dp-popup a {
	color: #fff;
	text-decoration: none;
	padding: 3px 2px 0; }
 
div.dp-popup div.dp-nav-prev {
	position: absolute;
	top: 2px;
	left: 4px;
	width: 100px; }
 
	div.dp-popup div.dp-nav-prev a { float: left; }
 
	div.dp-popup div.dp-nav-prev a,div.dp-popup div.dp-nav-next a { cursor: pointer; }
 
	div.dp-popup div.dp-nav-prev a.disabled,div.dp-popup div.dp-nav-next a.disabled { cursor: default; }
 
div.dp-popup div.dp-nav-next {
	position: absolute;
	top: 2px;
	right: 4px;
	width: 100px; }
 
	div.dp-popup div.dp-nav-next a { float: right; }
 
div.dp-popup a.disabled {
	cursor: default;
	color: #aaa; }
 
div.dp-popup td { cursor: pointer; }
 
	div.dp-popup td.disabled { cursor: default; }
 
.hide,dl.breadcrumbs dt,div.tabs div.tabsContainer .ui-tabs-panel h2.tabTitle,div#main div#themeNavigation .ui-tabs-panel h4,span.dateCalendar span.year,table.vergadering thead tr th#number span {
	margin-left: -999em;
	position: absolute; }
 
.inline-block {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	*display: inline;
	;
	*zoom: 1;
	; }
 
.italic,q,em { font-style: italic; }
 
.list-style,ul.no-bullets li,ol.no-bullets li,ul.sorting li {
	list-style-position: outside;
	list-style-type: none; }
 
.shadow {
	box-shadow: 1px 1px 5px rgba(0,0,0,.25);
	-khtml-box-shadow: 1px 1px 5px rgba(0,0,0,.25);
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,.25);
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.25); }
 
.shadow-light {
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	-khtml-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1); }
 
.shadow-light-hover {
	box-shadow: 0 0 5px rgba(0,0,0,.2);
	-khtml-box-shadow: 0 0 5px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.2); }
 
.textshadow-inset { text-shadow: rgba(0,0,0,.5) -1px -1px 0; }
 
.textshadow-inset-light { text-shadow: rgba(255,255,255,.5) -1px -1px 0; }
 
.text-shadow-light { text-shadow: white 0 1px 0; }
 
body {
	display: table;
	font-family: Tahoma,Trebuchet,Arial,Verdana,sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	min-width: 980px;
	width: 100%; }
 
	body.popup {
		min-width: 500px;
		width: auto; }
 
	body.print {
		min-width: 0;
		width: 570px; }
 
hr {
	background-color: #ccc;
	height: .09em;
	margin-bottom: 1.42em; }
 
abbr,acronym { border-bottom: 1px dotted #444; }
 
dl,ul.aankeilerList li img,div.vcard,table.risbis { margin-bottom: 1.5em; }
 
dl dt {
	float: left;
	font-weight: bold;
	padding-top: .75em;
	width: 10em; }
 
dl dd {
	border-bottom: .09em dotted #d5d5d5;
	min-height: 1.5em;
	padding: .75em 0 .75em 11.5em; }
 
	dl dd.last,div.eventDetail div.eventSummary dl dd.last,table.calendar thead tr abbr,span.dateCalendar abbr,div.vergaderingDetail dl dd ul.sidebarLinks li.last { border-bottom: 0; }
 
ul,ol,p,ul.tabNavigationStandAlone,table caption,table.forum caption { margin: 0 0 1.5em; }
 
/*ul li{list-style-position:inside;list-style-type:disc;}*/
ol li {
	list-style-position: inside;
	list-style-type: disc;
	list-style-type: decimal; }
 
kbd,pre,code {
	display: block;
	font-family: Courier;
	margin-bottom: 1.5em; }
 
blockquote {
	border: .08em solid #ccc;
	margin: 0 0 1.5em;
	padding: 1.33em; }
 
strong,div#main ul.sidebarLinks li.hasDate a,ul.articlesList li div.description span span,ul.aankeilerList li h3,table tbody tr td[scope],table.risbis thead tr th { font-weight: bold; }
 
a:focus,button:focus { outline: 1px dotted #ccc; }
 
input:focus {
	outline: 1px dotted #ccc;
	background-color: #fff7ec;
	border-color: #444; }
 
.floatRight,ol#map-navigation li a#next-marker,table.vergadering a.toggle-list { float: right; }
 
.float-right {
	float: right;
	margin: 0 0 1.5em 1.5em; }
 
.float-left,div.articleDetail div.intro img.summaryImage,div.articleDetail div.body img.bodyImage {
	float: left;
	margin: 0 1.5em 1.5em 0; }
 
.normal,ol.events li dl dd span.length,ol.events li dl dd.description { font-weight: normal; }
 
.gmnoprint div,table.vergadering thead th#format,table.vergadering thead th#size,table.forum td.count { text-align: center; }
 
#map { height: 460px; }
 
h1 {
	color: #007e4f;
	font-weight: bold;
	color: #e2001a;
	line-height: 1.5em;
	margin-bottom: .75em;
	font-size: 2em;
	font-family: Tahoma,Trebuchet,Arial,Verdana; }
 
h2 {
	color: #007e4f;
	font-weight: bold;
	font-size: 1.6em;
	line-height: 1.5em;
	margin-bottom: 1em;
	font-family: Tahoma,Trebuchet,Arial,Verdana; }
 
h3 {
	color: #007e4f;
	font-weight: bold;
	font-size: 1.4em;
	line-height: 1.25em;
	margin-bottom: 1.13em;
	font-family: Tahoma,Trebuchet,Arial,Verdana; }
 
h4,h5 {
	color: #007e4f;
	font-weight: bold;
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1.5em; }
 
h2.navTitle,.ui-tabs .ui-tabs-hide {
	margin-left: -9999em;
	position: absolute; }
 
.scfTitleBorder {
	color: #e2001a;
	line-height: 1.5em;
	margin-bottom: .75em;
	font-size: 2em;
	font-weight: bold;
	font-family: Tahoma,Trebuchet,Arial,Verdana; }
 
.articleDetail h2,body .verordeningDetail h3 {
	font-size: 1.4em;
	line-height: 1.25em;
	margin-bottom: 1.13em; }
 
h3.red,a:active,.paging a.more span,.doe-mee #main h4 { color: #e2001a; }
 
#sidebar h3,.articleDetail h3 {
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1.5em; }
 
body .verordeningDetail h2 {
	font-size: 1.6em;
	line-height: 1.5em;
	margin-bottom: 1em; }
 
.highlight {
	background: #fffbf4;
	border: .09em solid #ffdfb1;
	padding: 1em;
	moz-border-radius: 3px;
	-webkit-border-radius: 3px; }
 
span.sub {
	font-size: .75em;
	position: relative;
	top: .5em; }
 
span.sup {
	font-size: .75em;
	position: relative;
	top: -.5em; }
 
span.underlined,div#main ol#productSteps li a:hover,dl.breadcrumbs ol li a:hover,ol.alphabethic li a:hover,ul.categories li dl dt span.legend a:hover,ul#sitemap-list li ul li a:hover,div#sitemap div.container ul li a:hover,ul.articlesList li h4 a:hover,ul.aankeilerList li h3 a:hover,dt.summary a:hover,ul.sorting:hover li a:hover { text-decoration: underline; }
 
/*a:link,a:visited,#content div.vcard span.org { color: #007e4f; }*/
 
a:hover,ul.categories li dl dt span.legend a,div#sitemap div.container ul li ul li a:hover,div.calendar ul.calendarNav li a { text-decoration: none; }
 
a.readMore {
	background: transparent URL("../images/arrows.png") no-repeat 95% -890px;
	color: #007e4f!important;
	display: inline-block;
	padding-right: 1.5em; }
 
a.readMoreButton,a.backButton {
	background: #e8e8e8 URL("../images/gradient-white.png") repeat-x 0% 30%;
	border: .09em solid #dadada;
	color: #000!important;
	display: inline-block;
	font-weight: bold;
	margin-bottom: 1.5em;
	padding: .5em .75em;
	text-decoration: none;
	-moz-border-radius: .25em;
	-webkit-border-radius: .25em;
	-moz-box-shadow: 0 -.08em .4em rgba(0,0,0,.1);
	-webkit-box-shadow: 0 -.08em .4em rgba(0,0,0,.1); }
 
a.readMoreButton:hover,a.backButton:hover {
	background-position: 0% 60%;
	border-color: #444;
	-moz-box-shadow: 0 -.08em .4em rgba(0,0,0,.25);
	-webkit-box-shadow: 0 -.08em .4em rgba(0,0,0,.25);
	color: #3d3d3d!important; }
 
a.readMoreButton span {
	background: transparent URL("../images/arrows.png") no-repeat 100% -892px;
	padding-right: 1.5em; }
 
a.backButton span {
	background: transparent URL("../images/arrows.png") no-repeat 100% -892px;
	padding-right: 1.5em;
	background-position: 0% -792px;
	padding-right: 0;
	padding-left: 1.5em; }
 
div#main ul#submenu a:hover,div#main ul.sidebarLinks li a:hover {
	color: #3d3d3d!important;
	text-decoration: underline; }
 
div#main ol#productSteps a:hover,ul.categories li dt span.legend a,ul#sitemap-list li li a,ul#sitemap-list li li li a,ul.tabNavigation li a:hover,ul.articlesList li div.description span.organisation span,div.calendar ol table,div.calendar ol table td.hasEvent ol.events li,div#footer ul li a:hover { color: #3d3d3d!important; }
 
ul.productList li span.description {
	color: #3d3d3d!important;
	padding-left: 1.75em; }
 
dl.breadcrumbs ol li a {
	color: #3d3d3d!important;
	color: #444!important;
	font-weight: normal;
	text-decoration: none; }
 
ul.tabNavigation li a {
	color: #3d3d3d!important;
	background: #fcfcfc URL("../images/background-tabs.png") repeat-x bottom left;
	border: .09em solid #b6b6b6;
	border-bottom: 0;
	color: #444!important;
	display: block;
	font-weight: bold;
	line-height: 2.93em;
	margin-top: -.25em;
	padding: 0 .75em!important;
	-moz-border-radius-topright: .33em;
	-moz-border-radius-topleft: .33em;
	-webkit-border-top-right-radius: .33em;
	-webkit-border-top-left-radius: .33em; }
 
ul.articlesList li h4 {
	color: #3d3d3d!important;
	color: #444!important;
	display: inline;
	margin: 0; }
 
	ul.articlesList li h4 a {
		color: #3d3d3d!important;
		color: #444!important;
		text-decoration: none; }
 
table.vergadering {
	color: #3d3d3d!important;
	margin-bottom: 1.5em;
	border-collapse: collapse; }
 
div#body { background: #fff URL("../images/background.gif") no-repeat scroll -300px -550px; }
 
div.main-container,div#title-bar a img,ul.sorting li.hover a,ul.sorting:hover li a { position: relative; }
 
body.intranet div#body { background-position: -500px -280px; }
 
div.container {
	margin: 0 auto;
	max-width: 100%;
	padding: 0;
	position: relative;
	width: 77.6em; }
 
div#header {
	background: #fff;
	border-top: .5em solid #f8f8f8;
	height: 9em;
	padding: 0;
	position: relative;
	z-index: 10; }
 
	div#header #logo {
		font-size: 1em;
		position: absolute;
		margin-top: 2em; }
 
		div#header #logo a {
			margin-left: -99999em;
			position: absolute; }
 
			div#header #logo a.logo {
				display: block;
				float: left;
				margin-left: 0; }
 
				div#header #logo a.logo img {
					height: 4.33em;
					width: 8.42em; }
 
	div#header ul li {
		display: block;
		float: left;
		list-style-position: inside;
		list-style-type: none; }
 
div#headerShadow {
	background: transparent URL("../images/shadow-header.png") repeat-x bottom left;
	height: 1em;
	position: absolute;
	top: -30em;
	width: 100%;
	z-index: 11; }
 
div#title-bar {
	background: transparent none no-repeat top right;
	height: 6em;
	overflow: hidden;
	position: absolute;
	top: 9.5em;
	width: 80.75em; }
 
	div#title-bar h2 {
		color: #fff;
		font-size: 2em;
		line-height: 1.5em;
		margin-bottom: .75em;
		padding: .75em;
		text-shadow: 2px 2px 4px rgba(0,0,0,.4); }
 
	div#title-bar img,.paging a.forward {
		position: absolute;
		right: 0;
		top: 0; }
 
	div#title-bar a {
		position: absolute;
		right: 20px;
		top: 5px;
		z-index: 10; }
 
.firefox #main .container,.applemac-safari #main .container,.chrome #main .container,.ie-6 div#main,.ie-7 div#main { z-index: 20; }
 
div#main {
	background: #fff;
	border-bottom: .09em solid #c7c7c7;
	margin-top: 30em;
	position: relative; }
 
	div#main div#wave {
		background: transparent URL("../images/wave.png") no-repeat bottom left;
		height: 35em;
		left: 0;
		position: relative;
		top: -32em;
		width: 100%; }
 
	div#main div.container {
		background: #fff;
		border: .09em solid #c7c7c7;
		margin-bottom: -3em;
		margin-top: -58em;
		min-height: 35em;
		padding: 5.5em 1.58em 1.5em;
		position: relative;
		-moz-box-shadow: 0 -.08em .8em rgba(0,0,0,.1);
		-webkit-box-shadow: 0 -.08em .8em rgba(0,0,0,.1);
		-moz-border-radius: .5em;
		-webkit-borderradius: .5em;
		z-index: 10; }
 
.firefox #sitemap,.applemac-safari #sitemap,.chrome #sitemap {
	position: relative;
	z-index: 10; }
 
div#sitemap {
	background: #f2f2f2;
	border-bottom: .09em solid #c7c7c7; }
 
	div#sitemap div.container {
		clear: both;
		padding: 4.5em 0 1.5em; }
 
	div#sitemap .vcard {
		font-size: .95em;
		margin-bottom: 1.5em; }
 
	div#sitemap li { font-size: .95em; }
 
div#navigation {
	margin: 0 auto;
	width: 80.77em; }
 
div#footer {
	background: #fff;
	padding: 1.5em 0; }
 
div#header ul#accessibilityMenu { position: absolute; }
 
	div#header ul#accessibilityMenu li a {
		left: -999em;
		position: absolute;
		width: 15em; }
 
		div#header ul#accessibilityMenu li a:focus {
			background: #fff;
			left: 0; }
 
#service,div#header-menu {
	position: absolute;
	top: 0;
	width: 80.77em;
	z-index: 29; }
 
#service ul {
	float: right;
	font-size: .92em; }
 
	#service ul li {
		background: #efefef;
		border-right: 1px solid #e6e6e6;
		border-bottom: .25em solid #e3e3e3;
		float: left;
		height: 3em;
		list-style-position: outside;
		list-style-type: none;
		text-decoration: none; }
 
		#service ul li a {
			border-bottom-color: #c7c7c7;
			color: #848484;
			display: block;
			line-height: 3em;
			padding: 0 .75em;
			text-decoration: none; }
 
			#service ul li a:hover,div#header-menu ul li a:hover {
				color: #4f4f4f;
				text-decoration: underline; }
 
		#service ul li ul.fontSize {
			float: none;
			margin: 0 0 .25em;
			padding: 0 .75em;
			top: 0; }
 
		#service ul li .ie-6 ul.fontSize { margin-bottom: 1em; }
 
		#service ul li ul li {
			border: 0;
			padding: 0 .25em; }
 
			#service ul li ul li a,input.checkbox { padding: 0; }
 
			#service ul li ul li.first a {
				font-size: .75em;
				line-height: 3.6em;
				padding-top: .4em; }
 
			#service ul li ul li.last a {
				font-size: 1.25em;
				line-height: 2.3em; }
 
		#service ul li.last { border-right: 0; }
 
		#service ul li:hover { border-bottom-color: #c7c7c7; }
 
div#header-menu ul {
	position: absolute;
	right: 358px;
	top: 4.5em; }
 
	div#header-menu ul li {
		border-right: 1px solid #cbcbcb;
		float: left;
		line-height: 3em;
		list-style-position: outside;
		list-style-type: none;
		padding: 0 1.5em; }
 
		div#header-menu ul li a {
			color: #848484;
			text-decoration: none; }
 
		div#header-menu ul li label {
			color: #848484;
			float: left;
			font-weight: normal;
			margin-left: -999em;
			position: absolute; }
 
		div#header-menu ul li input {
			float: left;
			margin-right: 1.5em;
			width: 20em; }
 
			div#header-menu ul li input.search {
				margin-top: .25em;
				padding: 0.5em; }
 
			div#header-menu ul li input.button {
				margin-right: 0;
				width: auto; }
 
		div#header-menu ul li.last {
			border-right: 0;
			padding-right: 0; }
 
div#main-nav {
	margin-left: -1px;
	position: absolute;
	top: 15.5em;
	width: 80.77em;
	z-index: 30; }
 
	div#main-nav>ul {
		background: #f2f2f2 URL("../images/background-menu.jpg") repeat-x bottom left;
		border: .09em solid #e0e0e0;
		height: 4.6em;
		padding: 0;
		width: 80.77em;
		z-index: 30;
		-moz-border-radius-topright: .33em;
		-moz-border-radius-topleft: .33em; }
 
	div#main-nav ul li {
		display: block;
		float: left;
		list-style-position: outside;
		list-style-type: none;
		position: relative; }
 
		div#main-nav ul li li {
			float: none;
			width: 20em!important; }
 
			div#main-nav ul li li:hover {
				-moz-box-shadow: none;
				-webkit-box-shadow: none; }
 
			div#main-nav ul li li li {
				white-space: nowrap;
				width: auto!important; }
 
		div#main-nav ul li.last li li {
			overflow: hidden;
			width: 30em!important; }
 
	div#main-nav ul a {
		border-right: .09em solid #e0e0e0;
		color: #8b8b8b;
		display: block;
		font-weight: bold;
		padding: 1.58em;
		text-decoration: none; }
 
	div#main-nav ul li:hover,div#main-nav ul li.hover { z-index: 999999; }
 
	div#main-nav ul li.on a {
		background-color: #fff!important;
		color: #e2001a;
		position: relative;
		-moz-border-radius-topright: .33em;
		-moz-border-radius-topleft: .33em;
		-webkit-border-top-right-radius: .33em;
		-webkit-border-top-left-radius: .33em;
		border-bottom: .09em solid #fff; }
 
	div#main-nav ul li:hover a,div#main-nav ul li.hover>a {
		background-color: #fff!important;
		color: #e2001a;
		position: relative;
		-moz-border-radius-topright: .33em;
		-moz-border-radius-topleft: .33em;
		-webkit-border-top-right-radius: .33em;
		-webkit-border-top-left-radius: .33em; }
 
	div#main-nav ul li.on {
		border-bottom: 1px solid #fff;
		position: relative;
		-moz-box-shadow: 0 -.45em .5em rgba(0,0,0,.15);
		-webkit-box-shadow: 0 -.45em .5em rgba(0,0,0,.15); }
 
	div#main-nav>ul>li:hover>a,div#main-nav>ul>li.hover>a {
		background: #fff;
		height: 1.44em;
		margin-bottom: -1px;
		z-index: 12314141; }
 
	div#main-nav ul>li.on>a {
		height: 1.5em;
		margin-top: -.35em;
		padding-bottom: 1.85em;
		position: relative; }
 
	div#main-nav ul li.submenu>a {
		background-image: URL("../images/arrows.png");
		background-position: 90% -272px;
		background-repeat: no-repeat;
		padding-right: 3em; }
 
	div#main-nav ul ul a,div#main-nav ul li.on ul a,div#main-nav ul li:hover ul a,div#main-nav ul ul ul a,div#main-nav ul li.on ul ul a,div#main-nav ul li:hover ul ul a {
		background-color: #fff;
		background-image: none;
		border: 0;
		border-bottom: .09em solid #e1e1e1;
		color: #878787;
		font-weight: normal;
		margin-bottom: 0;
		padding: .75em 1.5em .67em!important;
		text-decoration: none;
		top: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0; }
 
	div#main-nav ul ul li a:hover,div#main-nav ul li.on ul li a:hover,div#main-nav ul li:hover ul li a:hover,div#main-nav ul ul ul li a:hover,div#main-nav ul li.on ul ul li a:hover,div#main-nav ul li:hover ul ul li a:hover {
		background-color: #fff;
		border: 0;
		border-bottom: .09em solid #e1e1e1;
		color: #595959;
		padding: .75em 1.5em .67em;
		position: static;
		text-decoration: underline;
		top: 0; }
 
	div#main-nav ul ul li.submenu a {
		background-image: URL("../images/arrows.png");
		background-position: 95% -482px;
		background-repeat: no-repeat; }
 
	div#main-nav ul li ul,div#main-nav ul li:hover ul ul,div#main-nav ul li.hover ul ul,div#main-nav ul li:hover ul ul ul,div#main-nav ul li.hover ul ul ul {
		left: -1000em;
		position: absolute;
		z-index: 1000000000;
		border: .09em solid #e1e1e1;
		border-bottom: 0;
		-moz-box-shadow: 0 .3em .5em rgba(0,0,0,.1);
		-webkit-box-shadow: 0 .3em .5em rgba(0,0,0,.1); }
 
	div#main-nav ul li.hover ul {
		left: -1000em;
		position: absolute;
		z-index: 1000000000;
		border: .09em solid #e1e1e1;
		border-bottom: 0;
		-moz-box-shadow: 0 .3em .5em rgba(0,0,0,.1);
		-webkit-box-shadow: 0 .3em .5em rgba(0,0,0,.1);
		background: #fff;
		left: auto;
		margin-left: -.09em; }
 
	div#main-nav ul li:hover ul {
		background: #fff;
		left: auto;
		margin-left: -.09em; }
 
	div#main-nav ul li li:hover ul,div#main-nav ul li li.hover ul,div#main-nav ul li li li:hover ul,div#main-nav ul li li li.hover ul {
		background: #fff;
		left: auto;
		margin-left: 20em;
		margin-top: -3.08em!important; }
 
	div#main-nav ul li.last li:hover ul,div#main-nav ul li.last li.hover ul,div#main-nav ul li.last li li:hover ul,div#main-nav ul li.last li li.hover ul { margin-left: -30.2em; }
 
	div#main-nav ul>li>a:focus+ul { left: auto; }
 
	div#main-nav ul>li li>a:focus {
		left: 1000em;
		position: absolute;
		width: 17em; }
 
	div#main-nav ul>li li li>a:focus,div#sitemap div.container ul li ul { width: auto; }
 
	div#main-nav ul>li:hover li a:focus {
		left: 0;
		position: static;
		width: auto; }
 
	div#main-nav ul>li li li a:focus { left: 2020em; }
 
	div#main-nav ul>li li:hover li a:focus { left: 0; }
 
	div#main-nav li.hover a:focus,ul.actions li:hover ul,ul.actions li.hover ul { margin-left: 0; }
 
	div#main-nav li li.hover a:focus+ul { margin-left: 20em; }
 
div#main ul#submenu,div#main ul#submenu ul,div#main ol#productSteps,div#sitemap div.container ul li h5,div.articleDetail div.body ul.tabNavigation,ul.articlesList li p,ul.slides,div.vergaderingDetail div.intro,div.scOMSButtons a,.advancedSearch input.scfSubmitButton,.advancedSearch button,.advancedSearch .button,.advancedSearch .scOMSButtons a,ol.form li.searchPaneSubmit { margin: 0; }
 
div#main ul#submenu li {
	border-top: .09em solid #ececec;
	list-style-position: outside;
	list-style-type: none;
	font-weight: bold;
	background: #fff URL("../images/arrows.png") no-repeat 95% -482px; }
 
	div#main ul#submenu li.title,div#main ol#productSteps li.title { background: #e2001a; }
 
div#main ul#submenu>li.last { border-bottom: .09em solid #ececec; }
 
div#main ul#submenu li.title span,div#main ul#submenu li.title a:hover,ul.slides li div h3 a,ul.slides li div a.readMore,.doe-mee div#footer a:focus,.doe-mee div#footer a:hover,.doe-mee div#sitemap div.container ul li ul li a:focus,.doe-mee div#sitemap div.container ul li ul li a:hover { color: #fff!important; }
 
div#main ul#submenu li.title a {
	color: #fff!important;
	background-image: none; }
 
div#main ul#submenu li li a {
	font-weight: normal;
	margin-left: 1em;
	color: #484848;
	display: block;
	padding: .75em 1.5em .75em .5em;
	text-decoration: none; }
 
div#main ul#submenu li li li a {
	margin-left: 2em;
	color: #484848;
	display: block;
	padding: .75em 1.5em .75em .5em;
	text-decoration: none; }
 
div#main ul#submenu li li li li a,div.articleDetail div.body ul,div.articleDetail div.body ol { margin-left: 3em; }
 
div#main ul#submenu li.active>a,div#main ul#submenu li.on li.active>a,div#main ol#productSteps li.on {
	color: #e2001a;
	font-weight: bold; }
 
div#main ul#submenu li li,div#main ul#submenu li li li { background: #fff URL("../images/arrows.png") no-repeat 95% -482px; }
 
div#main ul#submenu li a,div#main ul#submenu li span {
	color: #484848;
	display: block;
	padding: .75em 1.5em .75em .5em;
	text-decoration: none; }
 
div#main ul#submenu li a span.count {
	color: #e2001a;
	display: inline;
	padding: 0; }
 
div#main ol#productSteps li {
	background: #fff URL("../images/arrows.png") no-repeat 95% -482px;
	border-bottom: .09em solid #ececec;
	color: #616161;
	list-style-position: outside;
	list-style-type: none;
	padding: .75em .5em;
	width: 18em; }
 
	div#main ol#productSteps li span.number {
		margin-right: 1em;
		text-align: right;
		width: 1.5em; }
 
	div#main ol#productSteps li a,div#main ul.sidebarLinks li a {
		color: #616161;
		text-decoration: none; }
 
	div#main ol#productSteps li.title a,div#main ol#productSteps li.title a:hover {
		background: none;
		color: #fff!important;
		font-weight: bold; }
 
	div#main ol#productSteps li.back { background: transparent URL("../images/gov/modules/pdc/accept.png") no-repeat 96% 50%!important; }
 
div#main ul.sidebarLinks {
	border-bottom: .09em solid #ececec;
	margin: 0 0 1.5em; }
 
	div#main ul.sidebarLinks li {
		background: #fff URL("../images/arrows.png") no-repeat scroll 95% -482px;
		border-top: .09em solid #ececec;
		list-style-position: outside;
		list-style-type: none;
		padding: .75em 1.5em .75em 0; }
 
		div#main ul.sidebarLinks li.banner {
			border: 0;
			margin-bottom: 1.5em;
			padding: 0; }
 
			div#main ul.sidebarLinks li.banner a img {
				border: 1px solid #ececec;
				width: 216px; }
 
			div#main ul.sidebarLinks li.banner a:hover img { border-color: #d5d5d5; }
 
div#main ul.productList li a {
	color: #000;
	display: block;
	font-weight: bold; }
 
div#main ul.sidebarLinks li.hasDate span {
	display: inline-block;
	margin-right: .5em;
	text-align: right;
	width: 4em; }
 
dl.breadcrumbs {
	border-bottom: .09em dotted #d5d5d5;
	clear: both;
	margin-bottom: 0;
	position: relative;
	top: -1.5em; }
 
	dl.breadcrumbs dd {
		border: 0;
		margin: 0;
		padding: 0; }
 
	dl.breadcrumbs ol {
		margin: 0;
		overflow: hidden;
		width: 100%; }
 
		dl.breadcrumbs ol li {
			background: transparent URL("../images/arrows.png") no-repeat 100% -882px;
			display: block;
			float: left;
			font-weight: bold;
			list-style-type: none;
			margin-right: 1em;
			padding: .75em 1.5em .75em 0; }
 
			dl.breadcrumbs ol li.last,ul.articlesList span.image a:hover span,ul.articlesList span.image a:focus span,.doe-mee div#main div#wave { background-image: none; }
 
			dl.breadcrumbs ol li.first a {
				background: transparent URL("../images/breadcrumb.gif") no-repeat 0 0;
				display: block;
				float: left;
				text-indent: -999em;
				width: 18px; }
 
ol.alphabethic li {
	background: #e8e8e8 URL("../images/background-tabs.png") repeat-x bottom left;
	color: #d2d2d2;
	display: block;
	float: left;
	font-size: 1.5em;
	line-height: 1.4em;
	list-style-type: none;
	margin: 0 .5em .5em 0;
	width: 1.4em;
	-moz-border-radius: .15em;
	-webkit-borderradius: .15em; }
 
	ol.alphabethic li a {
		color: #979797!important;
		display: block;
		text-align: center;
		text-decoration: none; }
 
	ol.alphabethic li span {
		display: block;
		text-align: center;
		text-decoration: none; }
 
	ol.alphabethic li.active { background-color: #959595; }
 
		ol.alphabethic li.active span,div.slideshow ul.nav li a.activeSlide,table.calendar td.hasEvent a,.doe-mee div#sitemap a,.doe-mee div#sitemap div.container ul li a { color: #fff; }
 
ul.categories {
	clear: both;
	margin: 0; }
 
	ul.categories li {
		float: left;
		list-style-type: none;
		list-style-position: outside;
		margin: 0 1.58em 1.5em 0;
		margin-bottom: 1.5em;
		width: 18em; }
 
		ul.categories li dl {
			border: .09em solid #e7e6e6;
			padding: .75em; }
 
			ul.categories li dl dt {
				float: none;
				margin: -2.25em 0 0;
				padding-bottom: .5em;
				position: relative;
				width: auto; }
 
				ul.categories li dl dt span.legend {
					background: #fff;
					padding: 0 .5em; }
 
					ul.categories li dl dt span.legend span.count {
						color: #0a9163;
						font-weight: normal; }
 
			ul.categories li dl dd {
				border: 0;
				display: inline;
				margin: 0 .25em 0 0;
				padding: 0; }
 
				ul.categories li dl dd a { color: #a0a0a0!important; }
 
				ul.categories li dl dd.more {
					clear: left;
					display: block;
					float: none;
					text-align: right; }
 
					ul.categories li dl dd.more a { color: #0a9163!important; }
 
		ul.categories li.even { margin-right: 0; }
 
		ul.categories li.odd { clear: left; }
 
ul#sitemap-list { margin: 1.5em; }
 
	ul#sitemap-list li {
		font-weight: bold;
		list-style-type: none;
		margin-bottom: 1.5em; }
 
		ul#sitemap-list li ul { margin: 0; }
 
			ul#sitemap-list li ul li {
				font-weight: normal;
				margin-bottom: 0;
				padding-left: 1.5em; }
 
				ul#sitemap-list li ul li a {
					background: #fff URL("../images/icons/sitemap.gif") no-repeat;
					padding-left: 1.5em;
					text-decoration: none; }
 
				ul#sitemap-list li ul li li a { background-position: bottom left; }
 
div#sitemap div.container div.vcard {
	float: left;
	margin-right: 1.58em;
	padding: 0;
	width: 18em; }
 
div#sitemap div.container ul {
	float: left;
	margin: 0;
	width: 57.84em; }
 
	div#sitemap div.container ul strong,ul.articlesList li span.image a,ul.textView li.expandedView span.image,ul.titleView li.expandedView span.image,ul.textView li.expandedView div.description,ul.titleView li.expandedView div.description,ul.aankeilerList li a.readMoreButton p,div.vcard span.adr,div.vcard span.street-address,div.vcard span.tel,div.vcard span.info,html[xmlns] .clear { display: block; }
 
	div#sitemap div.container ul ul {
		float: none;
		margin: 0 0 1.5em;
		width: auto; }
 
	div#sitemap div.container ul li {
		float: left;
		font-weight: bold;
		list-style-position: outside;
		list-style-type: none;
		margin-bottom: 1.5em;
		margin-right: 1.58em;
		width: 17.6em; }
 
		div#sitemap div.container ul li a {
			color: #454545;
			text-decoration: none; }
 
		div#sitemap div.container ul li ul li {
			float: none;
			font-weight: normal;
			margin: 0; }
 
			div#sitemap div.container ul li ul li a {
				color: #757575;
				text-decoration: underline; }
 
ul.actions {
	border-top: .09em dotted #d5d5d5;
	clear: both;
	display: block;
	margin: 1.5em 0;
	padding: 1.5em 0 0; }
 
	ul.actions li {
		float: left;
		list-style-type: none;
		margin: 0 .25em .75em 0;
		overflow: visible;
		position: relative; }
 
		ul.actions li.date {
			display: block;
			float: none;
			margin-bottom: 1.5em; }
 
		ul.actions li ul {
			background-color: #fafafa;
			border: 1px solid #e3e3e3;
			left: 0;
			margin-left: -999em;
			margin-bottom: 0;
			padding: .5em;
			position: absolute;
			top: 21px;
			-moz-box-shadow: 2px 2px 10px rgba(0,0,0,.1);
			-webkit-box-shadow: 2px 2px 10px rgba(0,0,0,.1); }
 
			ul.actions li ul li {
				display: block;
				float: none;
				list-style-position: outside; }
 
				ul.actions li ul li a {
					display: block;
					width: 10em; }
 
		ul.actions li a.icon_user_comment {
			background-position: 6px center;
			border: 1px solid #fff;
			border-bottom-width: 0;
			margin-top: -.6em;
			margin-bottom: -1px;
			padding: .5em .5em .5em 2.6em;
			position: relative;
			z-index: 20; }
 
		ul.actions li:hover a.icon_user_comment,ul.actions a.icon_user_comment:hover {
			background-color: #fafafa;
			border-color: #e3e3e3; }
 
div.articleDetail div.intro {
	clear: both;
	display: block;
	font-weight: bold;
	margin: 0 0 1.5em;
	overflow: hidden; }
 
div.welcome div.intro { margin: 0!important; }
 
div.articleDetail div.body,div.bekendmakingDetail div.intro,div.WOZdetail div.intro { overflow: visible; }
 
div.articleDetail div.body ul li,div.articleDetail div.body ol li { list-style-position: outside; }
 
div.articleDetail dl {
	clear: left;
	float: none;
	width: auto; }
 
	div.articleDetail dl dt {
		position: absolute;
		width: 9em; }
 
	div.articleDetail dl dd {
		font-weight: normal;
		padding: .75em 0 .75em 10.5em;
		margin: 0; }
 
		div.articleDetail dl dd input { width: 84%; }
 
		div.articleDetail dl dd .scfRequired {
			display: inline-block;
			float: none;
			margin-left: .5em;
			vertical-align: top; }
 
div.bekendmakingDetail div.intro p { font-weight: normal!important; }
 
div.bekendmakingDetail dl dt,div.WOZdetail dl dt,div.vacature dl dt,div.verordeningDetail dl dt { width: 13em; }
 
div.bekendmakingDetail dl dd,div.WOZdetail dl dd { padding: .75em 0 .75em 14.5em; }
 
div.WOZdetail div.intro dl {
	float: left;
	width: 38em; }
 
div.WOZdetail div.intro img {
	float: right;
	margin: 0 0 0 1.5em; }
 
div.WOZdetail div.intro .button,div.tabs,ol.form li.clear { clear: both; }
 
div.vacature dl dd,div.verordeningDetail dl dd { padding-left: 15.5em; }
 
div.verordeningDetail ul li,div.verordeningDetail ol li {
	list-style-type: none;
	list-style-position: outside;
	padding-left: 2.5em; }
 
span.ol {
	float: left;
	margin-left: -2.5em;
	width: 2.5em; }
 
div.eventDetail div.intro dl {
	margin-top: 1.5em;
	margin-bottom: 0; }
 
div.eventDetail div.eventSummary dl dt {
	clear: left;
	float: left;
	margin-right: 1.58em;
	padding: .75em 0; }
 
div.eventDetail div.eventSummary dl dd {
	border-bottom: .09em dotted #d5d5d5;
	display: block;
	margin: 0;
	padding: .75em 0 .75em 16.58em; }
 
div.tabs div.tabsContainer {
	background: #fff;
	overflow: visible;
	padding: 1.5em 0; }
 
ul.tabNavigation {
	border-bottom: .09em solid #b6b6b6;
	display: block;
	list-style: none;
	height: 2.75em; }
 
	ul.tabNavigation li {
		display: block;
		float: left;
		margin: 0 1em 0 0; }
 
		ul.tabNavigation li a:focus,dl.viewswitch ul li a:focus,div.slideshow ul.options li a:focus { outline: 0; }
 
		ul.tabNavigation li.ui-tabs-selected a,div.yellowBlock div.tabs ul.tabNavigation li.ui-tabs-selected a,div.greenBlock div.tabs ul.tabNavigation li.ui-tabs-selected a {
			background: #fff;
			color: #e2001a!important;
			display: block;
			line-height: 3em;
			margin-bottom: -1px;
			padding: 0 .75em!important;
			position: relative;
			text-decoration: none; }
 
div#main div#themeNavigation h3 {
	font-family: Tahoma,Trebuchet,Arial,Verdana;
	font-size: 1em; }
 
div#main div#themeNavigation ul.sidebarLinks,abbr.dtstart,abbr.dtend,table.vergadering thead tr th,input[type='radio'],input[type='checkbox'] { border: 0; }
 
div#main div#themeNavigation .ui-tabs-panel ul.sidebarLinks { margin-bottom: .5em; }
 
div#main div#themeNavigation ul.sidebarLinks li {
	background-position: 98% -482px;
	border-top: 0;
	border-bottom: .09em solid #ececec;
	float: left;
	width: 14.13em; }
 
	div#main div#themeNavigation ul.sidebarLinks li.odd { margin-right: 1.5em; }
 
div.yellowBlock {
	margin: 0 0 1.5em;
	padding: 1em;
	position: relative;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #fcae3b URL("../images/yellow-background.gif") no-repeat top left;
	border: .09em solid #fcae3b;
	color: #8e5200; }
 
div.greenBlock {
	margin: 0 0 1.5em;
	padding: 1em;
	position: relative;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #2d7a41 URL("../images/green-background.gif") no-repeat top left;
	border: .09em solid #2d7a41;
	color: #236a4f; }
 
div#module_poll {
	margin: 0 0 1.5em;
	padding: 1em;
	position: relative;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #fcae3b URL("../images/yellow-background.gif") no-repeat top left;
	border: .09em solid #fcae3b; }
 
div.yellowBlock label,div.yellowBlock h2,div.yellowBlock h3,div#module_poll label,div#module_poll h2,div#module_poll h3 { color: #8e5200; }
 
div.greenBlock label,div.greenBlock h2,div.greenBlock h3 { color: #236a4f; }
 
div.yellowBlock div.tabs div.tabsContainer,div.greenBlock div.tabs div.tabsContainer { padding: .75em 1.5em 1.5em 1.5em; }
 
div.yellowBlock div.tabs ul.tabNavigation,div.greenBlock div.tabs ul.tabNavigation {
	background-image: none;
	border: 0;
	margin: 0; }
 
div.yellowBlock div.tabs ul.tabNavigation li a {
	border: 0;
	color: #626262;
	background: #fee2ba URL("../images/background-tabs.png") repeat-x bottom left; }
 
div.greenBlock div.tabs ul.tabNavigation li a {
	border: 0;
	color: #626262;
	background: #99d1be URL("../images/background-tabs.png") repeat-x bottom left; }
 
div.filter {
	border-bottom: 1px dotted #d5d5d5;
	margin: 0 0 1.5em;
	overflow: hidden;
	position: relative;
	width: 38em; }
 
	div.filter div.sort,ul.photoList span.image,ol#map-navigation li a#prev-marker,div#footer p,span.sorting-label { float: left; }
 
	div.filter div.sort label {
		float: left;
		font-weight: normal;
		margin-right: .5em; }
 
dl.viewswitch {
	float: right;
	margin: 0 0 1.5em;
	padding: 0;
	width: 180px; }
 
	dl.viewswitch dt {
		float: left;
		margin: 0;
		margin-right: 1em;
		padding: 0;
		width: auto; }
 
	dl.viewswitch dd {
		border: 0;
		float: left;
		margin: 0;
		padding: 0;
		width: auto; }
 
	dl.viewswitch ul {
		float: right;
		margin: 0; }
 
		dl.viewswitch ul li {
			display: block;
			float: left;
			list-style-type: none;
			margin-right: .5em; }
 
			dl.viewswitch ul li a {
				background: URL("../images/viewswitch.gif") no-repeat 0 -17px;
				display: block;
				float: left;
				height: 17px;
				text-indent: -9000em;
				width: 17px; }
 
			dl.viewswitch ul li.active a.gridView,dl.viewswitch ul li a.gridView:hover { background-position: 0 0; }
 
			dl.viewswitch ul li.active a.expandedView,dl.viewswitch ul li a.expandedView:hover { background-position: -17px 0; }
 
			dl.viewswitch ul li.active a.textView,dl.viewswitch ul li a.textView:hover { background-position: -34px 0; }
 
			dl.viewswitch ul li.active a.titleView,dl.viewswitch ul li a.titleView:hover { background-position: -51px 0; }
 
			dl.viewswitch ul li.active a.mapView,dl.viewswitch ul li a.mapView:hover { background-position: -68px 0; }
 
			dl.viewswitch ul li a.gridView { background-position: 0 -17px; }
 
			dl.viewswitch ul li a.expandedView { background-position: -17px -17px; }
 
			dl.viewswitch ul li a.textView { background-position: -34px -17px; }
 
			dl.viewswitch ul li a.titleView { background-position: -51px -17px; }
 
			dl.viewswitch ul li a.mapView { background-position: -68px -17px; }
 
			dl.viewswitch ul li.disabled a.gridView { background-position: 0 -34px; }
 
			dl.viewswitch ul li.disabled a.expandedView { background-position: -17px -34px; }
 
			dl.viewswitch ul li.disabled a.textView { background-position: -34px -34px; }
 
			dl.viewswitch ul li.disabled a.titleView { background-position: -51px -34px; }
 
			dl.viewswitch ul li.disabled a.mapView { background-position: -68px -34px; }
 
ul.articlesList {
	clear: both;
	margin: 0 0 1.5em -1.58em; }
 
ul.videoList { height: auto; }
 
ul.articlesList.expandedView,ul.expandedView li span.image img,ul.textView li.expandedView span.image img,ul.titleView li.expandedView span.image img,ul.photoList li span.image a,.ie-6 div.sorting-container,.ie-7 div.sorting-container,ol.form,ol.form li.last { margin-bottom: 0; }
 
ul.articlesList li {
	display: inline-block;
	list-style-position: outside;
	list-style-type: none;
	margin: 0 0 1.5em 1.54em;
	position: relative;
	vertical-align: top;
	width: 18em; }
 
ul.photoList li span.image {
	background: transparent URL("../images/photo-shadow.gif") no-repeat 100% 99.5%;
	display: block;
	margin-bottom: 1em;
	padding-bottom: .5em; }
 
ul.photoList li:hover span.image { background-position: 100% 100.5%; }
 
ul.articlesList span.image a {
	background: #fff URL("../images/logo.gif") no-repeat center center;
	border: .09em solid #ececec;
	display: block;
	line-height: .5em;
	margin-bottom: 1.5em;
	min-height: 13.58em;
	position: relative;
	width: 17.72em; }
 
	ul.articlesList span.image a img { width: 17.72em; }
 
	ul.articlesList span.image a span {
		width: 17.72em;
		min-height: 13.58em;
		background: transparent URL("../images/video-overlay.png") no-repeat center center;
		cursor: pointer;
		display: block;
		position: absolute;
		top: 0;
		left: 0; }
 
ul.articlesList li div.description {
	margin-top: 1.5em;
	color: #636363; }
 
ul.articlesList li.hasDate span.date {
	color: #636363;
	margin-left: .5em; }
 
ul.articlesList li div.description span.organisation,ul.articlesList li div.description span.type {
	display: block;
	font-size: .9em;
	margin-bottom: 1.5em; }
 
ul.articlesList li dl.meta {
	font-size: .9em;
	margin: 0 0 1.5em; }
 
	ul.articlesList li dl.meta dt {
		display: inline;
		float: none;
		padding: 0;
		width: auto; }
 
	ul.articlesList li dl.meta dd {
		border: 0;
		display: inline;
		margin-right: .5em;
		min-height: 0;
		padding: 0; }
 
div.products div.results ul.articlesList,div.risbis div.results ul.articlesList,ul.titleView li.expandedView.first,ul.textView li.expandedView.first { margin-top: 0; }
 
div.products div.results ul.articlesList li div.info {
	padding-left: .5em;
	padding-right: .5em; }
 
ul.gridView li {
	border-top: .09em dotted #d5d5d5;
	padding-top: 1.5em; }
 
	ul.gridView li.firstRow {
		border-top: 0;
		padding-top: 0; }
 
ul.expandedView li {
	border-bottom: .09em dotted #d5d5d5;
	width: 38em;
	padding-bottom: 1.5em; }
 
ul.titleView li.expandedView {
	border-bottom: .09em dotted #d5d5d5;
	width: 38em;
	display: inline-block;
	padding: 0 0 1.5em;
	margin-top: 1.5em;
	background-image: none; }
 
ul.textView li.expandedView {
	border-bottom: .09em dotted #d5d5d5;
	width: 38em;
	display: inline-block;
	padding: 0 0 1.5em;
	margin-top: 1.5em; }
 
ul.expandedView li span.image a,ul.textView li.expandedView span.image a,ul.titleView li.expandedView span.image a {
	float: left;
	margin-bottom: 0; }
 
ul.textView li {
	padding: .75em 0;
	border-bottom: .08em dotted #c7c7c7;
	display: block;
	float: none;
	margin: 0;
	margin-left: 1.54em;
	width: auto; }
 
	ul.textView li div.description { margin-top: 0; }
 
	ul.textView li span.image,ul.titleView li span.image,ul.titleView li div.description,div.calendar ul.calendarNav li a.disabled,div.vergaderingDetail dl dd h3 { display: none; }
 
	ul.textView li.expandedView div.info,ul.titleView li.expandedView div.info {
		display: block;
		float: left;
		margin-left: 1.58em;
		width: 18em;
		padding: 0!important; }
 
ul.expandedView li div.info {
	display: block;
	float: left;
	margin-left: 1.58em;
	width: 18em; }
 
ul.titleView li {
	border-bottom: .08em dotted #c7c7c7;
	display: block;
	float: none;
	margin: 0;
	margin-left: 1.54em;
	width: auto;
	background: transparent URL("../images/arrows.png") no-repeat 99% -482px;
	padding: .75em 1.5em .75em 0; }
 
	ul.titleView li.expandedView h4,table.calendar td.hasEvent ol.events li { line-height: 1.5em; }
 
	ul.titleView li.hasDate span.date,ul.textView li.hasDate span.date {
		left: 0;
		position: absolute;
		text-align: right;
		top: .75em;
		width: 4em; }
 
	ul.titleView li.expandedView span.date,ul.textView li.expandedView span.date {
		position: static;
		top: 0; }
 
	ul.titleView li.hasDate div.info,ul.textView li.hasDate div.info { padding-left: 5.5em; }
 
ul.articlesList li.expandedView div.description {
	padding-left: 0;
	margin-top: 1.5em; }
 
ul.articlesList li.expandedView h4 { padding-left: 0; }
 
ul.photoList span.image a img { height: auto!important; }
 
span.geo {
	margin-left: -999em!important;
	position: absolute!important; }
 
dl.maps dt { width: 8em; }
 
.keyboard-link {
	display: block;
	height: 100%;
	left: -2px;
	overflow: hidden;
	position: absolute;
	text-indent: -999em;
	top: -2px;
	width: 100%;
	z-index: 10000; }
 
	.keyboard-link:focus { outline: 1px dotted!important; }
 
.marker-focus {
	outline: 1px dotted #000!important;
	opacity: 1!important; }
 
ol#map-navigation {
	clear: both;
	margin-top: 1.5em;
	width: 100%; }
 
	ol#map-navigation li {
		display: inline;
		list-style-type: none;
		list-style-position: outside; }
 
.infowindow { padding-right: 20px; }
 
.focus { border: 1px solid #000!important; }
 
div.gmnoprint div div div { overflow: hidden!important; }
 
ul.aankeilerList li {
	border-top: .09em dotted #d5d5d5;
	list-style-position: outside;
	list-style-type: none;
	margin: 1.5em 0 1.75em;
	padding-top: 1.5em; }
 
	ul.aankeilerList li h3 a {
		text-decoration: none;
		color: #e2001a; }
 
	ul.aankeilerList li.first {
		border-top: 0;
		margin-top: 0;
		padding-top: 0; }
 
div.slideshow {
	background: #2d7a41 URL("../images/green-background.gif") no-repeat top left;
	border: .09em solid #2d7a41;
	margin-bottom: 1.5em;
	position: relative;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px; }
 
div.slideshowContainer {
	padding: .83em;
	position: relative; }
 
ul.slides li {
	list-style-position: outside;
	list-style-type: none;
	position: relative;
	width: 100%; }
 
	ul.slides li img {
		display: block;
		width: 36.1em; }
 
	ul.slides li div {
		background: transparent URL("../images/slideshowcontrols.png") repeat-x 0 -120px;
		bottom: 0;
		color: #fff;
		padding: 1.5em 5em;
		position: absolute;
		width: 26.17em; }
 
		ul.slides li div h3 { font-size: 1em; }
 
div.slideshow ul.nav {
	font-size: 3.5em;
	position: absolute;
	top: .5em;
	right: .5em;
	z-index: 10; }
 
	div.slideshow ul.nav li {
		float: left;
		list-style-type: none; }
 
		div.slideshow ul.nav li a {
			color: #bbb;
			color: rgba(255,255,255,.4);
			text-decoration: none; }
 
div.slideshow ul.options {
	margin: 0;
	overflow: hidden;
	width: 34.5em; }
 
	div.slideshow ul.options li {
		float: left;
		list-style-type: none;
		width: 50%; }
 
		div.slideshow ul.options li a {
			background: transparent URL("../images/slideshowcontrols.png") repeat-x 0 -62px;
			bottom: 2.5em;
			display: block;
			height: 25px;
			margin-top: -2.5em;
			position: absolute;
			text-indent: -9000em;
			width: 25px;
			z-index: 4; }
 
			div.slideshow ul.options li a:hover { background-position: 0 -12px; }
 
		div.slideshow ul.options li.next {
			background: #fff;
			text-align: right; }
 
		div.slideshow ul.options li.prev a { left: .83em; }
 
		div.slideshow ul.options li.next a {
			background: transparent URL("../images/slideshowcontrols.png") repeat-x -25px -62px;
			right: 1em; }
 
			div.slideshow ul.options li.next a:hover { background-position: -25px -12px; }
 
div.vcard span.org {
	display: block;
	font-weight: bold; }
 
div.vcard span.post-office-box {
	display: block;
	margin-top: 1.5em; }
 
div.vcard span.labelContainer {
	display: block;
	float: left;
	width: 4em; }
 
div.vcard span.info span.labelContainer {
	float: none;
	font-weight: bold;
	margin-top: 1.5em;
	width: auto; }
 
div.calendar ul.calendarNav {
	position: absolute;
	right: 1em;
	z-index: 20; }
 
	div.calendar ul.calendarNav li {
		float: left;
		list-style-position: outside;
		list-style-type: none; }
 
		div.calendar ul.calendarNav li a.nextMonth { margin-left: 1em; }
 
div.calendar ol {
	color: #2a8461;
	display: block;
	width: 100%!important; }
 
	div.calendar ol li.month {
		list-style-type: none;
		list-style-position: outside;
		width: 100%!important; }
 
	div.calendar ol span.title,span.selected-month {
		color: #2a8461;
		display: block;
		font-weight: bold;
		margin-bottom: .75em; }
 
table.calendar {
	background: #fff;
	border: .09em solid #6e6e6e;
	position: relative; }
 
	table.calendar thead tr {
		background: #2e8f69;
		border-bottom: .09em solid #6e6e6e;
		color: #fff;
		font-weight: bold; }
 
	table.calendar th,table.calendar td {
		border: 0;
		font-size: .8em;
		line-height: 3em;
		padding: 0;
		text-align: center; }
 
	table.calendar thead th.odd { background: #2a8461; }
 
	table.calendar td.odd { background: #ebebeb; }
 
	table.calendar td.not-available { color: #ccc; }
 
	table.calendar td.hasEvent {
		background: #fcae3b;
		z-index: -1; }
 
	table.calendar td.odd.hasEvent { background: #e8a036; }
 
	table.calendar td.today,table.calendar td.selected {
		background: #e2001a!important;
		color: #fff; }
 
	table.calendar td a {
		display: block;
		line-height: 3em;
		text-align: center; }
 
	table.calendar td.hasEvent ol {
		font-size: 1.25em;
		margin-left: -999em;
		position: absolute;
		-moz-box-shadow: .25em .25em .5em rgba(0,0,0,.1);
		-webkit-box-shadow: .25em .25em .5em rgba(0,0,0,.1); }
 
	table.calendar td.hasEvent:hover ol.events {
		background: #fff;
		margin-left: -18em;
		padding: .5em;
		width: 20em!important;
		z-index: 100000; }
 
	table.calendar td.hasEvent ol.events li a {
		line-height: 1.5em;
		display: inline; }
 
table.make-appointment a {
	color: #444;
	text-decoration: none; }
 
table.make-appointment td.available {
	background: #fcae3b;
	color: #000; }
 
table.make-appointment .selected a,table.make-appointment .selected a:focus,table.make-appointment .selected a:hover {
	background: #e2001a!important;
	color: #fff;
	text-decoration: none; }
 
span.dateCalendar {
	float: left;
	margin-right: 1.5em;
	width: 3em; }
 
	span.dateCalendar span.day {
		background: #fff;
		border: .09em solid #e0dcd6;
		border-top: 0;
		display: block;
		line-height: 2em;
		font-size: 1.25em;
		font-weight: bold;
		text-align: center; }
 
	span.dateCalendar span.month {
		background: #fcae3b;
		color: #fff;
		display: block;
		line-height: 2em;
		font-size: .9em;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase; }
 
.hidden {
	margin-left: -9999em!important;
	position: absolute!important; }
 
ol.events li {
	background: #fffbf4;
	display: block;
	list-style-position: outside;
	list-style-type: none;
	min-height: 4.5em;
	padding: .75em 1em .75em 1em; }
 
	ol.events li dl { margin-left: 4.5em; }
 
		ol.events li dl dt {
			float: none;
			padding-top: 0;
			width: auto; }
 
		ol.events li dl dd {
			border-bottom: 0;
			float: none;
			margin: 0;
			padding: 0;
			width: auto; }
 
			ol.events li dl dd.starttime {
				float: left;
				margin-left: -4.5em; }
 
	ol.events li span.info {
		display: block;
		padding-left: 4.5em; }
 
	ol.events li.odd,ol.times li.odd { background: #feefd8; }
 
* html ol.events li { height: 4.5em; }
 
ol.times { border: .09em solid #6e6e6e; }
 
	ol.times li {
		background: #fffbf4;
		list-style-position: outside;
		list-style-type: none;
		padding: .75em; }
 
	ol.times a {
		color: #000;
		font-weight: bold;
		margin-left: .5em; }
 
dt.summary a,dt a.summary {
	color: #444!important;
	font-weight: bold;
	text-decoration: none; }
 
div.calendar ol table td.hasEvent ol.events { border: .09em solid #444; }
 
	div.calendar ol table td.hasEvent ol.events li dt.summary a { text-align: left; }
 
.calendarWithEvents { padding-bottom: 1.5em; }
 
	.calendarWithEvents h2 {
		color: #e2001a;
		margin: 0; }
 
	.calendarWithEvents h3 {
		color: #e2001a;
		margin: 0 0 .75em; }
 
div.vergaderingDetail dl dd ul li { list-style-type: none; }
 
div.vergaderingDetail dl dd ul.sidebarLinks {
	border-bottom: 0;
	margin: -.75em 0 0 -8.5em; }
 
	div.vergaderingDetail dl dd ul.sidebarLinks li {
		background-position: 99% -482px;
		border-top: 0;
		border-bottom: .08em solid #ececec;
		padding-left: 7em; }
 
ul.attachments {
	margin: 0 0 1.5em;
	padding: 0; }
 
table.vergadering caption {
	border-bottom: 1px dotted #d5d5d5;
	padding-bottom: .75em; }
 
table.vergadering th,table.vergadering td {
	padding: .5em 1em;
	border: 1px solid #fcae3b; }
 
table.vergadering thead tr {
	background: transparent none;
	color: #484848; }
 
	table.vergadering thead tr th#title { width: 75%; }
 
		table.vergadering thead tr th#title a {
			font-weight: normal;
			float: right; }
 
	table.vergadering thead tr th#format,table.vergadering thead tr th#size,table.pipBestelling th.aanvraag { width: 10%; }
 
	table.vergadering thead tr th#number { width: 5%; }
 
table.vergadering tbody div.summary {
	border-top: 1px dotted #fcae3b;
	font-weight: normal;
	margin-top: .75em;
	padding-top: .75em; }
 
table.vergadering tbody tr td.number { border-right-width: 0; }
 
table.vergadering tbody tr.subitem div.summary { border-color: #3d3d3d; }
 
table.vergadering tbody tr.item {
	background: #feefd8 repeat-x 0% 30%;
	border: 1px solid #fcae3b;
	border-width: 1px 0;
	font-weight: bold; }
 
table.vergadering tbody tr.subitem {
	background: #feefd8 repeat-x 0% 30%;
	border: 1px solid #fcae3b;
	border-width: 1px 0;
	font-weight: bold;
	background-color: #fffbf4; }
 
table.vergadering tbody tr.attachment { border-top: 1px solid #d5d5d5; }
 
	table.vergadering tbody tr.attachment td,table.vergadering tbody tr.attachment th { border-width: 0 0 1px 1px; }
 
	table.vergadering tbody tr.attachment td.size { border-right-width: 1px; }
 
table.vergadering tbody tr.odd { background: #efefef; }
 
table.vergadering thead th#number,table.vergadering td.number {
	text-align: right;
	vertical-align: top; }
 
table.vergadering td.format,table.vergadering td.size {
	text-align: center;
	font-size: .8em; }
 
table.vergadering h3 {
	background: transparent;
	font-family: Tahoma,Verdana,Arial,serif;
	font-size: 1em;
	margin: 0;
	padding-right: 2em; }
 
table.vergadering h4 {
	background: transparent;
	font-family: Tahoma,Verdana,Arial,serif;
	font-size: 1em;
	margin: 0;
	padding-right: 2em;
	color: #3d3d3d;
	padding-left: 2.6em; }
 
div#footer ul {
	position: absolute;
	right: 0; }
 
	div#footer ul li {
		float: left;
		list-style-type: none;
		margin-right: 1.5em; }
 
		div#footer ul li a { color: #757575; }
 
.icon {
	background: transparent none no-repeat center left;}
 
.iconRight {
	background: transparent none no-repeat center left;
	padding: .2em .5em .2em 2em;
	background-position: center right;
	padding: .1em 2em .1em 0; }
 
.icon_external { background-image: URL("../images/icons/external.gif"); }
 
.icon_attachment { background-image: URL("../images/icons/attach.gif"); }
 
.icon_default { background-image: URL("../images/icons/icon_file.gif"); }
 
.icon_doc { background-image: URL("../images/icons/icon_word.gif"); }
 
.icon_date { background-image: URL("../images/icons/date.gif"); }
 
.icon_date_delete { background-image: URL("../images/icons/icon_date_delete.gif"); }
 
.icon_date_edit { background-image: URL("../images/icons/icon_date_edit.gif"); }
 
.icon_email { background-image: URL("../images/icons/email.gif"); }
 
.icon_email_go { background-image: URL("../images/icons/email_go.gif"); }
 
.icon_email_grey { background-image: URL("../images/icons/email_grey.gif"); }
 
.icon_facebook { background-image: URL("../images/icons/icon-facebook.gif"); }
 
.icon_folder_open { background-image: URL("../images/icons/folder_delete.gif"); }
 
.icon_folder_closed { background-image: URL("../images/icons/folder_explore.gif"); }
 
.icon_help {
	background-image: URL(../images/icons/help.gif);
	; }
 
.icon_hyves { background-image: URL("../images/icons/icon-hyves.gif"); }
 
.icon_pdf { background-image: URL("../images/icons/icon_pdf.gif"); }
 
.icon_phone { background-image: URL("../images/icons/phone.gif"); }
 
.icon_phone_grey { background-image: URL("../images/icons/phone_grey.gif"); }
 
.icon_photo { background-image: URL("../images/icons/icon_photo.gif"); }
 
.icon_print { background-image: URL("../images/icons/icon_print.gif"); }
 
.icon_room { background-image: URL("../images/icons/room.gif"); }
 
.icon_room_grey { background-image: URL("../images/icons/room_grey.gif"); }
 
.icon_twitter { background-image: URL("../images/icons/icon-twitter.gif"); }
 
.icon_user_comment { background-image: URL("../images/icons/user_comment.gif"); }
 
.icon_xls { background-image: URL("../images/icons/icon_excel.gif"); }
 
.iconCalendar { background-image: URL("../images/icons/calendar.gif"); }
 
.iconCalendarAdd { background-image: URL("../images/icons/calendar_add.gif"); }
 
.form_digid { background-image: URL("../images/gov/modules/pdc/form_digid.png"); }
 
.form_nodigid { background-image: URL("../images/gov/modules/pdc/form_nodigid.png"); }
 
.marker {
	background: URL("../images/icons/marker.gif") no-repeat top left;
	font-weight: normal;
	padding-left: 16px; }
 
table {
	border-collapse: collapse;
	margin: 0 0 1.5em;
	width: 100%; }
 
	table thead tr {
		background: #2e7d43 URL("../images/gradient-white.png") repeat-x scroll 0 30%;
		color: #fff; }
 
	table tbody tr { border-bottom: 1px dotted #eaeaea; }
 
		table tbody tr.odd { background-color: #fff; }
 
		table tbody tr.even { background-color: #f8f8f8; }
 
	table thead tr th,table tbody tr td {
		padding: 5px 10px;
		vertical-align: top; }
 
	table.risbis thead tr { background: #2e7d43 URL("../images/gradient-white.png") repeat-x scroll 0 30%; }
 
		table.risbis thead tr th.date,table.contentmanagement th.titel,table.contentmanagement th.type,table.contentmanagement th.webcorrespondent,table.contentmanagement th.status,table.pipBestelling th.voltooid,table.pipAfspraken th.datum { width: 20%; }
 
		table.risbis thead tr th.title,table.pipAfspraken th.omschrijving { width: 50%; }
 
		table.risbis thead tr th.type,table.pipAfspraken th.opties,ol.form li.inline input.datepicker { width: 30%; }
 
	table.risbis tbody tr.even { background: #f6f6f6; }
 
	table.risbis tbody td,table.forum th,table.forum td { border: 1px dotted #d5d5d5; }
 
	table.contentmanagement th.publicatie,table.contentmanagement th.verval,table.pipBestelling th.status,table.pipBestelling th.aangevraagd,table.wozKadastraleObjecten th { width: 15%; }
 
	table.pipBestelling th.product,table.forum td.comment,table.forum th.comment { width: 40%; }
 
	table.wozMarktgegevens th { width: 28%; }
 
		table.wozMarktgegevens th.header { width: 16%; }
 
	table.wozKadastraleObjecten th.toegekOpp,ol.form li.searchPostcodeInput input { width: 25%; }
 
.paging {
	clear: both;
	position: relative;
	text-align: center; }
 
	.paging a {
		border: 1px solid #d5d5d5;
		color: #444;
		display: inline-block;
		margin-right: .5em;
		padding: .25em .5em;
		text-decoration: none; }
 
		.paging a.selected {
			border-color: #444;
			color: #e2001a!important;
			font-weight: bold; }
 
		.paging a:hover,.paging a:focus { border-color: #444; }
 
		.paging a.more { border-color: #fff; }
 
		.paging a.more-pages {
			border-color: #fff;
			color: #d5d5d5; }
 
		.paging a.back {
			left: 0;
			position: absolute;
			top: 0; }
 
div#module_poll li input { background: transparent none; }
 
div#module_poll dl dt {
	display: block;
	float: none;
	margin-bottom: 1em;
	padding: 0;
	width: auto; }
 
div#module_poll dl dd {
	background: #fedfa2;
	padding: 0;
	border: 0;
	margin-bottom: 1em;
	border: 1px solid #c46f0d;
	display: block;
	height: 18px;
	line-height: 18px;
	position: relative;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px; }
 
	div#module_poll dl dd span.count {
		font-weight: bold;
		margin-right: 1em;
		position: absolute;
		right: 0;
		z-index: 1200; }
 
	div#module_poll dl dd span.graph {
		background: #fa8908;
		display: block;
		height: 18px; }
 
ul.photoAankeilerList {
	margin-left: -1.54em;
	margin-top: -1.5em; }
 
	ul.photoAankeilerList li {
		display: inline-block;
		margin: 1.5em 0 0 1.54em;
		vertical-align: top;
		width: 8em; }
 
		ul.photoAankeilerList li a {
			background: transparent URL("../images/photo-shadow.gif") no-repeat 100% 99%;
			padding-bottom: .25em; }
 
			ul.photoAankeilerList li a img {
				background: #fff;
				border: 1px solid #f5f5f5!important;
				padding: .33em; }
 
			ul.photoAankeilerList li a:hover,ul.photoAankeilerList li a:focus { background-position: 100% 103%; }
 
			ul.photoAankeilerList li a:hover img,ul.photoAankeilerList li a:focus img { border-color: #d4d4d4!important; }
 
span.tooltip {
	background: #fff;
	border: .09em solid #d5d5d5;
	max-width: 20em;
	position: absolute;
	padding: 1.5em!important;
	-moz-border-radius: .33em;
	-webkit-border-radius: .33em;
	-moz-box-shadow: 0 .3em .5em rgba(0,0,0,.1);
	-webkit-box-shadow: 0 .3em .5em rgba(0,0,0,.1);
	margin-left: -999em; }
 
span#tooltip {
	background: #fff;
	border: .09em solid #d5d5d5;
	max-width: 20em;
	position: absolute;
	padding: 1.5em!important;
	-moz-border-radius: .33em;
	-webkit-border-radius: .33em;
	-moz-box-shadow: 0 .3em .5em rgba(0,0,0,.1);
	-webkit-box-shadow: 0 .3em .5em rgba(0,0,0,.1); }
 
a:focus span.tooltip,a:hover span.tooltip { margin: 2em 0 0 -25%; }
 
span.tooltip span.marker,span#tooltip span.marker {
	border: .75em solid transparent;
	border-bottom: .75em solid #d5d5d5;
	left: 50%;
	margin-left: -.75em;
	padding: 0!important;
	position: absolute;
	top: -1.5em; }
 
span.tooltip span.marker span,span#tooltip span.marker span {
	border: .75em solid transparent;
	border-bottom: .75em solid #fff;
	padding: 0!important;
	position: absolute;
	top: -.7em;
	left: -.75em; }
 
table.forum th.count {
	width: 20%;
	text-align: center; }
 
table.forum td.comment abbr {
	border: 0;
	display: block;
	font-style: normal; }
 
table.forum td.comment a { font-style: normal; }
 
dl.comments-block dt {
	float: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: auto; }
 
	dl.comments-block dt .photo {
		float: left;
		padding: 1px; }
 
	dl.comments-block dt .fn {
		float: left;
		width: 58%; }
 
	dl.comments-block dt abbr.comment-timestamp {
		border: 0;
		float: right;
		font-weight: normal;
		width: 40%; }
 
	dl.comments-block dt a.url {
		background: transparent URL("../images/icons/permalink.gif") no-repeat 100% -17px;
		color: #8b8b8b;
		display: block;
		overflow: hidden;
		padding-right: 20px;
		text-decoration: none; }
 
		dl.comments-block dt a.url:hover { background-position: 100% 0; }
 
dl.comments-block dd {
	border-bottom: .09em dotted #d5d5d5;
	clear: both;
	margin-bottom: 1.5em;
	padding: 0; }
 
dl.comments-block blockquote {
	border: 0;
	padding: 0; }
 
ol.scOMSPollVotingWrapper li {
	display: block;
	list-style-type: none;
	list-style-position: outside; }
 
	ol.scOMSPollVotingWrapper li input {
		margin-right: 5px;
		width: 10px; }
 
	ol.scOMSPollVotingWrapper li label {
		display: inline;
		font-weight: normal; }
 
div.sorting-container {
	float: right;
	margin: 0 0 1.5em;
	position: relative;
	width: 20em; }
 
.tDatedVergaderingCollectionPage-page div.sorting-container {
	position: absolute;
	right: 0;
	top: .5em; }
 
ul.sorting {
	float: right;
	height: 2.5em!important;
	margin: -.25em 0 0 .5em!important;
	position: absolute;
	right: 0;
	z-index: 20;
	width: 13.25em; }
 
	ul.sorting li a {
		background: #fff;
		border: .09em solid #ddd;
		border-top: 0;
		color: #444!important;
		display: block;
		padding: .25em .5em;
		position: absolute;
		text-decoration: none;
		top: 0;
		width: 12em; }
 
	ul.sorting li.active a {
		background: #fff URL("../images/icons/select.gif") no-repeat top right;
		z-index: 100;
		border-top: .09em solid #ddd;
		font-weight: bold!important; }
 
	ul.sorting li.first a {
		background: #fff URL("../images/icons/select.gif") no-repeat top right;
		z-index: 100;
		border-top: .09em solid #ddd; }
 
	ul.sorting:hover li.first a {
		background: #fff URL("../images/icons/select.gif") no-repeat top right;
		z-index: 100; }
 
	ul.sorting li a:active,ul.sorting li a:focus {
		background-image: none!important;
		outline: 0;
		z-index: 3000!important; }
 
	ul.sorting:hover li.active a {
		background-image: none!important;
		border-top: 0!important; }
 
	ul.sorting:hover li.first.active a { border-top: .09em solid #ddd!important; }
 
div.results { clear: right; }
 
legend {
	margin: 0;
	padding: 0; }
 
label {
	display: block;
	/*font-weight: bold; */}
 
input,textarea {
	border: 1px solid #ccc;
	font-size: 1em;
	padding: .5em;
/*	width: 91%;*/
	-moz-border-radius: .25em;
	-webkit-border-radius: .25em; }
 
.error input,.error textarea,.error input:focus,.error textarea:focus {
	background-color: #ffeaec;
	border-color: red!important; }
 
textarea:focus {
	background-color: #fff7ec;
	border-color: #444;
	outline: 0; }
 
option { padding: 0 .5em; }
 
table input { width: auto; }
 
input.scfSubmitButton,.button,.scOMSButtons a {
	background: #2e7d43 URL("../images/gradient-white.png") repeat-x 0% 60%!important;
	border: .09em solid #246e38!important;
	color: #ddeccd!important;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	margin: 0 0 1.5em;
	overflow: visible;
	padding: .5em .65em;
	text-align: center;
	text-decoration: none;
	width: auto;
	-moz-border-radius: .25em;
	-webkit-border-radius: .25em; }
 
.button:hover,input.scfSubmitButton:hover {
	background-position: 0% 30%;
	color: #fff!important; }
 
ol.form li {
	list-style-position: outside;
	list-style-type: none;
	margin: 0 0 1.5em; }
 
	ol.form li.searchPaneInput { width: 80%; }
 
		ol.form li.searchPaneInput input { width: 90%; }
 
	ol.form li.searchPostcodeInput span {
		display: inline-block;
		margin-bottom: .5em; }
 
	ol.form li.searchCheckbox {
		display: block;
		margin: 0;
		width: 80%; }
 
		ol.form li.searchCheckbox input {
			background: transparent none;
			float: left;
			margin-right: .5em;
			padding: 0;
			width: auto; }
 
		ol.form li.searchCheckbox label {
			font-weight: normal;
			margin: 0; }
 
ol.rssFeed li.searchPaneSubmit {
	position: absolute;
	right: 1em;
	top: 3.2em;
	top: auto;
	bottom: 1em; }
 
ol.productSearch li.searchPaneSubmit {
	position: absolute;
	right: 1em;
	top: 3.2em; }
 
ol.advancedSearch li.searchPaneInput,ol.melddeskSearch li.searchPaneInput { width: 90%!important; }
 
ol.advancedSearch li.searchPaneInput input,ol.melddeskSearch li.searchPaneInput input { width: 100%; }
 
ol.advancedSearch li.searchPaneSelect label,ol.form li.searchPostcodeInput label,ol.advancedSearch li.searchPaneDateRange label,ol.melddeskSearch li.searchPaneSelect label {
	clear: left;
	float: left;
	width: 34%; }
 
ol.advancedSearch li.searchPaneSelect select,ol.melddeskSearch li.searchPaneSelect select {
	margin: 0%;
	width: 56%; }
 
ol.advancedSearch li.searchPaneSelect .selectfix,ol.melddeskSearch li.searchPaneSelect .selectfix {
	float: left;
	width: 56%; }
 
ol.advancedSearch li.searchPaneSelect .selectfix select,ol.melddeskSearch li.searchPaneSelect .selectfix select {
	position: relative;
	width: 100%;
	z-index: 10000; }
 
ol.advancedSearch li.searchPaneDateRange input {
	margin: 0 1em 0 0;
	width: 17%; }
 
div.yellowBlock input,div.yellowBlock textarea,div.yellowBlock select { border-color: #ff961b; }
 
option.Level1 {
	font-weight: bold;
	background: #efefef; }
 
ol.form li.inline {
	float: left;
	width: 50%; }
 
	ol.form li.inline label { float: none; }
 
	ol.form li.inline select { width: 95%; }
 
.doe-mee div#body {
	background: #fff URL("../images/doe-mee-bg.jpg") repeat top center;
	background-attachment: fixed; }
 
.doe-mee div#header { z-index: 12; }
 
.doe-mee div#main {
	background-color: transparent;
	border: 0; }
 
.doe-mee div#header #logo .logo {
	background: URL("../images/doe-mee-logo.png") no-repeat;
	height: 8.67em;
	margin-left: -3.5em;
	margin-top: -.75em;
	position: relative;
	width: 16.83em;
	z-index: 100000; }
 
.doe-mee .logo img { visibility: hidden; }
 
.doe-mee div#main div.container {
	-moz-box-shadow: 0 -.08em .8em rgba(0,0,0,.7);
	-webkit-box-shadow: 0 -.08em .8em rgba(0,0,0,.7); }
 
.doe-mee #main h1 {
	background: URL("../images/doe-mee-titles.png") repeat-x bottom left;
	margin-bottom: .5em;
	padding: 0 0 9px; }
 
.doe-mee #main h2 {
	background: URL("../images/doe-mee-titles.png") repeat-x bottom left;
	margin-bottom: .5em;
	padding: 0 0 9px;
	background-position: bottom center;
	color: #e2001a; }
 
.doe-mee #main h3 {
	background-position: bottom right;
	color: #e2001a; }
 
.doe-mee #main-nav ul {
	background: #fcb033 URL("../images/yellow-background.gif") repeat top center;
	border-color: #e29b26; }
 
	.doe-mee #main-nav ul a {
		border-color: #e29b26;
		color: #926315; }
 
.doe-mee div#sitemap {
	background: #353535 URL("../images/doe-mee-footer.jpg") repeat center center;
	border-color: #000;
	color: #fff; }
 
.doe-mee div#footer a,.doe-mee div#sitemap div.container ul li ul li a { color: #bcbcbc; }
 
.doe-mee div#footer {
	background: #000;
	overflow: hidden; }
 
.doe-mee .calendarWithEvents h2 { margin-bottom: .75em; }
 
.clear:before,
.clear:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}
 

 
* html .clear { height: 1%; }