#container{
	width:100%;
}

#main{
	padding:30px 0;
}

body{
	font-size:1em;
}

#logo a, #logo a:hover, #logo a:visited{
	color:#fff;
}

.form, .form div, .form h1, .form h2, .form h3, .form p, .form label, .form td, .form th, .webform, .webform div, .webform h1, .webform h2, .webform h3, .webform p, .webform label, .webform td, .webform th, .header, p, body, body *, .pip,.pip, .pip h1, .pip h2, .pip h3, .pip span, .pip strong, .pip p, .pip em, .pip a, .pip td, .pip th {
font-family: calibri, helvetica,'helvetica neue',arial, sans-serif !important;
}

.form > .row, .table .row, .kenmerk-veld  {
padding: .5em 0;
}

.row .row{
	margin-left:0;
}

.done h2 {
	font-size:1.25em;
}

h1, h2, .pip_inlog_wrapper h1,.table-title h4{
	color:#CA8712;
	font-weight: bold;
}

.table-title h4{
	font-size:1.4em;
}

.table-title h4 em{
	font-size:.8em;
}

.pip_inlog_wrapper h1{
	padding:15px 0 15px;
	margin-top:0;
	line-height: 1.2;
}

.header > h1{font-size:2.2em;line-height: 1;}

.subnote{
	font-size:1em;
}

.kenmerk-label-verplicht{
	font-size:1.2em;
}

.stap-tekst{
	border-bottom:2px solid #ddd;
}

.kenmerk-veld.row .column.large-4{
	padding-right:35px;
} 

/*.header-actions{
	margin-top:10px;
}*/

.field-has-help {
	margin-right: 1.7em;
}

.field-help .icon-question-sign{
	font-size:1.1em;
}

.stap-content-multiple{
	margin-bottom:1.75em;
}

.stap-content-multiple .stap-tekst h3{
	font-size:1.1em;
	margin-bottom:5px;
	margin-top:15px;
}

.stap-tekst-no-border{border:none;}


/* @group block */
 
 .block > .header,
 .pip-header,
 .basic .block.succes > .header {
 	background: #fff !important;
 	padding:0;
 	margin:0 0 20px;
 }
	
 /* @end */

 
 
 /* @group knop */
 
.knop{
	font-size:1em;
	border:none;
	background:none;
	box-shadow: none;
	color:#545490;
}

.header-actions .knop{
	border-bottom:1px solid;
	padding:0;
	border-radius: 0;
	line-height: .75;
	margin-left:8px;
}

.header-actions .knop:hover{
	border-bottom:none;
}

.knop i{
	font-size:.9em;
	margin-right:3px;
}

.knop:hover{
	color: #000;
}

.webform_inner .knop{
	border: 1px solid #BBBBBB;
	border-bottom-color:#999;
	border-top-color:#ccc;
}

.row .column, .row .columns {
	padding-left:0;
	padding-right:0;
}

.form-required-fields-explanation{
	font-size:.9em !important;
	color:#888;
}

.stap a:hover{
	text-decoration: none;
}

/* @end */
 
/* @group button140 */

.button140{background: #00832B;color:#fff !important;border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
transition: background-color 200ms linear;
font-size: 1.1em;
font-weight: normal;
padding-top:5px;
padding-bottom:5px;}
.button140:hover{background: #0b6631;}
.button140.left{background: #ddd;color:#000 !important;}
.button140.left:hover{background: #ccc;}


/* @end */


/* @group Baarn-ID */

.id-knop{
	background: #00832B;
	color:#fff;
	border:1px solid #00832B;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}

.id-knop:hover{
	background:#0b6631;
	border-color:#0b6631;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow: none;
}
 
/* @end */



 
/* @group pip */

.pip_inlog .pip-block,.prelogin-info{
	/*background: #ECEDED;*/
	border-radius:0;
}

.pip{
	padding: 15px 0px 25px;
}

.pip-header{
	display: none;
}

.pip-body #header-content{
	padding-bottom:97px;
}

.pip-body #main{
	padding:0;
}

.pip-nav{
	border:none;
	position: absolute;
	top:142px;
	z-index: 2;
	width:50%;
}

.pip-nav ul li a{
	border:none;
	color:#fff !important;
	position: relative;
	font-weight: normal;
	padding:46px 10px 5px;
	margin:0;
	transition:background-color 200ms linear;
	border-radius:8px;
}

.pip-nav ul li a:hover{
	background-color: #545490;
	outline: none;
	text-decoration: none;
}

.pip-nav ul li a i{
	margin:0;
	position: absolute;
	font-size:2.2em;
	top:.1em;
	left:50%;
	margin-left: -.45em;
}

.pip ul.right{
	float:left !important;
}

.pip-nav ul.right li a{
	margin:0;
	opacity: .5;
}

.pip-nav ul.right li a:hover{
	opacity:1;
}

.pip-table td{
	padding-top:5px;
	padding-bottom:5px;
}

.data-table thead th{
	padding-top:2px !important;
	padding-bottom:2px !important;
}

a.pip-button-afronden{
	text-decoration: underline;
	font-size:1em;
	font-weight: normal;
}

a.pip-button-afronden, a.pip-button-afronden:hover{
	background:none;
}

a.pip-button-afronden:hover{
	text-decoration: none;
}

.pip-voortgang-wrap{
	padding:0;
}

.pip-voortgang-wrap .pip-voortgang-perc{
	height:2.692em;
}

.pip-voortgang-wrap .pip-voortgang-dagen{
	line-height:1.65em;
}

.pip-zaaknummer a{
	color:#000 !important;
}

.pip-zaaktitel h2{
	font-size:1em;
}

.pip td{
	line-height: 1.3;
}

/*#footer ul#about-site{
	margin:5.7em 0 0;
}*/

/* @end */
 

 
/* @group stappen  */
	
	.stappen-nav{margin: 0px;width: auto;
	}
 
	.groeptekst { padding: 8px 0 12px; }
	
	.groeptekst {
		border-top: none;
		margin: 0; }
	 
		.groeptekst .current-group { bottom: -3px; }

	 
		.stap.active {
			border-bottom-color: #dd9414;}
			
			
	.ideal-knop, input.id-knop-groot { height: 100px !important; }


/* @end */
