<form class="ezra_kennisbank_confirm">
    <div class="dialog-inner">
        <label>Korte omschrijving over deze wijziging</label>
        <input
            type="text"
            name="commit_message"
            value="[% (entry ? 'Bewerkt: ' : 'Aangemaakt:') %]"
            class="large"
        />
    </div>
    <div class="form-actions">
        <input type="submit" value="Opslaan" class="button140" id="dialog-submit"/>
    </div>
</form>

