<div id="kennisbank_search">
    <div id="accordion">
        <h3><a href="#">Zoekcriteria</a></h3>
        <div>
           <div id="search_zaaktype_popup" class="ui-accordion-table-bg clearfix">
                <form method="POST">
                    <input type="hidden" name="search" value="1" />

                   <input type="text" name="term" class="infinite marginBottom" placeholder="Vul hier je zoekterm in">
                    <input type="submit" class="button140 right" name="submit" value="Zoeken" />
                    <i id="betrokkene_loader" class="disabled spinner-small spinner-dialog"></i>
                </form>
                
            </div>
        </div>

        <h3><a href="#">
            Resultaten <!--(<span
                class="ezra_search_box-result_count">0 van 0</span>)-->
            </a>
        </h3>

        <div>
            <div class="ui-accordion-table-bg ezra_search_box-results">
                <table class="table_zaaktypen">
                </table>
            </div>
        </div>
    </div>
</div>

