div.configuration {
  padding-bottom: 20px;
}

.configuration-experimental {
  background: #ffcccc;
  border: 1px solid #e60000;
  padding: 5px 10px;
  margin: 0 0 15px;
  position: relative;
  z-index: 1;
}

.configuration .configuration-titel {
  border-bottom: 1px solid #ddd;
  padding: 0 0 1em;
}
.configuration .configuration-titel a {
  color: #888;
}
.configuration .configuration-titel a:hover {
  color: #000;
}
.configuration .configuration-titel h3 {
  margin: 0 3px;
  display: inline-block;
}

.configuration legend {
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: 5px;
  border-bottom: 3px solid #999;
}

.configuration input[type="text"] {
  width: 300px;
}

.configuration select {
  width: 300px;
}

.configuration label {
  display: inline-block;
}

.configuration.block .header {
  border-bottom: none;
}

.jobs h3 {
  border-bottom: 2px solid #ddd;
  padding: .6em 0;
}

.jobs-done {
  margin-bottom: 20px;
}
