/* @group forms.css */
/* @group stappen */
.stap-content-multiple {
  margin-bottom: 1em;
}

.stap-tekst {
  clear: both;
  margin: 0;
  padding: 0 0 .35em;
  border-top: none;
  position: relative;
  border-bottom: 2px solid #ddd;
}

.stap-tekst-no-border {
  border: none;
}

.stap-tekst .stap-titel,
.stap-tekst .stap-beschrijving {
  padding: 0;
}

.stap-tekst .stap-titel,
.blockcontent > h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: .25em 0 .5em;
}

.stap-tekst h3 {
  font-size: 1.1em;
  margin: 1.75em 0 1em;
}

.stap-tekst .stap-beschrijving {
  line-height: 1.7;
  font-weight: normal;
  color: #222;
  margin: 0 0 .8em;
}

.stap-tekst .stap-beschrijving ul {
  margin: .7em 0 1em;
  padding-left: 1em;
}

.stap-tekst .stap-beschrijving p {
  margin: .7em 0 1em;
}

.stap-tekst.stap-tekst-enkel {
  padding: 0 !important;
}

.form-navigation {
  list-style: none;
  display: block;
  padding: 0px;
  border: 1px solid #ccc;
  border-bottom: none;
  background: #eeeeee;
  max-width: 100%;
  width: 100%;
  display: table;
  margin: 0 0 1.5em;
}

.form-navigation li {
  display: table-cell;
  padding: 5px 15px 5px 30px;
  text-align: center;
  vertical-align: middle;
  height: 44px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-navigation li a {
  text-decoration: none;
}

.form-navigation-disabled li {
  color: #999;
}

.stappen-nav {
  border: 1px solid #ccc;
  border-bottom: none;
  background: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: none;
}

.stap {
  background: #f8f8f8;
  background-image: url(../images/voortgang-pijl.png);
  background-repeat: no-repeat;
  background-position: -15px center;
  position: relative;
  border-bottom: 3px solid #ccc;
}

.stap a {
  color: #666;
}

.stap a:hover {
  cursor: default;
}

.stap.done a {
  text-decoration: underline;
}

.stap.done a,
.stap.active a {
  color: #000;
  font-weight: bold;
}

.stap.done a:hover {
  cursor: pointer;
}

.stap.active {
  color: #000;
  background: #e6e6e6;
  background-image: url(../images/voortgang-pijl.png);
  background-repeat: no-repeat;
  background-position: -15px center;
  border-bottom-color: #000;
  font-weight: bold;
}

.stap.active a {
  font-weight: bold;
}

.stap.next-to-active {
  background-image: url(../images/voortgang-pijl-active-2.png);
}

.stap.first {
  padding-left: 15px;
  background-image: none;
}

/* @end */
/* @group globals */
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

fieldset.attribute_group {
  margin: 0 0 30px 0;
}

legend {
  padding: 0;
}

label {
  line-height: 1.8;
}

button {
  border: none;
}
button:hover {
  cursor: pointer;
}

.ie button {
  overflow: visible;
}

input,
textarea {
  font-size: 1em;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
textarea {
  border-style: solid;
  border-width: 1px;
  border-color: #bbb;
  padding: 5px;
  font-family: 'helvetica neue',helvetica,arial,sans-serif;
  margin: 0;
}

input[type=file] {
  border: none;
}

input[type=text]:hover,
input[type=password]:hover,
textarea:hover {
  border-color: #888;
}

input:focus,
textarea:focus {
  border-color: #777;
  box-shadow: #14a4fe 0 0 4px;
  -moz-box-shadow: #14a4fe 0 0 4px;
  -webkit-box-shadow: #14a4fe 0 0 4px;
}

.ie input:focus,
.ie textarea:focus,
.ie a:focus {
  outline: #14a4fe solid 2px;
}

input[type="text"].ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid {
  -webkit-box-shadow: #fc4848 0 0 4px 0;
  -moz-box-shadow: #fc4848 0 0 4px 0;
  box-shadow: #fc4848 0 0 4px 0;
  border-color: red;
}

input[type="text"].ng-dirty.ng-invalid:focus,
textarea.ng-dirty.ng-invalid:focus {
  -webkit-box-shadow: #14a4fe 0 0 4px 0;
  -moz-box-shadow: #14a4fe 0 0 4px 0;
  box-shadow: #14a4fe 0 0 4px 0;
  border-color: #14a4fe;
}

/* @end */
/* @group input */
input.flexible80 {
  width: 80%;
}

input.micro {
  width: 24px;
}

input.mini40 {
  width: 40px;
}

input.mini60 {
  width: 60px;
}

input.mini70 {
  width: 70px;
}

input.mini80 {
  width: 80px;
}

input.normal100 {
  width: 100px;
}

input.normal120 {
  width: 120px;
}

input.normal150 {
  width: 150px;
}

input.medium {
  width: 175px;
}

input.medium185 {
  width: 185px;
}

input.large {
  width: 275px;
}

input.large290 {
  width: 290px;
}

input.large300 {
  width: 300px;
}

input.large350 {
  width: 350px;
}

input.xlarge {
  width: 450px;
}

input.infinite {
  width: 97%;
}

.form input.infinite {
  width: 100%;
}

input.andbeyond {
  width: 1000000%;
}

input.input_readonly {
  background: #eee;
  font-style: italic;
}

input.input_readonly:focus {
  box-shadow: none;
}

input[disabled="disabled"] {
  background: #eee;
}

/* legacy */
.input_micro {
  width: 24px;
}

.input_mini {
  width: 60px;
}

.input_normal {
  width: 120px;
}

.input_medium {
  width: 200px;
}

.input_large {
  width: 300px;
}

.input_xlarge {
  width: 475px;
}

/* @end */
/* @group textarea */
textarea {
  height: 120px;
  width: 300px;
}

textarea.small {
  width: 150px;
}

textarea.normal {
  width: 250px !important;
  height: 100px;
}

textarea.large {
  width: 450px;
}

textarea.txt300 {
  width: 300px;
}

textarea.txt480 {
  width: 476px;
}

textarea.textarea_toelichting {
  height: 50px;
}

textarea.infinite {
  width: 97%;
}

.form textarea.infinite {
  width: 100%;
}

/* @end */
/* @group label */
label.titel {
  display: inline;
  font-size: 1em;
  font-weight: normal;
  float: left;
}
label.titel strong {
  font-size: 1.1667em;
}

label.extra_options {
  margin-left: 15px;
}

/* @end */
/* @group checkboxes & radio items */
input[type="checkbox"],
input[type="radio"] {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

label > input[type="checkbox"],
label > input[type="radio"] {
  margin-right: 4px;
}

.radio-item, .checkbox-item {
  margin: 0 0 8px;
  display: inline-block !important;
}
.radio-item input, .checkbox-item input {
  margin: 0 3px 0 0;
  padding: 0;
}

/* @end */
/* @group selectboxes */
select.dag {
  width: auto;
}

select.maand {
  width: auto;
}

select.jaar {
  width: auto;
}

select.auto {
  width: auto;
}

select.select100 {
  width: 100px;
}

select.select125 {
  width: 125px;
}

select.select150 {
  width: 150px;
}

.select350 {
  max-width: 350px;
}

.oldie .select350 {
  width: 350px;
}

option {
  padding: 0 3px;
}

/* @end */
/* @group custom */
.search_wrap {
  position: relative;
  float: left;
  margin-right: 6px;
}
.search_wrap .icon {
  position: absolute;
  margin-top: -8px;
  top: 50%;
  right: 6px;
}

.zoek_veld {
  width: 310px;
}
.zoek_veld .knop.medium {
  float: left;
  margin-left: 6px;
  width: 16px !important;
}
.zoek_veld input[type=text] {
  width: 246px;
  float: left;
  padding: 5px;
}

/* @end */
/* @group Validator   */
.validator {
  display: none;
  position: relative;
  padding: 0 0 0 5px;
  z-index: 2;
}

.validator span {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-right: 7px;
  float: left;
  margin-top: 0.308em;
}

.validator i {
  color: red;
  margin-right: .5em;
}

.validator.invalid span {
  background-image: url(../images/icon-validation-failed.png) !important;
  background-color: #f4e1de;
}

.validator.invalid div.validate-tip {
  background: url(../images/validator-tip.gif) no-repeat 0 0;
  height: 11px;
  width: 6px;
  position: absolute;
  left: 0;
  top: 7px;
}

.validator.invalid div.validate-content {
  border: 1px solid red;
  line-height: 1.6;
  padding: 3px 10px;
  float: left;
  width: auto;
  background: #f4e1de;
  font-weight: normal;
}

#fresh-form .validator {
  float: left !important;
}

.webformcontent .validator {
  padding: 10px 0 0;
}

.webformcontent .validator.invalid div.validate-content {
  float: none;
}

.webformcontent .validator.invalid div.validate-tip {
  display: none;
}

/* @end  */
/* @group Guideline */
.tooltip-test-wrap {
  position: relative;
  height: 20px;
  display: inline-block;
  margin-left: -1px;
  display: none;
  z-index: 3;
}

.tooltip-test {
  width: 180px;
  height: auto;
  position: absolute;
  background: #fffee0;
  top: 0;
  left: 6px;
  padding: 5px 10px;
  border: 1px solid #a6a6a6;
  border-color: #ddd #bbb #AAAAAA #ccc;
  z-index: 1;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  max-height: 150px;
  overflow: auto;
  overflow-x: hidden;
}

.tooltip-test-tip {
  position: absolute;
  top: 7px;
  width: 7px;
  height: 13px;
  background: url(../images/guideline-tooltip-tip.gif) no-repeat 0 0;
  z-index: 2;
}

.tooltip-test > ul {
  padding: 0 0 0 15px;
  margin: 0;
}

.tooltip-test-wrap br {
  display: block;
}

.icon_close {
  background: white url(../images/icon-close.png) no-repeat 4px 4px;
  border: 1px solid #777;
  width: 8px;
  height: 8px;
  top: -7px;
  right: -7px;
  padding: 4px;
  box-shadow: 1px 1px 1px #ddd;
  border-radius: 9px;
  position: absolute;
  display: none;
}

#clicked .icon_close {
  display: block;
}

.icon_close:hover {
  background-color: #fff;
  cursor: pointer;
  box-shadow: 1px 1px 3px #999;
  border: 1px solid #555;
}

.icon_close:active {
  box-shadow: none;
  top: -6px;
}

/* @end */
/* @group captcha */
.recaptchatable a {
  display: block;
  width: 25px;
  height: auto;
}
.recaptchatable a:focus {
  outline: blue solid 2px !important;
}

#recaptcha_widget_div * {
  box-sizing: content-box !important;
}

/* @end */
/* @group Einde zaak */
.start_zaak_box {
  font-size: 16px;
  line-height: 1.5;
  padding: 10px 15px 10px 41px;
  background: #444445 url(../images/icon-info-wit.png) no-repeat 15px center;
  color: #fff;
  display: inline-block;
  margin: 10px 0;
  border-radius: 3px;
}
.start_zaak_box a {
  color: #fff;
  font-weight: bold;
}
.start_zaak_box a:hover {
  text-decoration: underline;
}

.start_zaak_box_content {
  border-left: 2px solid #fff;
  margin-left: 60px;
  background: #555;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 0 3px 3px 0;
}

/* @end */
/* @group .form */
.webformcontent {
  position: relative;
}

.form * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.form * textarea {
  min-height: 7em;
  width: 100%;
}
.form * label.titel {
  font-weight: normal;
  color: #222;
  float: none;
  text-align: left;
  display: block;
}
.form * label {
  display: block;
}
.form * select {
  margin: 4px 0;
}

/* @end */
.cheating {
  font-weight: normal;
  font-size: 13px;
  float: right;
  margin-right: 10px;
  margin-top: 2px;
}

.form-fieldset {
  padding: 1em 0;
}

.form-field {
  display: table;
  width: 100%;
  table-layout: fixed;
  position: relative;
  border-bottom: 1px solid #eee;
  padding: 15px 0;
}

.form-field-description {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -11px;
}

.form-field-description-icon {
  width: 16px;
  height: 16px;
}
.form-field-description-icon:hover {
  color: #45525a;
}

.form-field-description-message {
  display: none;
  position: absolute;
  top: -8px;
  right: 25px;
  background: white;
  padding: 7px 10px;
  z-index: 1;
  min-width: 200px;
  -webkit-box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.15);
  border: 1px solid #bbb;
  text-align: left;
  color: #333;
  font-weight: normal;
  line-height: 1.5;
}
.form-field-description-message:before {
  content: "";
  position: absolute;
  background: url(../images/dropdown-pijl.png) no-repeat 0 0;
  width: 10px;
  height: 17px;
  top: 7px;
  right: -9px;
  z-index: 10;
}

.form-field-description:focus .form-field-description-message,
.form-field-description:hover .form-field-description-message {
  display: block;
}

.form-field-label {
  width: 30%;
  display: table-cell;
  vertical-align: top;
}

.form-field-value, .form-field-input {
  width: 75%;
}

.form-field-value {
  display: table-cell;
  vertical-align: top;
}

.form-field-input > label {
  display: block;
}

.form-field-revert {
  display: none;
}

.form-fieldset-meta {
  border-bottom: 2px solid #ccc;
  padding: 0 0 15px;
}

.form-fieldset-header {
  font-weight: bold;
  font-size: 1.077em;
}

.form-fieldset-actions {
  padding: 15px 0 0;
}

.form-field-button-list {
  padding: 15px 0;
}

.form-action {
  display: inline-block;
  margin-right: 8px !important;
}

.form-action:last-child {
  margin-right: 0 !important;
}

.form-file-upload-button > button {
  margin: 0 !important;
  padding-bottom: 0.6em !important;
  padding-top: 0.6725em !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

.form-file-list {
  margin: 0 0 8px;
}
.form-file-list .form-file-list-item {
  list-style: none;
  padding: 0 0 5px;
}
.form-file-list .form-file-list-item .form-file-list-item-remove {
  margin: 0 0 0 3px;
  background: transparent;
}

.form-actions {
  padding: 15px 0 0;
}

.form-actions.form-actions-bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.form-actions-inner {
  padding: 0 20px;
}

.form-required-fields-explanation {
  margin: 5px 0 0;
}

.field {
  margin-right: 0;
}
.field select {
  margin: 7px 0;
  font-size: 1em;
}
.field > ul {
  margin: 0;
  padding-left: 15px;
}
.field > ul > li {
  line-height: 1.7;
}
.field > span {
  line-height: 1.8;
}

.field-has-help {
  margin-right: 1.4em;
}

.field-help {
  position: absolute;
  right: 0;
  top: 7px;
}
.field-help .icon-question-sign {
  color: black;
  display: block;
}
.field-help .icon-question-sign:hover, .field-help .icon-question-sign:focus {
  color: green;
}

.zaakdossier-afgehandeld .field-help {
  top: 3px;
}

/* @group Velden dossier */
.kenmerken .inner {
  padding: 10px 20px;
}

.kenmerk-groep {
  padding: 0;
  margin-top: 20px;
}

.kenmerk-groep:first-child {
  margin-top: 0px;
}

.kenmerk-groep .kenmerk-groep-titel {
  border-bottom: 2px solid #ddd;
  padding: 12px 0 8px;
}

.kenmerk-groep .kenmerk-titel {
  margin: 0px;
  font-size: 1.231em;
}

.kenmerk-groep .kenmerk-beschrijving {
  margin-bottom: 5px;
  color: #333;
  font-size: 1.077em;
  line-height: 1.7;
  font-weight: normal;
  display: block;
  margin-top: 5px;
}

.kenmerk-groep li {
  margin-left: 15px;
  list-style: circle;
}

.kenmerk-veld {
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  position: relative;
}

.kenmerk-label {
  width: 200px;
  float: left;
  margin-top: 6px;
}

.zaakdossier-afgehandeld .kenmerk-label {
  margin-top: 0;
}

.kenmerk-label-verplicht {
  font-size: 1.692em;
  line-height: .7;
  display: inline-block;
  width: 15px;
  height: 12px;
  text-align: center;
  font-style: normal;
}

.kenmerk-label-verplicht:hover {
  cursor: default;
}

.kenmerk {
  margin-left: 220px;
}

.kenmerk > ul {
  margin-left: 17px;
}

.kenmerk ul li {
  list-style-type: disc;
  line-height: 1.5;
}

.has-kenmerk-help .kenmerk {
  margin-right: 24px;
}

.kenmerk select {
  margin: 7px 0;
}

.kenmerk-help {
  position: absolute;
  right: 0;
  top: 19px;
}

.kenmerk-resultaten .kenmerk-help {
  top: 12px;
}

.kenmerk-ztc {
  opacity: 0.7;
  filter: Alpha(Opacity=70);
  display: block;
  padding: 6px 10px;
  border-top: 1px solid #ddd;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 10px -10px -10px;
  background: #f9f9f9;
  border-radius: 0 0 3px 3px;
}

.kenmerk-empty {
  padding: 15px 0 0;
  color: #bbb;
  font-size: 16px;
  margin: 0 0 15px;
}

.kenmerk-resultaten .kenmerk-veld {
  padding: 10px 0;
}

.kenmerk-resultaten .kenmerk {
  margin-left: 0;
}

.kenmerk-resultaten {
  margin-top: 25px;
}

/* @end */
/* @group Veldoptie */
.veld-uitleg {
  color: #666;
}

.veldoptie_text,
.veldoptie_numeric,
.veldoptie_text_uc {
  width: 100%;
}

.veldoptie_datepicker,
.veldoptie_valuta_simpel {
  width: 175px !important;
}

.veldoptie_valuta input.eur {
  width: 150px !important;
}

.veldoptie_valuta input.cnt {
  width: 50px !important;
}

.veldoptie_textarea {
  width: 100%;
  height: 100px;
}

.veldoptie_multiple .add.add-veldoptie {
  margin: 0;
}

.veldoptie_multiple_list {
  padding: 0 !important;
  margin: 0 !important;
}

.veldoptie_multiple_list li {
  list-style: none outside none !important;
  margin-bottom: 2px;
  margin-left: 0;
  padding: 0px 30px 6px 0px;
  position: relative;
  width: 95%;
}

.veldoptie_multiple_list li a.del,
.veldoptie_multiple_list li .del-inactive {
  display: block;
  float: right;
  position: absolute;
  height: 16px;
  width: 16px;
  top: 50%;
  margin-top: -10px;
  right: 9px;
}

.veldoptie_multiple_list select {
  width: 99%;
  margin: 0;
}

.del-inactive {
  background: url(../images/icon-delete-inactive.png) no-repeat 0 0;
}

/* @end */
/* @group Motherloader  */
.fileUpload {
  position: relative !important;
}

.fileUpload .file {
  border: 1px solid #bbb;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 1px 1px 1px #F1F1F1 inset;
  float: left;
  margin-right: 4px;
  padding: 0 5px;
}

.fileUpload .new_upload {
  /*position: absolute;*/
  top: 0;
  left: 0;
  background: #fff;
}

.fileToUpload {
  position: absolute;
}

.mintloader {
  color: #555;
  cursor: default;
  padding: 4px;
  background: #fff;
  position: relative;
  border: 1px solid #bbb;
  border-radius: 3px;
  width: 100%;
}

.mintloader.hover {
  box-shadow: 0 1px 1px #ccc inset, 0 0 4px #ccc;
  background: #fff;
  border: 1px solid #555;
  border-left: 1px solid #777;
  border-right: 1px solid #777;
  border-bottom-color: #999;
  padding: 10px;
  margin: -6px;
}

.mintloader.active {
  z-index: 1101;
  box-shadow: 0 0 4px #ccc;
}

.progressIndicator {
  font-size: 1em;
}

.fileInfo {
  font-size: 10pt;
  font-style: italic;
  color: #aaa;
  margin-top: 10px;
  display: none;
}

.progressBarOuter {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 1px;
  float: left;
  box-shadow: 0px 1px 1px #ddd;
  background: white;
}

.progressBar {
  height: 2.615em;
  display: none;
  border-radius: 3px;
  background: url("../images/progress-value-bg.gif") repeat-x scroll 20px center #b0d77f;
}

.uploadResponse {
  margin: 4px -4px -4px;
  overflow: hidden;
  border-top: 1px solid #d0d0d0;
  background: #f3f3f3;
  border-radius: 0 0 5px 5px;
}

.mintloader.hover .uploadResponse {
  margin: 4px -10px -10px;
  padding-bottom: 6px;
}

.progressIndicator {
  display: none;
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 100;
}

.progressNumber {
  display: none;
}

.transferBytesInfo {
  width: 100%;
  position: absolute;
  line-height: 2.7;
  text-align: center;
  color: #222;
  font-weight: bold;
}

.fileuploadthumbnail {
  background: url(../images/mime/icon-txt.png) no-repeat 6px center;
  clear: left;
  padding: 6px;
  padding-left: 28px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
}

.referred_field_value .fileuploadthumbnail {
  border: none;
}

.fileuploadthumbnail:last-child {
  border-bottom: none;
}

.mintloader.hover .fileuploadthumbnail {
  padding: 6px 12px;
  padding-left: 34px;
  background-position: 12px center;
}

.mintloader span.slepen {
  color: #ccc;
  margin-left: 10px;
  float: right;
  margin-right: 5px;
  line-height: 1.9;
}

.mintloader .mintloader-error {
  padding: 0 5px 5px 5px;
}

.ie .mintloader {
  padding: 0;
  background: none;
  border: none;
}

.ie .fileuploadthumbnail {
  background: url(../images/mime/icon-txt.png) no-repeat 0px center;
  padding-left: 22px;
  border-top: none;
  border: none !important;
}

.ie .fileUpload .new_upload {
  top: 0px;
  width: 100%;
  background-color: transparent;
}

.ie .fileUpload input,
input[type=file] {
  padding: 5px;
  border: 1px solid #aaa !important;
}

/* @end */
/* @group Rijke tekst */
.rijke-tekst p,
.rijke-tekst h1,
.rijke-tekst h2,
.rijke-tekst h3,
.rijke-tekst ul,
.rijke-tekst ol {
  margin: 15px 0;
}

.rijke-tekst h1,
.rijke-tekst h2,
.rijke-tekst h3 {
  line-height: 1.3;
}

.rijke-tekst h1 {
  font-size: 1.846em;
}

.rijke-tekst h2 {
  font-size: 1.385em;
}

.rijke-tekst h3 {
  font-size: 1.154em;
}

.rijke-tekst img {
  display: block;
  max-width: 100%;
}

.rijke-tekst ul,
.rijke-tekst ol {
  padding: 0;
}

.rijke-tekst ul {
  margin-left: 15px;
}

.rijke-tekst ul li {
  list-style: disc;
}

.rijke-tekst li {
  line-height: 1.7;
}

.rijke-tekst ol li {
  list-style: decimal;
  margin-left: 20px;
}

.rijke-tekst em {
  font-style: italic;
  color: #000;
}

.rijke-tekst strong {
  font-weight: bold;
}

.rijke-tekst a {
  text-decoration: underline;
  color: #0088CC;
}

.rijke-tekst a:hover {
  color: #005580;
}

/* @end */
/* @group Openlayers Kaart */
.map-wrap {
  margin: 0 0 15px;
}

.map-header {
  border: 1px solid #aaa;
  border-bottom: none;
}

.map-header input {
  width: 100%;
  border: none !important;
  padding: 10px 0 10px 0;
  background: url("../images/icon-filter.png") no-repeat scroll 12px center;
  text-indent: 34px;
  margin: 0;
}

.ie8 .map-header input {
  text-indent: 0;
  padding-left: 34px;
}

.map-header input:focus,
.map-header input:active {
  box-shadow: none !important;
  border: none !important;
}

.map {
  border: 1px solid #aaa;
}

.map-balloon-title {
  margin-bottom: 6px;
  font-size: 1.231em;
  padding-bottom: 10px;
  border-bottom: 1px dotted #bbb;
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.map-balloon-title a {
  text-decoration: none;
}

.map-balloon-title a span {
  font-weight: normal;
}

.map-balloon-list {
  padding-bottom: 0px;
  margin-right: 10px;
  padding-left: 0;
  margin-bottom: 0;
}

.map-balloon-list li {
  line-height: 1.6;
  list-style: none;
  margin-left: 0;
}

.map-balloon-list li div {
  display: inline;
}

.map-balloon-list li div:first-child {
  font-weight: bold;
}

.map-wrap .map > div {
  width: 100% !important;
}

.map h2 {
  margin: 0 0 10px !important;
}

/* @end */
/* @end */
.spot-enlighter-container {
  visibility: hidden;
}

.spot-enlighter-visible {
  visibility: visible;
}

.spot-enlighter-menu {
  position: fixed;
  z-index: 4000;
  background: white;
  padding: 2px 0;
  list-style-type: none;
  border: 1px solid #aaa;
  -webkit-box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.4);
  min-width: 200px;
  max-width: 500px;
  max-height: 300px;
  overflow: auto;
}

.spot-enlighter-menu[data-zs-spot-enlighter-vertical-orientation="bottom"] {
  margin-top: 2px;
}

.spot-enlighter-menu[data-zs-spot-enlighter-vertical-orientation="top"] {
  margin-bottom: 2px;
}

.spot-enlighter-menu > li {
  background-color: white;
  padding: 6px 8px;
  cursor: pointer;
  line-height: 1.3;
}

.spot-enlighter-menu > li:hover,
.spot-enlighter-menu > li.spot-enlighter-entry-highlight {
  background-color: #eee;
}

.spot-enlighter-wrapper {
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form .spot-enlighter-wrapper {
  display: block;
}

.spot-enlighter-wrapper > input {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
}
.spot-enlighter-wrapper > input[disabled="disabled"] {
  background: transparent;
}

.spot-enlighter-wrapper > label {
  display: block;
}

.spot-enlighter-tag-wrapper {
  padding: 3px;
  max-width: 100%;
  position: absolute;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

.spot-enlighter-tag {
  display: inline-block;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.3);
  line-height: 1.5;
  background-color: #eee;
  border-radius: 2px;
  padding: 0 18px 0 4px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: -webkit-gradient(linear, to bottom, to top, color-stop(0%, #f9f9f9), color-stop(100%, #eeeeee));
  background: -webkit-linear-gradient(to bottom, #f9f9f9 0%, #eeeeee 100%);
  background: -moz-linear-gradient(to bottom, #f9f9f9 0%, #eeeeee 100%);
  background: -o-linear-gradient(to bottom, #f9f9f9 0%, #eeeeee 100%);
  background: linear-gradient(to bottom, #f9f9f9 0%, #eeeeee 100%);
  -webkit-box-shadow: inset 0 0 1px white;
  -moz-box-shadow: inset 0 0 1px white;
  box-shadow: inset 0 0 1px white;
  text-overflow: ellipsis;
}

.spot-enlighter-tag:focus {
  border: 1px solid rgba(0, 0, 0, 0.6);
  background: -webkit-gradient(linear, to bottom, to top, color-stop(0%, #e9e9e9), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(to bottom, #e9e9e9 0%, #dddddd 100%);
  background: -moz-linear-gradient(to bottom, #e9e9e9 0%, #dddddd 100%);
  background: -o-linear-gradient(to bottom, #e9e9e9 0%, #dddddd 100%);
  background: linear-gradient(to bottom, #e9e9e9 0%, #dddddd 100%);
}

.spot-enlighter-clear {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  right: 4px;
  background: none;
  margin-top: -10px;
  line-height: 1;
}
.spot-enlighter-clear:hover {
  color: #000;
}

.spot-enlighter-loading {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  right: 4px;
  background: url(../images/spinner-small.gif) no-repeat 50% 50% white;
  margin-top: -10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

.spot-enlighter-menu > li > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.spot-enlighter-menu > li > div > div {
  font-weight: bold;
}

.spot-enlighter-entry-desc {
  font-size: .9em;
  color: #888;
}

[data-zs-spot-enlighter]::-ms-clear {
  display: none;
}
