.block.sysin-links {
  margin-bottom: 0;
}

.sysin-links-content {
  padding: 0 !important;
}

.sysin-links-list {
  width: 240px;
  padding: 5px 0;
  border-right: 3px solid #ddd;
}

.sysin-links-list > ul {
  list-style: none;
  padding: 0;
}

.sysin-links-list-item {
  width: 100%;
  position: relative;
}
.sysin-links-list-item:hover {
  background-color: #f3f7cd;
}

.sysin-links-list-item > button {
  background: none;
  width: 100%;
  text-align: left;
  padding: 0 30px 0 12px;
  line-height: 32px;
}

.sysin-links-list-item-active > button {
  background-color: #dfe975;
}

.sysin-links-detail {
  padding: 0;
  left: 243px;
  right: 0;
}
.sysin-links-detail > div {
  padding: 0 15px;
}
.sysin-links-detail .form-action-submit {
  display: none;
}

.sysin-links-list-item-action-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.sysin-links-list-item-error {
  display: inline-block;
}

.sysin-links-list-item-actions {
  display: inline-block;
}
.sysin-links-list-item-actions .action-bar-dropdown-menu {
  min-width: 180px;
}

.sysin-links-list-item-actions-open {
  line-height: 32px;
  padding: 0 8px;
  background: none;
  opacity: 0.25;
  color: #999;
}

.sysin-links-list-item:hover .sysin-links-list-item-actions-open {
  opacity: 1;
}

.sysin-links-list-item-actions-open:hover {
  color: #666;
}

.sysin-links-list-item-button {
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sysin-links-list-item .action-bar-button a {
  display: block;
  color: inherit;
  text-decoration: none;
}

.mapping-list {
  list-style: none;
  display: table;
  width: 100%;
}

.mapping-list-item {
  display: table-row;
}

.mapping-list-item > div {
  display: table-cell;
}

.mapping-value .spot-enlighter-wrapper {
  padding: 0;
}

.sysin-transactions .crud-table-column-header {
  white-space: nowrap;
}
.sysin-transactions .crud-table-value-cell {
  min-width: 10%;
}
.sysin-transactions .crud-table-column-header-success {
  width: 22px;
}
.sysin-transactions .crud-table-column-header-name {
  width: 50%;
}

.transaction-item-status {
  display: inline-block;
  width: 16px;
  height: 14px;
  text-align: left;
  margin-left: 6px;
}

.transaction-item-direction i {
  font-size: 1em;
  margin-right: 3px;
  background: #000;
  color: #fff;
  padding: 1px;
  border-radius: 2px;
}

.transaction-record-link a {
  color: #999999;
}

.icon-ok {
  color: green;
}

.sysin-links-list-item-error .icon-warning-sign {
  color: #e60000;
}

.record-item-status.icon-remove,
.transaction-item-status.icon-remove {
  color: red;
}

.sysin-transactions .crud-table-column-header-transaction_id {
  width: 100px;
}

.sysin-transactions .detail-view-field-name-input {
  display: block;
}

.sysin-transactions .detail-view-field-name-input > * {
  display: block;
}

.sysin-transactions .detail-view-field-name-input .detail-view-field-value {
  width: 100%;
}

.sysin-transactions .detail-view-field-name-input .detail-view-field-value-display {
  width: 100%;
}

.sysin-transactions .detail-view-field-name-input textarea {
  width: 100%;
}

.transaction-record-list .crud-table-item-cell {
  vertical-align: top;
}

.sysin .crud-table-value-cell-mutations {
  white-space: normal;
}

.sysin-links-list-item-actions ul {
  left: auto;
  right: 0;
}

.sysin-links.block-inner-scroll {
  top: 130px;
}

.mapping-list li > div {
  padding: 5px 0;
}
.mapping-list li .mapping-name input,
.mapping-list li .mapping-value input {
  width: 225px;
}
.mapping-list li .mapping-optional {
  padding: 5px 8px 5px 0;
}

.data-mapping-add {
  padding: 5px 0;
}
.data-mapping-add form[name="newMapping"] input {
  margin-left: 20px;
  width: 225px;
  margin-right: 5px;
}

.sysin-temp-back-button {
  text-decoration: none;
  font-size: 1.2em;
  margin-right: 5px;
  line-height: 1;
}

.record-mutation-table {
  display: table;
  width: 100%;
}

.record-mutation-table-header, .record-mutation-table-row {
  display: table-row;
}

.record-mutation-table-header-cell, .record-mutation-table-cell {
  display: table-cell;
  padding: 4px;
  border-bottom: 1px solid #ddd;
  width: 100%/3;
}

.crud-table-value-cell-transaction_record_id {
  white-space: normal;
}

.record-mutation-table-header-cell {
  font-weight: bold;
  border-bottom-width: 2px;
  padding-top: 0;
}

.transaction-record-error {
  background-color: #ffb3b3;
  position: absolute;
  top: 47px;
  border-bottom: 1px solid red;
  border-top: 1px solid red;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
}
.transaction-record-error i {
  margin-right: 5px;
}

.transaction-record-detail-error .detail-view-listing {
  padding-top: 30px;
}

.object-subscription-view {
  padding: 12px 20px;
}

.object-subscription-view-title {
  padding: 12px 20px 5px;
  font-size: 1.2em;
}

form[name="manual-process"] .form-field-label {
  display: none;
}

.sysin-search-single .detail-view-field-afnemerindicatie {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 20px 0 20px;
  font-weight: bold;
}

.object-subscription-external-id {
  margin-right: 10px;
}

.interface-test-options {
  border-bottom: 1px solid #ddd;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 130px;
  position: relative;
  min-height: 45px;
}
.interface-test-options button {
  position: absolute;
  right: 0;
  top: 5px;
}

.interface-test-options .button140:active {
  position: absolute;
}

.interface-test-description {
  max-width: 600px;
}

.interface-test-list-item {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 12px 0;
  list-style: none;
}
.interface-test-list-item .interface-test-list-item-start,
.interface-test-list-item .interface-test-list-item-status {
  position: absolute;
}
.interface-test-list-item .interface-test-list-item-start {
  right: 0;
  top: 15px;
}
.interface-test-list-item .interface-test-list-item-status {
  right: 80px;
  top: 22px;
}
.interface-test-list-item .interface-test-list-item-status .icon-warning-sign {
  color: #e60000;
}
.interface-test-list-item .interface-test-list-item-status .interface-test-list-item-result-running {
  background: url(../images/loader.gif) no-repeat center center;
  width: 16px;
  height: 11px;
}
.interface-test-list-item .interface-test-list-item-error {
  border: 1px solid #cc0000;
  background-color: #ffcccc;
  padding: 3px 7px;
  margin-top: 4px;
  display: inline-block;
}
.interface-test-list-item .interface-test-list-item-meta {
  padding: 0 110px 0 0px;
}

.sysin-datastore-header {
  padding: 20px 0;
}

.sysin-datastore-header-select {
  margin-right: 10px;
  padding: 5px;
  margin-top: 1px;
}

.sysin-datastore-crud {
  overflow-x: auto;
}
