body.woz-body {
  background: #fff;
}
body.woz-body #contentwrapper {
  padding: 0;
}

.woz-intro {
  margin: 20px 0;
}

.woz td .knop {
  margin: 0 0 0 10px;
}

.woz {
  position: relative;
}
.woz label {
  font-weight: bold;
  line-height: 1;
}
.woz h1 {
  margin: 20px 0;
}
.woz .woz-taxatierapport {
  margin-bottom: 12px;
}
.woz .woz-taxatierapport-group {
  margin-bottom: 30px;
}
.woz .woz-taxatierapport-group.woz-taxatierapport-group-inner {
  float: none;
  padding: 1px 15px 10px;
  background: #fff;
  border: 1px solid #bbb;
}
.woz .woz-taxatierapport-group.woz-taxatierapport-group-inner > .woz-taxatierapport-title-primary {
  margin: 0 -15px;
  padding: .8em 15px;
  border-bottom-color: #bbb;
}
.woz .woz-taxatierapport-title {
  border-bottom: 2px solid #ddd;
  padding: .8em 0;
}
.woz .woz-taxatierapport-row {
  clear: both;
  border-bottom: 1px solid #ddd;
  padding: .8em 0;
  box-sizing: border-box;
}
.woz .woz-taxatierapport-row:before, .woz .woz-taxatierapport-row:after {
  content: " ";
  display: table;
}
.woz .woz-taxatierapport-row:after {
  clear: both;
}
.woz .woz-taxatierapport-row > div {
  float: left;
}
.woz .woz-taxatierapport-row.woz-taxatierapport-row-table {
  border: none;
}
.woz .woz-taxatierapport-label {
  width: 27%;
}
.woz .woz-taxatierapport-kaal .woz-taxatierapport-label {
  width: 35%;
}
.woz .woz-taxatierapport-text {
  width: 73%;
}
.woz .woz-taxatierapport-text p {
  margin: 0;
}
.woz .woz-taxatierapport-kaal .woz-taxatierapport-text {
  width: 65%;
}
.woz .woz-taxatierapport-text-smal {
  width: 23%;
}
.woz .woz-taxatierapport-uitleg {
  font-style: italic;
}
.woz .woz-info {
  padding-right: 330px;
}
.woz .woz-photo {
  position: absolute;
  top: 0px;
  right: 0px;
  border: 1px solid #ddd;
  padding: 4px;
}
.woz .woz-photo span {
  display: none;
}
.woz .woz-photo img {
  display: block;
}
.woz .woz-photo a {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 1px 8px;
}
.woz .woz-photo a i.icon-font-awesome {
  font-size: 14px;
}
.woz .woz-photo.woz-photo-unavailable {
  background: #f5f5f5;
  text-align: center;
  vertical-align: middle;
  color: #ddd;
  font-size: 16px;
  font-weight: bold;
  width: 300px;
  height: 230px;
  display: table;
}
.woz .woz-photo.woz-photo-unavailable span {
  display: table-cell;
  vertical-align: middle;
}
.woz .woz-photo.woz-photo-unavailable img, .woz .woz-photo.woz-photo-unavailable a {
  display: none;
}

.woz-base {
  margin-bottom: 35px;
  padding-right: 130px;
}

.woz-crumb,
.woz-crumb a {
  font-size: 11px;
  color: #999;
}
.woz-crumb:hover,
.woz-crumb a:hover {
  color: #333;
}

.woz-base-header {
  position: relative;
  padding: 20px 0 12px;
}
.woz-base-header .knop {
  position: absolute;
  top: 20px;
  right: -130px;
  padding: 12px 18px 12px 44px;
  background: url(../images/knop-bg-medium.gif) repeat-x 50% 50%;
}
.woz-base-header .knop span {
  left: 15px;
}
.woz-base-header h1 {
  margin: 0;
}

.woz-base-info {
  font-size: 14px;
}
.woz-base-info .divide {
  margin: 0 4px;
}

.woz-waarde {
  margin-bottom: 30px;
}
.woz-waarde h3 {
  font-size: 13px;
  color: #000;
  margin: 37px 0 10px;
  padding: 0px 40px 0;
  font-weight: normal;
}
.woz-waarde strong {
  font-size: 30px;
}

.woz-waarde-blok {
  width: 24.25%;
  margin-right: 1%;
  float: left;
}
.woz-waarde-blok:last-child {
  margin: 0;
}

.woz-waarde-blok-inner {
  border: 1px solid #ccc;
  background: #f8f8f8;
  padding: 10px;
  text-align: center;
  height: 170px;
  box-shadow: 1px 1px 1px #eee;
}

.woz-waarde-blok-double {
  margin: 0 20px;
}

.woz-datum h3 {
  margin-bottom: 5px;
  padding: 0;
}
.woz-datum strong {
  font-size: 16px;
}

.woz-waardepeil {
  border-bottom: 1px dashed #bbb;
  padding-bottom: 18px;
  margin-bottom: 15px;
}
.woz-waardepeil h3 {
  margin-top: 23px;
}

.woz-toestandspeil h3 {
  margin-top: 0;
}

.woz-uitleg p {
  margin-bottom: 20px;
}

.woz .knop.in-header {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}

/* @group uit form.css */
.woz-in-zaaktype {
  margin-right: -300px;
}

.woz-in-zaaktype td {
  vertical-align: middle !important;
}

.woz-taxatierapport-print {
  background: #fff;
}

.woz-data-table {
  border: 1px solid #bbb;
  border-bottom: none;
  border-right: none;
}
.woz-data-table td, .woz-data-table th {
  padding: .6em 1em;
  border-bottom: 1px solid #bbb;
  border-right: 1px solid #bbb;
}
.woz-data-table th {
  border-bottom-color: #bbb;
  border-bottom-width: 2px;
  background: #f3f3f3;
}
.woz-data-table tr:nth-child(even) td {
  background: #f9f9f9;
}
