            [% message_fieldname = fieldname _ '_message';
               startzaak_fieldname = fieldname _ '_startzaak';
               copy_properties_fieldname = fieldname _ '_copy_properties';
            %]             
            <table id="pauzeer-aanvraag">
                <tr>
                    <td class="border-bottom">Melding:</td>
                    <td class="border-bottom"><textarea rows="2" name="regels_[% message_fieldname %]">[% params.$message_fieldname %]</textarea></td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="regels_startzaak_checkbox" name="regels_[% startzaak_fieldname %]"
                        [% IF params.$startzaak_fieldname == 'on' %]checked="checked"[% END %]
                    /> Start zaak:</td>
                    <td>
                        [% #zaaktypen = c.model('DB::Zaaktype').search({}) %]
                        [% selected_value = fieldname _ '_zaaktype' %]
                        [% PROCESS beheer/zaaktypen/milestones/rules/select_casetype.tt 
                            trigger = c.session.zaaktypen.node.trigger
                            zaaktype_fieldname = fieldname _ '_zaaktype'
                        %]
                    </td>
                </tr>
                <tr>
                    <td>Kenmerken kopieren:</td>
                    <td>
                        <input type="checkbox" name="regels_[% copy_properties_fieldname %]" [% IF params.$copy_properties_fieldname %]checked="checked"[% END %]/> 
                    </td>
                </tr>
            </table>          
