            <div class="regel-email-inplannen ezra_rule_schedule_mail">
                <div class="row clearfix">
                    <span class="column large-3">E-mail:</span>
                    <span class="column large-9">
                        [% emailkenmerk_fieldname = fieldname _ '_notificatie_index' %]
                        [% PROCESS beheer/zaaktypen/milestones/rules/action/email.tt 
                            kenmerk_name = 'regels_' _ emailkenmerk_fieldname
                            value = params.$emailkenmerk_fieldname
                        %]
                    </span>
                </div>
                <div class="clearfix row ezra_rule_schedule_mail_sending_moment">
                    <span class="column large-3">Verstuur moment:</span>
                    <span class="column large-9">
                        [% allowed_kenmerk_types = { 
                            date => 1, 
                           }
                        %]
                        [% datumkenmerk_fieldname = fieldname _ '_datum_bibliotheek_kenmerken_id' %]
                        [% PROCESS beheer/zaaktypen/milestones/rules/field_select.tt 
                            kenmerk_name = 'regels_' _ datumkenmerk_fieldname
                            value = params.$datumkenmerk_fieldname
                            hide_aanvrager_option = 1
                            show_phase_transition = 1
                            show_all_kenmerken = 0
                            show_value_kenmerken = 0
                            hide_aanvrager_option = 1
                            show_result_kenmerk = 0
                            show_price = 0
                        %]
                         <div class="dropdown-wrap right">
                             <div class="dropdown-init icon-toelichting icon icon-hover ezra_dropdown_init_hover"></div>
                             <div class="dropdown dropdown-left dropdown-tooltip">
                                 <div class="dropdown-pijl"></div>
                                 <div class="dropdown-content">
                                     De regel wordt niet uitgevoerd als de peildatum leeg is.
                                 </div>
                             </div>
                         </div>
                    </span>
                </div>
                <div class="ezra_regel_schedule_mail_dynamic" style="display:none;">
                    <div class="clearfix row">
                        <span class="column large-3">Versturen:</span>
                        <span class="column large-9">
                            [% direction_fieldname = fieldname _ '_direction' %]
                            <select name="regels_[% direction_fieldname %]">
                                <option [% IF params.$direction_fieldname == '' %]selected="selected"[% END %] value="">Op</option>
                                <option [% IF params.$direction_fieldname == 'plus'  %]selected="selected"[% END %] value="plus">Na</option>
                                <option [% IF params.$direction_fieldname == 'minus' %]selected="selected"[% END %] value="minus">Voor</option>
                            </select>
                            peildatum
                        </span>
                    </div>
                    [% IF params.$direction_fieldname != '' %]
                        <div class="clearfix row">
                            <span class="column large-3">&nbsp;</span>
                            <span class="column large-9" style="margin-top:10px;">
                                [% afhandeltermijn_fieldname = fieldname _ '_delay' %]
                                [% afhandeltermijntype_fieldname = fieldname _ '_delay_type' %]
                                [% PROCESS widgets/general/terms.tt 
                                    dont_make_widget = 1
                                    terms_name = 'regels_' _ afhandeltermijn_fieldname 
                                    terms_value = params.$afhandeltermijn_fieldname
                                    terms_name_type = 'regels_' _ afhandeltermijntype_fieldname
                                    terms_name_type_value = params.$afhandeltermijntype_fieldname
                                    show_minutes = 1
                                    show_months = 1
                                    hide_fixed_enddate = 1
                                %]
                            </span>
                        </div>
                    [% END %]
                </div>
            </div>                
