

<div class="kenmerken" dddclass="ztAjaxUpdate ui-accordion-content ui-accordion-taken-kenmerken">

    [% UNLESS pip %]
        <!--div class="ztAjaxUpdate_loader"></div-->
    [% END %]
    <div class="inner form">
        <form action="/zaak/[% zaak.nr %]/" class="webform" method="post" enctype="multipart/form-data" id="webform-phase-[% current_phase.status %]">
            <div class="formOverlay"></div>
            <input type="hidden" name="fase" value="[% current_phase.status %]" />
            <input type="hidden" name="confirmed_post" value="1" />
            <div class="ztAjaxUpdate_dest webformcontent">
                <div class="spinner-groot">
                    <div>
                        <span class="spinner-groot-message">
                        </span>
                    </div>
                </div>
                
                [% # placeholder for fields %]
                <div class="webform_inner"></div>
            </div>

            [% IF 0 && (!pip && c.can_change) || KENMERK_CHANGES_ALLOWED %]  

                <input type="submit" class="button140 right last" name="my_submit" value="Opslaan" />

            [% END %]
        </form>
        <br />
    </div>
</div>
