[% IF c.req.params.scope == 'documents' %]

<div class="block">
<div class="header">Documentenintake
[% IF c.check_any_user_permission('documenten_intake') %]

[% END %]
</div>
<div class="blockcontent">

[% PROCESS zaak/widgets/doc_intake.tt %]

</div>
</div>

[% ELSE %]

<div class="block">
<p class="header">Zaakintake (geregistreerd voor behandelaar)</p>
<div class="blockcontent">

[% query_status_type = 'new' %]
[% zaken = created_zaken %]
[% PROCESS widgets/result.tt %]
[% PROCESS widgets/more.tt
    more.uri = c.uri_for('/zaak/intake', { view => 'created_zaken' })
    %]


</div>
</div>

<div class="block">
<p class="header">Zaakintake (geregistreerd voor afdeling)</p>
<div class="blockcontent">

[% query_status_type = 'new' %]
[% zaken = created_zaken_afdeling %]
[% PROCESS widgets/result.tt %]
[% PROCESS widgets/more.tt
    more.uri = c.uri_for('/zaak/intake', { view => 'created_zaken_afdeling' })
    %]

</div>
</div>

[% END %]
