<div id="popup-send-mail">
    <form method="POST" action="/zaak/[% zaak.id %]/send_email" class="zvalidate">
    <input type="hidden" name="update" value="1">
    <table>
        <tbody>
            <tr>
                <td class="td-label td200">In fase:</td>
                <td class="td400">[% zaak.volgende_fase.fase %]</td>
                <td class="td200"></td>
            </tr>
            <tr>
                <td class="td-label">Selecteer type ontvanger:</td>
                <td>
                    <div class="radio-item"><input type="radio" name="recipient_type" value="medewerker" checked="checked" id="behandelaar"><label for="behandelaar">Collega</label></div><br/>
                    <div class="radio-item"><input type="radio" name="recipient_type" value="aanvrager" id="aanvrager"><label for="aanvrager">Aanvrager ([% zaak.aanvrager.naam %])</label></div><br/>
                    <div class="radio-item"><input type="radio" name="recipient_type" value="overig" id="overig"><label for="overig">Overig</label></div>
                </td>
                <td>[% PROCESS widgets/general/validator.tt %]</td>
            </tr>
                [% INCLUDE widgets/betrokkene/select.tt 
                    instance_id = 'notificatie_ztc_aanvrager_id'
                    input_name = 'medewerker_betrokkene_id'
                    allow_internal = 1
                    allow_external = 0
                    row_classes = ['ezra_notificatie_rcpt_behandelaar']
                    label = 'Selecteer een collega:'
                    betrokkene_type = 'medewerker'
                    betrokkene_id = params.behandelaar
                %]

            [% notificaties = zaak.notifications %]

            <tr id="email" style="display:none;">
                <td class="td-label">E-mailadres:</td>
                <td>
                    <input type="text" name="notificatie_email" class="large290" />
                </td>
                <td>[% PROCESS widgets/general/validator.tt %]</td>
            </tr>
     
            [% IF notificaties.count %]
                <tr class="bibliotheek_notificatie">
                    <td class="table_td_left_zaakinformatie">E-mailsjabloon:</td>
                    <td class="table_td_right_zaakinformatie">
                            <input type="hidden" name="notificatie_body" value=""/>
                            <input type="radio" name="mailtype" value="bibliotheek_notificatie" checked="checked"/> Kies sjabloon:
                            <div class="ezra_bibliotheek_notificatie">
                                <select name="zaaktype_notificatie_id">
                                    [% WHILE(notificatie = notificaties.next()) %]
                                        <option value="[% notificatie.id %]">[% notificatie.bibliotheek_notificaties_id.label %]</option>
                                    [% END %]
                                </select>
                            </div>
                            <br/>
                            <input type="radio" name="mailtype" value="specific_mail"/> Of schrijf specifieke e-mail:
                    </td>
                    <td>[% PROCESS widgets/general/validator.tt %]</td>
                </tr>
            [% ELSE %]
                <input type="hidden" name="mailtype" value="specific_mail"/>
            [% END %]

            <tr class="specific_mail" [% IF notificaties.count %]style="display:none;"[% END %]>
                <td class="td-label">Onderwerp</td>
                <td><input type="text" name="notificatie_onderwerp" class="large290"/></td>
                <td>[% PROCESS widgets/general/validator.tt %]</td>
            </tr>
            <tr class="specific_mail" [% IF notificaties.count %]style="display:none;"[% END %]>
                <td class="email_ontvanger_constraint td-label">Bericht:</td>
                <td>
                    <textarea name="notificatie_bericht" rows="10" cols="60" class="large"></textarea>
                </td>
                <td>[% PROCESS widgets/general/validator.tt %]</td>
            </tr>
           </tbody>
        </table>
        <div class="form-actions">
            <input id="dialog-submit" type="submit" class="button140" value="Verstuur">
        </div>
    </form>
</div>
