[% process_template = 'form/' _ c.config.gemeente_id _ '/header.tt' %]
[% PROCESS $process_template %]
<!-- [% layout_type = 'simple' %] -->
[% USE date %]


<div class="betaling">
    <div class="block">

        <div class="header">
        <h1>
        [% zaaktype.titel %]
        [% zaak.definitie.definitie.handelingsinitiator FILTER ucfirst %]
        [% zaak.definitie.titel %]
        </h1>
        </div>
        <div class="blockcontent">
            [% PROCESS form/navigation.tt disabled = 1 %]
            

            <div class="stap-tekst stap-tekst-no-border">
                <h2 class="stap-titel">Online betaling</h2>
            </div>
            <div class="row">
                <div class="column large-7">
                    <div class="table">
                        <p class="subnote">Uw aanvraag is bij ons geregistreerd onder zaaknummer [% zaak.id %]. U kunt uw aanvraag online betalen door gebruik te maken van iDEAL, VISA of Mastercard.</p>
                        <div class="row">
                            <div class="column large-5"><strong>Zaaknummer</strong></div>
                            <div class="column large-7">[% zaak.id %]</div>
                        </div>
                        <div class="row">
                            <div class="column large-5"><strong>Product of dienst</strong></div>
                            <div class="column large-7">[% zaaktype.titel %]</div>
                        </div>
                        <div class="row">
                            <div class="column large-5"><strong>Datum</strong></div>
                            <div class="column large-7">[% date.format(date.now, '%d-%m-%Y') %]</div>
                        </div>
                        <div class="row">
                            <div class="column large-5"><strong>Bedrag</strong></div>
                            <div class="column large-7">
                                &euro;
                                [% ogone_amount %]
                            </div>
                        </div>
                    </div>
                    <div class="prelogin-button">
                        <form method="post" action="[% ogone.posturl %]">
                            [% FOREACH ogone_name IN ogone.variables.keys.sort %]
                                [% ogone_value = ogone.variables.$ogone_name %]
                                [% UNLESS ogone.$ogone_name %]
                                    [% NEXT %]
                                [% END %]
                                <input
                                    type="hidden"
                                    name="[% ogone_value %]"
                                    value="[% ogone.$ogone_name %]" />
                                [% END %]
            
                            <button type="submit" class="id-knop-groot id-knop id-knop-ideal">Betalen</button>
                        </form>
                    </div>
                </div>
                           
                <div class="column large-4 large-offset-1">
                    <div class="prelogin-info clearfix">
                        <div class="prepayment">
                            <img src="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/images/ogone/iDEAL.gif" alt="iDEAL" />
                            <img src="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/images/ogone/VISA.gif" alt="VISA" />
                            <img src="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/images/ogone/mastercard.gif" alt="Mastercard" />
                            <p>U kunt betalen met iDEAL, VISA of Mastercard. iDEAL is een betaalmethode waarmee online aankopen snel en veilig afgerekend kunnen worden in de vertrouwde internetbankieromgeving van de eigen bank.</p>
                        </div>
                        
                    </div>
                </div>
            
            </div>
            
        </div>

    </div>
</div> 

[% process_template = 'form/' _ c.config.gemeente_id _ '/footer.tt' %]
[% PROCESS $process_template %]
