.field{
    margin-right: 0;
    select{
        margin: 7px 0;
        font-size: 1em;
    }
    & > ul{
        margin: 0;
        padding-left: 15px;
        & > li{
            line-height: 1.7;
        }
    }
    > span{
        line-height: 1.8;
    }
}

.field-has-help{
    margin-right: 1.4em;
}

.field-help{
    position: absolute;
    right: 0;
    top: 7px;
    .icon-question-sign{
        color: black;
        display: block;
        &:hover,&:focus{
           color: green; 
        }
    }
}

.zaakdossier-afgehandeld .field-help{
    top:3px;
}