/* @group Menu */

.menu_heading{
    color:#4c4c4c;
    font-weight:bold;
    font-size:16px;
    padding:9px 10px;
    background:url(../images/nav-title-bg.png) repeat 0 0;
    border-bottom:1px solid #b7b7b7;
    border-top:1px solid #f6f6f6;
    text-decoration: none;
}

.icon_close { 
    position: absolute;
    right: 0;
    top: 0;
}

.menu_heading:hover{
    background:url(../images/nav-title-bg-hover.png) repeat 0 0;
    cursor: pointer;
    color: #000;
}

.menu-items{
    line-height:24px;
    list-style-type:none;
    padding:6px 0;
    border-bottom:1px solid #b7b7b7;
    border-top:1px solid #f6f6f6;
}

.menu-items.bottom{
    margin-bottom:0;
    border-bottom:none;
}

.menu-items li{
    margin:0;
    padding:0;
}

.menu-items li a{
    background:transparent;
    color:#444;
    display:block;
    padding:1px 6px;
    margin:0 6px;
    text-decoration:none;
    font-size:13px;
    border:1px solid transparent;
}

.menu-items li a:hover{
    color:#000;
    background-color:#ccc;
    border:1px solid transparent;
}

.menu-items li a:active{
    border-left:1px solid #bbb;
    border-top:1px solid #bbb;
    border-bottom:1px solid #f5f5f5;
    border-right:1px solid #f5f5f5;
}

.menu-items li a:active{
    background-position: 0 -24px;
}

.menu-items li a.current,
.menu-items li a.current:hover{
    background:#cccccc url("../images/menu-items_arrow.gif") no-repeat 0 9px;
}

.menu-items li a.disabled{
    color:#999;
}

.menu-items li a.disabled:hover{
    background: transparent;
    cursor: default;
}


.menu_heading {
    padding: 6px 5px 3px 28px;
    position: relative;
}
 
    .menu_heading span {
        position: absolute;
        width: 20px;
        height: 16px;
        top: 50%;
        margin-top: -8px;
        left: 12px;
    }
 
.werkvoorraad span { background: url(../images/icon-menu-werkvoorraad.png) no-repeat 3px center; }
 
.zoeken span { background: url(../images/icon-menu-magnifier.png) no-repeat 3px center; }
 
.beheer span { background: url(../images/icon-menu-beheer.png) no-repeat 3px center; }


.menu-responsive .menu-title{
    padding: 0;
}

.menu-responsive li{
    list-style: none;   
}

.menu-responsive .menu_heading{
     display: block;
     padding: 12px 5px 12px 40px;
     background-position: 0px center;
}

/* @end */