@import "partials/dependencies";

/* @group Nieuwe Zaak Popup */

    .nieuwezaak_wrap{
        position: relative;
        width: 193px;
        border:1px solid #888;
        @include box-shadow(0 0 3px #ccc);
        height:47px;
        margin-bottom:16px;
        background:url(../images/nieuwezaak-lekker.gif) no-repeat 0 0;
        z-index: 2;
        &.active{
            z-index: 3100;
            //@include box-shadow(0 0 10px rgba(0,0,0,0.2) !important);
            @include box-shadow(0 0 10px rgba(0,0,0,0.5) !important);
            border-color:#444;
        }
    }
    
    a.nieuwezaak{
        width:128px;
        height:47px;
        display:block;
        font-size:1.2em;
        color:#393939;
        font-weight:bold;
        line-height:3;
        padding-left:40px;
        overflow: hidden;
        text-decoration: none;
        position: relative;
        float: left;
        @include box-shadow(inset -1px 0 0 #ECF298);
        text-shadow: 0 0 1px #fff;
        &:hover{
            background:url(../images/nieuwezaak-lekker.gif) no-repeat 0 -47px;
            color:#000;
            text-decoration: none;
            border-color:#999;
        }
        &:active{
            @include box-shadow(inset 0 1px 2px rgba(0,0,0,0.4));
        }
    }
    
    .nieuwezaak-extra{
        width: 24px;
        height:47px;
        background:rgba(0,0,0,0.02);
        position: absolute;
        right: 0;
        display: block;
        top: 0;
        z-index: 1;
        border-left: 1px solid #8b9502;
        float: right;
        &:hover{
            background:url(../images/nieuwezaak-lekker.gif) no-repeat -50px -47px;
            cursor: pointer;
        }
        &:active,&.active,&.active:hover{
            background-color:#cfe001;
            @include background(linear-gradient(top, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 100%));
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
            @include box-shadow(inset 0 1px 3px rgba(0,0,0,0.2));
        }
        span{
            width: 100%;
            height: 9px;
            background: url(../images/nieuwezaak-extra.png) no-repeat center center;
            position: absolute;
            top: 50%;
            margin-top: -4px;
        }
    }
    
    .nieuwe_zaak_extra_box{
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #888888;
        left: -1px;
        position: absolute;
        top: 48px;
        width: 220px;
        z-index: 501;
        display: none;
        @include box-shadow(1px 1px 3px rgba(0,0,0,0.2));
        a{
            display: block;
            padding: 12px 10px 12px 40px;
            font-size:1.2em;
            background: url(../images/nieuw-x.png) no-repeat 12px center;
            text-decoration: none;
            &:hover{
                background-color: #f4f4f4;
            }
            &:first-child{
                border-bottom: 1px dotted #888;
            }
        }
    }
    
    .nieuwe_zaak_starten{
        width: 761px;
        background: #fff url(../images/nieuwe_zaak_starten_bg.gif) repeat-y -196px 0;
        //@include box-shadow(0 0 10px rgba(0,0,0,0.3));
        @include box-shadow(0 0 10px rgba(0,0,0,0.5));
        // border: 1px solid #bbb;
        // border: 1px solid rgba(0,0,0,0.25);
        border: 1px solid #555;
        border: 1px solid rgba(0,0,0,0.65);
        position: fixed;
        left: 233px;
        top: 36px;
        z-index: 3100;
        display: none;
        max-height: 450px;
        td{
        border-bottom: none !important;
            label{
                font-weight: bold;
            }
            &:first-child{
                text-align: right;
                padding-right: 40px;
                font-size: 13px;
            }
        }
        .form-actions{
            padding: 20px 20px 20px 174px;
        }
        .zoek_veld .search_wrap {
            float: left;
        }
        .zoek_veld input[type=text]{
            width: 214px;
        }
        label .sub_text{
            font-size: 11px;
            color: #888;
            display: inline;
        }
        .zaaktype_onthouden{
            font-size: 11px;
            font-weight: bold;
            margin-top: 3px;
            input{
                margin-right: 3px;
            }
        }
        .radio-item, .checkbox-item{
            margin-bottom: 6px;
            &:last-child{
                margin-bottom: 0px;
            }
        }
        .file{
            background: url(../images/mime/icon-txt.png) no-repeat 0px center;
            padding: 6px;
            padding-left: 22px;
        }
    }

    .nieuwe_zaak_starten_content{
        max-height: 420px;
        overflow-y: auto;
        padding: 15px 0 0;
    }
    
    .nieuwe_zaak_starten_popup .nieuwe_zaak_starten_tip{
        display: none;
    }
    
    .nieuwe_zaak_starten_tip{
        width: 27px;
        height: 57px;
        background: url(../images/nieuwe_zaak_starten_tip.png) no-repeat 0 0;
        position: absolute;
        top: 24px;
        left: -27px;
    }
    
    .ezra_nieuwe_zaak_tooltip-hide{
        width: 24px;
        height: 24px;
        background: url(../images/modal-close.png) no-repeat center center;
        position: absolute;
        top: -7px;
        right: -7px;
        &:hover{
            cursor: pointer;
        }
    }
     
    .ie8 .nieuwe_zaak_starten_tip { background: url(../images/nieuwe_zaak_starten_tip-ie.png) no-repeat 0 0; }
    
    table.zaak_aanmaken td{padding:10px 0;}
    table.zaak_aanmaken span{display: inline-block;}
    
/* @end */