/* @group Veldoptie */
.veld-uitleg {
  color: #666;
}

.veldoptie_text,
.veldoptie_numeric,
.veldoptie_text_uc {
  width: 100%;
}

.veldoptie_datepicker,
.veldoptie_valuta_simpel {
  width: 175px !important;
}

.veldoptie_valuta input.eur {
  width: 150px !important;
}

.veldoptie_valuta input.cnt {
  width: 50px !important;
}

.veldoptie_textarea {
  width: 100%;
  height: 100px;
}

.veldoptie_multiple .add.add-veldoptie {
  margin: 0;
}

.veldoptie_multiple_list {
  padding: 0 !important;
  margin: 0 !important;
}

.veldoptie_multiple_list li {
  list-style: none outside none !important;
  margin-bottom: 2px;
  margin-left: 0;
  padding: 0px 30px 6px 0px;
  position: relative;
  width: 95%;
}

.veldoptie_multiple_list li a.del,
.veldoptie_multiple_list li .del-inactive {
  display: block;
  float: right;
  position: absolute;
  height: 16px;
  width: 16px;
  top: 50%;
  margin-top: -10px;
  right: 9px;
}

.veldoptie_multiple_list select {
  width: 99%;
  margin: 0;
}

.del-inactive {
  background: url(../images/icon-delete-inactive.png) no-repeat 0 0;
}

/* @end */