[% PROCESS beheer/zaaktypen/breadcrumb.tt %]

<!-- Begin Zaaktype -->
<div id="fresh-form">
    <form method="POST" action="[% formaction %]" class="zvalidate use_submit ezra_zaaktypebeheer" enctype="multipart/form-data">
        <input type="hidden" name="zaaktype_update" value="1" />
        <div class="block clearfix">
            <p class="header ztb-header">
            [% IF(zaaktype_id) %]
            <strong>[% params.node.titel %]</strong> -  
            [% ELSE %]
                Zaaktype aanmaken
            [% END %]
            Zaakacties
            </p>
            <div class="blockcontent">


                <table class="marginbottom form">

                    <tbody>
                        <tr>
                            <td>
                                <input type="hidden"
                                name="ezra_checkboxes"
                                value="node.aanvrager_hergebruik" />
                                <label for="hergebruik">
                                <input
                                    class="voor_label"
                                    id="hergebruik"
                                    type="checkbox"
                                    name="node.aanvrager_hergebruik"
                                    value="1"
                                    [% (
                                        params.node.aanvrager_hergebruik
                                            ? 'checked="checked"'
                                            : ''
                                    ) %]
                                /> Zaakgegevens hergebruiken</label>
                            </td>
                            <td>
                                <span class="validator"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="hidden"
                                name="ezra_checkboxes"
                                value="node.automatisch_behandelen" />
                                    <label for="automatisch_behandelen">
                                    <input
                                        class="voor_label"
                                        id="automatisch_behandelen"
                                        type="checkbox"
                                        name="node.automatisch_behandelen"
                                        value="1"
                                        [% (
                                            params.node.automatisch_behandelen
                                                ? 'checked="checked"'
                                                : ''
                                        ) %]
                                    /> Zaak automatisch in behandeling nemen</label>
                                
                            </td>
                        <td>
                                <span class="validator"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="hidden" name="ezra_checkboxes" value="node.contact_info_intake" />
                                <label for="contact_info_intake">
                                <input class="voor_label" id="contact_info_intake" type="checkbox" name="node.contact_info_intake" value="1"[% params.node.contact_info_intake ? ' checked="checked"' : '' %] />
                                
                                    Contactgegevens tonen bij intake
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="hidden"
                                name="ezra_checkboxes"
                                value="node.online_betaling" />
                                <label for="online_betaling">
                                <input
                                    class="voor_label"
                                    id="online_betaling"
                                    type="checkbox"
                                    name="node.online_betaling"
                                    value="1"
                                    [% (
                                        params.node.online_betaling
                                            ? 'checked="checked"'
                                            : ''
                                    ) %]
                                /> Internetkassa gebruiken</label>
                            </td>
                        <td>
                                <span class="validator"></span>
                            </td>
                        </tr>
                        <tr>

                            <td>
                                <input type="hidden"
                                name="ezra_checkboxes"
                                value="node.webform_toegang" />
                                <label for="webform">
                                <input
                                    class="voor_label"
                                    id="webform"
                                    type="checkbox"
                                    name="node.webform_toegang"
                                    value="1"
                                    [% (
                                        params.node.webform_toegang
                                            ? 'checked="checked"'
                                            : ''
                                    ) %]
                                /> Aanvragen met publiek webformulier</label>
                            </td>
                        <td>
                                <span class="validator"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="hidden"
                                name="ezra_checkboxes"
                                value="node.bedrijfid_wijzigen" />
                                <label for="bedrijfid">
                                <input
                                    class="voor_label"
                                    id="bedrijfid"
                                    type="checkbox"
                                    name="node.bedrijfid_wijzigen"
                                    value="1"
                                    [% (
                                        params.node.bedrijfid_wijzigen
                                            ? 'checked="checked"'
                                            : ''
                                    ) %]
                                /> Kan [% c.config.gemeente.naam %]ID wijzigen</label>
                            </td>
                        <td>
                                <span class="validator"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="hidden"
                                name="ezra_checkboxes"
                                value="node.toewijzing_zaakintake" />
                                <label for="toewijzing">
                                <input
                                    class="voor_label"
                                    id="toewijzing"
                                    type="checkbox"
                                    name="node.toewijzing_zaakintake"
                                    value="1"
                                    [% (
                                        params.node.toewijzing_zaakintake
                                            ? 'checked="checked"'
                                            : ''
                                    ) %]
                                />
                                Toewijzing tonen bij zaakintake</label>
                            </td>
                        <td>
                                <span class="validator"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="hidden"
                                name="ezra_checkboxes"
                                value="node.zaaktype_vertrouwelijk" />
                                <label for="vertrouwelijk">
                                <input
                                    class="voor_label"
                                    id="vertrouwelijk"
                                    type="checkbox"
                                    name="node.zaaktype_vertrouwelijk"
                                    value="1"
                                    [% (
                                        params.node.zaaktype_vertrouwelijk
                                            ? 'checked="checked"'
                                            : ''
                                    ) %]
                                />
                                Zaaktype is vertrouwelijk</label>
                            </td>
                        <td>
                                <span class="validator">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="hidden"
                                name="ezra_checkboxes"
                                value="node.extra_relaties_in_aanvraag" />
                                <label for="extra_relaties_in_aanvraag">
                                <input
                                    class="voor_label"
                                    id="extra_relaties_in_aanvraag"
                                    type="checkbox"
                                    name="node.extra_relaties_in_aanvraag"
                                    value="1"
                                    [% (
                                        params.node.extra_relaties_in_aanvraag
                                            ? 'checked="checked"'
                                            : ''
                                    ) %]
                                />
                                
                                    Mogelijkheid om relaties toe te voegen bij
                                    zaakintake
                                </label>
                            </td>
                        <td>
                                <span class="validator">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="hidden"
                                name="ezra_checkboxes"
                                value="node.is_public" />
                                <label for="is_public">
                                <input
                                    class="voor_label"
                                    id="hergebruik"
                                    type="checkbox"
                                    name="node.is_public"
                                    value="1"
                                    [% (
                                        params.node.is_public
                                            ? 'checked="checked"'
                                            : ''
                                    ) %]
                                /> Zaakgegevens zijn publiekelijk beschikbaar</label>
                            </td>
                        <td>
                                <span class="validator">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="hidden" name="ezra_checkboxes" value="node.prevent_pip" />
                                <label>
                                    <input type="checkbox" name="node.prevent_pip" value="1" [%
                                        params.node.prevent_pip ? 'checked' : ''
                                    %] />
                                    Zaak niet op aanvrager PIP publiceren
                                </label>
                            </td>
                            <td>
                                <span class="validator">
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="form-actions clearfix">
                    <input type="button" name="goback" value="Vorige" class="go_back button140 left" />
                    <input type="submit" value="Volgende" class="button140 right" />
                    <input name="destination" type="hidden" value="" />
                    [% UNLESS params.create %]
                    <input name="direct_finish" type="hidden" value="" />
                    <input class="button140 grijs right ezra_direct_finish" value="Afronden" type="button" />
                    [% END %]
                </div>
            </div>
        </div>
    </form>
</div>
