[% IF results.pager.total_entries > 0 %]        


<div class="zaken_filter_wrapper">
        <div class="zaken_filter_inner">
            <div class="ui-accordion-table-bg">
            <div class="spinner-groot"><div></div></div>
            [% IF grouping_choice %]<input type="hidden" name="grouping_choice" value="[% grouping_choice %]" />[% END %]
            <div class="blockcontent">
                    [% PROCESS widgets/result.tt %]
                    [% PROCESS widgets/pager2.tt %]
            </div>
            </div>
        </div>   
    </div>
</div>

[% ELSE %]

<div style="clear: both;" class="blockcontent zaken_filter_wrapper">
    <div class="zaken_filter_inner">
        <p class="ui-accordion-table-bg geen-resultaten">
            Geen resultaten.
        </p>
    </div>
</div>

[% END %]
