@import "partials/dependencies";

.detail-view, 
.detail-view * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.detail-view-header {
	font-size: 1.333em;
    font-weight: bold;
    color: #000;
    margin-bottom: 0;
    padding: 8px 15px 8px 15px;
    line-height: 1.8;
    border-bottom: 1px solid #cdcdcd;
    background: #efefef url(../images/block-header-bg.gif) repeat-x left bottom;
    display: table;
    width: 100%;
}

.detail-view-title {
	font-size: 1em;
	display: table-cell;
	vertical-align: middle;
}

.detail-view-actions {
	display: table-cell;
	text-align: right;
	vertical-align: middle;
}

.detail-view-action-open-button {
	border: 1px solid rgba(0, 0, 0, 0.4);
    @include border-radius(5px);
    @include box-shadow(0 1px 0 rgba(255, 255, 255, 0.75), inset 0 1px 0 rgba(255,255,255,0.75));
    height: 36px;
    width: 36px;
    padding: 0;
    background: #ffffff;
    @include background(linear-gradient(to bottom,  #ffffff 0%,#f7f7f7 50%,#ededed 52%,#ededed 100%));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
    font-size: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.detail-view-action-open-button:hover {
	background: rgba(0,0,0,0.02);
}

.detail-view-action-open-button:active,
.detail-view-action-open-button.active {
	background: rgb(206,206,206);
    @include background(linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(235,235,235,1) 100%));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#ebebeb',GradientType=0 );
    @include box-shadow(-1px 0 0 rgba(0, 0, 0, 0.25),0 1px 1px rgba(0, 0, 0, 0.2) inset);
}

.detail-view-action-open-button-icon {
	display: inline-block;
    background: url(../images/icons-actions-nav.png) no-repeat -16px 0;
    width: 16px;
    height: 16px;
}

.detail-view-listing {
	padding: 12px 20px;
}

.detail-view-fieldset-title {
	font-size: 1.5em;
	font-weight: bold;
	padding: 12px 0;
}

.detail-view-field {
	display: table;
	width: 100%;
}

.detail-view-field-label {
	display: table-cell;
	width: 25%;
	border-bottom: 1px solid #e6e6e6;
	padding: 0.8em 0.3em;
	vertical-align: top;
}

.detail-view-field-value {
	display: table-cell;
	width: 75%;
	border-bottom: 1px solid #e6e6e6;
	padding: 0.8em 0.3em;
}

.detail-view-field:last-child > .detail-view-field-label,
.detail-view-field:last-child > .detail-view-field-value {
	border-bottom: 0;
}

.detail-view-field-value-display {
	textarea{
		width:100%;
	}
}

.detail-view-field-value-form {
	display: none;
}

.detail-view-field-editing .detail-view-field-value-display {
	display: none;
}

.detail-view-field-editing .detail-view-field-value-form {
	display: inline-block;
}

.detail-view-field-value-edit {
	visibility: hidden;
}

.detail-view-field-editing .detail-view-field-value-edit,
.detail-view-field:hover .detail-view-field-value-edit {
	visibility: visible;
}

.detail-view-field-value-form .form-field-button-list {
	display: none;
}

.detail-view-field-value-form .form-field-input,
.detail-view-field-value-form .form-field-revert {
	display: inline-block;
}