/* @group forms.css */
    
   @import "partials/form-navigation";
   @import "partials/dependencies";
    
    
    /* @group globals */
    
    fieldset{
        padding: 0;
        margin: 0;
        border: none;
    }

    fieldset.attribute_group {
        margin: 0 0 30px 0;
    }
    
    legend{
        padding: 0;
    }
    
    label{ line-height: 1.8; }
    
    button{ border: none; 
        &:hover{
            cursor:pointer;
        }
    }

    .ie button{ overflow: visible; }

    input,
    textarea{ font-size:1em; }
    
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=url],
    textarea{
        border-style: solid;
        border-width: 1px;
        border-color:#bbb;
        padding:5px;
        font-family: 'helvetica neue',helvetica,arial,sans-serif;
        margin: 0;
    }
    
    input[type=file]{border: none;} 
    input[type=text]:hover,
    input[type=password]:hover,
    textarea:hover{
        border-color:#888;
    }
    
    input:focus,
    textarea:focus{
        border-color:#777;
        box-shadow: #14a4fe 0 0 4px;
        -moz-box-shadow: #14a4fe 0 0 4px;
        -webkit-box-shadow: #14a4fe 0 0 4px;
    }
    
    .ie input:focus,
    .ie textarea:focus,
    .ie a:focus{
        outline: #14a4fe solid 2px;
    }
    
    // .ng-invalid{
    //     outline: none;
    //     box-shadow: none;
    // }
    
    

    input[type="text"].ng-dirty.ng-invalid,
    textarea.ng-dirty.ng-invalid {
        -webkit-box-shadow: rgb(252, 72, 72) 0 0 4px 0;
        -moz-box-shadow: rgb(252, 72, 72) 0 0 4px 0;
        box-shadow: rgb(252, 72, 72) 0 0 4px 0;
        border-color: red;
    }

    input[type="text"].ng-dirty.ng-invalid:focus,
    textarea.ng-dirty.ng-invalid:focus {
        -webkit-box-shadow: rgb(20, 164, 254) 0 0 4px 0;
        -moz-box-shadow: rgb(20, 164, 254) 0 0 4px 0;
        box-shadow: rgb(20, 164, 254) 0 0 4px 0;
        border-color: rgb(20,164,254);
    }
    
    /* @end */
    

    
    /* @group input */
    
    input.flexible80{width:80%;}
    input.micro{width:24px;}
    input.mini40{width:40px;}
    input.mini60{width:60px;}
    input.mini70{width:70px;}
    input.mini80{width:80px;}
    input.normal100{width:100px;}
    input.normal120{width:120px;}
    input.normal150{width:150px;}
    input.medium{width:175px;}
    input.medium185{width:185px;}
    input.large{width:275px;}
    input.large290{width:290px;}
    input.large300{width:300px;}
    input.large350{width:350px;}
    input.xlarge{width:450px;}
    input.infinite{width:97%;}
    .form input.infinite{width:100%;}
    input.andbeyond{width:1000000%;}
    
    input.input_readonly{background: #eee; font-style:italic; }
    input.input_readonly:focus{box-shadow: none;}
    
    //input.voor_label{margin-right: 6px;}
    //input.left{margin-right:8px;}
    //input.link{cursor:pointer;}

    input[disabled="disabled"]{background: #eee;}
    
    /* legacy */
    
    .input_micro{width:24px;}
    .input_mini{width:60px;}
    .input_normal{width:120px;}
    .input_medium{width:200px;}
    .input_large{width:300px;}
    .input_xlarge{width:475px;}
    
   
    /* @end */
        
    /* @group textarea */
    
    textarea{height:120px;width:300px;}
    textarea.small{width: 150px;}
    textarea.normal{width: 250px !important;height: 100px;}
    textarea.large{width: 450px;}
    textarea.txt300{width:300px;}
    textarea.txt480{width:476px;}
    textarea.textarea_toelichting{height: 50px;}
    textarea.infinite{ width: 97%; }
    .form textarea.infinite{width:100%;}
    
    /* @end */
    
    /* @group label */
    
    label.titel{
        display:inline;
        font-size:1em;
        font-weight:normal;
        //margin-bottom:5px;
        float:left;
        strong{
            font-size:1.1667em;
        }
    }

    label.extra_options{
        margin-left: 15px;
    }
    
    /* @end */
    
    /* @group checkboxes & radio items */
    
    input[type="checkbox"],
    input[type="radio"]{
        border:none;
        @include box-shadow(none);
    }

    label > input[type="checkbox"],
    label > input[type="radio"]{
        margin-right: 4px;
    }
    
    //.col.checkbox{margin-right:10px;}
    
    // .default_value {
    //     color: #666;
    // }
    
    .radio-item, .checkbox-item{
        margin: 0 0 8px;
        display: inline-block !important;
        input{
            margin: 0 3px 0 0;
            padding: 0;
        }
    }
    
    /* @end */
    
    
    /* @group selectboxes */
    
    select.dag{width:auto;}
    select.maand{width:auto;}
    select.jaar{width:auto;}
    select.auto{width:auto;}
    
    select.select100{width:100px;}
    select.select125{width:125px;}
    select.select150{width:150px;}
    .select350{max-width: 350px;}
    .oldie .select350{width: 350px;}
    
    option{ padding:0 3px; }
    
    /* @end */
    
    
    /* @group custom */
    
    .search_wrap{
        position: relative;
        float: left;
        margin-right: 6px;
        .icon{
            position: absolute;
            margin-top: -8px;
            top: 50%;
            right: 6px;
        }
    }
    
    .zoek_veld{
        width: 310px;
        .knop.medium{
            float: left;
            margin-left: 6px;
            width: 16px !important;
        }
        input[type=text]{
            width: 246px;
            float: left;
            padding: 5px;
        }
    }

    /* @end */

@import "partials/validator";
@import "partials/guideline";


/* @group captcha */

.recaptchatable a{
    display: block;
    width: 25px;
    height: auto;
    &:focus{
        outline: blue solid 2px !important;
    }
}

#recaptcha_widget_div *{
    box-sizing: content-box !important;
}

/* @end */

/* @group Einde zaak */

.start_zaak_box{
    font-size: 16px;
    line-height: 1.5;
    padding: 10px 15px 10px 41px;
    background: #444445 url(../images/icon-info-wit.png) no-repeat 15px center;
    color: #fff;
    display: inline-block;
    margin: 10px 0;
    border-radius: 3px;
    a{
        color: #fff;
        font-weight: bold;
        &:hover{
            text-decoration: underline;
        }
    }
}

.start_zaak_box_content{
    border-left: 2px solid #fff;
    margin-left: 60px;
    background: #555;
    padding: 15px 20px;
    display: inline-block;
    border-radius: 0 3px 3px 0;
}

/* @end */



/* @group .form */

.webformcontent {
    position: relative;
}

.form *{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    textarea{ 
        min-height:7em;
        width:100%;
    }

    label.titel{
        font-weight: normal;
        color: #222;
        float: none;
        text-align: left;
        display: block;
    }

    label{
        display: block;
    }
    select{
        margin:4px 0;
    }
}

/* @end */

.cheating{
    font-weight: normal;
    font-size:13px;
    float:right;
    margin-right:10px;
    margin-top:2px;
}

@import "partials/angular-forms";


.form-actions{
    padding: 15px 0 0;
}

.form-actions.form-actions-bottom{
    position: absolute;
    bottom:0px;
    width:100%;
}

.form-actions-inner{
    padding: 0 20px;
}



.form-required-fields-explanation{
    margin:5px 0 0;
}

@import "partials/form-fields-layout";
@import "partials/kenmerk-layout";
@import "partials/veldopties";
@import "partials/motherloader";
@import "partials/rich-text";
@import "partials/openlayers";
@import "partials/angular-autocomplete";
