@import "partials/license-block";
@import "partials/dependencies";

/* @group base */

body { 
    font-family: helvetica,'helvetica neue',arial, sans-serif;
    font-size: 0.813em;
    background: #fff;
    margin: 0px; }

.form,
.form div,
.form h1,
.form h2,
.form h3,
.form p,
.form label,
.form td,
.form th,
.webform,
.webform div,
.webform h1,
.webform h2,
.webform h3,
.webform p,
.webform label,
.webform td,
.webform th,
.header, p,body{ font-family: helvetica,'helvetica neue',arial, sans-serif; }

p{ line-height: 1.7; }

p, li{
    font-size: 1em;
}

#container {
    width: 960px;
    margin: 0px auto;
    background: #fff; }

.subnote{
    margin-bottom:20px;
    font-size:1.077em;
    color:#222;
    line-height:1.6;
    margin-top:0; }

/* @end */

/* @group block */

.block,
.block *{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
 
.header{
    padding: 8px 30px;
    border-radius: 0;
    margin: 0;
    background: none;
    border-bottom: none; 
    font-weight: bold;
    color: #333;
}
    
.header > h1{
    font-size: 1.538em;
    margin: 0;
    line-height: 1.3;
    /*overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;*/
}   

.header > h1.header-title {
    float: left;
    width: 640px;
    /*overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;*/ }

.header span{
    font-weight: normal;}
 
.flex50 {
    width: 50%;
    text-align: left; }
 
    .flex50.left { float: left; }
 
    .flex50.right {
        float: right; }
 
    .flex50 .inner { padding-right: 75px; }
 
    .flex50.right .inner { padding-left: 20px; }

/* @end */


/* @group Intake */

/* @group pre-login & login pagina's */
     
     .prelogin p{
        margin: 0;
     }
     
     .prelogin-button{
        margin-top: 30px;
     }
     
     .prelogin-button button{
        font-family: helvetica, sans-serif;
        font-weight: normal;
     }
     
     .prelogin-button button span.a{
        margin-right: 5px;
     }
     
     .prelogin-info {
         border-radius: 10px;
         padding: 20px;
         background: #eef8fd;
         margin-top: 0px;
         font-size: 0.846em;
     }
     
     .prelogin-info-pip{
        background: none;
        padding: 25px 0 0;
        border-radius: 0;
        border-top: 1px dotted #aaa;
     }
     
     .prelogin-logos{
        width: 22%;
        text-align: center;
        margin-right: 3%;
     }
     
     .prelogin-logos img{
        margin-bottom: 5px;
     }
     
     .prelogin-info-tekst{
        width: 72%;
     }
     
     .prelogin-info-logo{
        width: 50px;
        height: 50px;
     }
     
     .prepayment img{
        vertical-align: middle;
     }
     

     
/* @end */

/* @group BedrijfsID Loginpagina */
  
#loginwrap{
    background: transparent;

    .input_medium { 
        margin-bottom: 10px; 
        width: 300px;
        font-size: 1.385em; }
     
    label { line-height: 2; }
     
    input[type="submit"] { margin: 30px 0 5px; }

}

 
 /* @end */
 
 
 /* @group Stappen */

    .system-message{
        padding:13px 13px 14px;
        border:1px dashed #C8C104;
        margin-bottom:16px;
        background: #f9fccb;
        font-weight:bold;
        line-height: 1.5;
        font-weight: normal;
        color: #333;
        font-size: 0.923em;
        margin:15px 0;
    }
    
 /* @end */
 

/* @group Eindpagina */

.done h2{
    margin-bottom:20px;
}

.done h2 i{
    font-size: 1em;
    vertical-align: baseline;
    margin-right: 5px;
}

.mislukt{
    padding:30px 30px 30px 110px;
    background: url(../images/icon-betaling-mislukt.jpg) no-repeat 0 center;
}

.mislukt p{
    margin-bottom:0px;
}

.mislukt h1{
    font-size:2.308em;
    font-weight: normal;
    margin-bottom:10px;
    margin-top:0;
}

.betaling table{
    border-top: 1px solid #eee;
}

/* @end */


/* @end */


/* @group Custom */
 
.button140,
.button140:hover {
    border: none;
    box-shadow: none;
    text-shadow: none;
    filter: none;
}

.form label.titel{
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.skip{
    display: none;
} 

.knop-right{
    margin-left: 4px;
}

.wym_skin_default.wym_skin_enlarge{
    top: 0px !important;
}

 /* @end */



@import "partials/browser-check";


/* @group Generic template */ 

html.basic, .basic body{
    height: 100%;
}

.basic body { 
    font-family: helvetica;
    background: #f6f6f6;
    margin: 0px;
}
 
.basic #container {
    margin: 0px auto;
    background: #fff;
    min-height: 100%;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
    box-shadow: 0 0 3px #ccc;
    position:relative;
}

img{
    border: none;
}

.basic #main{
    padding: 0; 
}

.basic #logo {
    float: left;
    height: 55px;
    margin: 30px 0 30px 38px;
    width: 226px;
}
 
.basic #header {
    height: 115px;
}
    
    .basic #header .inner{
        width: 960px;
        margin: 0 auto; }
 
    .basic #header h1#logo {
        font-size: 1.846em;
        color: #222;
        font-weight: bold; }
    
        .basic #header h1#logo span{
            font-weight: normal;
            color:#F36666;
            float: right; }
        
    .basic #header .pijl {
        width: 100%;
        height: 7px;
        background: url(../img/pijl-logo.gif) no-repeat center 0;
        position: absolute;
        bottom: -1px;
        z-index: 1; }

.basic ul.nav li{
    float: left;
    color: #bbb;
    margin: 0 4px 0 0;
    padding: 20px 20px 20px 20px;
    font-weight: bold; }

.basic .webform_inner{
    position: static;
}

.basic .webform .header > div{
    line-height: 58px;
}

.basic .header > .knop{
    margin: 0 0 0 7px;
    border-color: #888 !important;
    border-color: rgba(0,0,0,0.6) !important;
}

.basic .blockcontent{
    padding: 25px;
}

.basic .header{
    color: #fff;
    height: 58px;
    display: table;
    vertical-align: middle;
    table-layout: fixed;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

.basic .header h1{
    line-height: 58px;
}

.basic .block > .header > .header-actions{
    height: 58px;
    line-height: 58px;
}

.basic .block.succes > .header{
    line-height: 58px;
    padding: 0 25px;
    margin: 0;
    color: #fff;
}

.basic .pip_inlog_wrapper h1{
    display: none;
}

 /* @end */

 @import "partials/helpers";