body.woz-body{
    background:#fff;
    #contentwrapper{
        padding:0;
    }
}

.woz-intro{
    margin: 20px 0;
}

.woz td .knop{
    margin: 0 0 0 10px;
}

.woz{
    position: relative;
    label{
        font-weight: bold;
        line-height: 1;
    }
    h1{
        margin: 20px 0;
    }
    .woz-taxatierapport{
        margin-bottom:12px;
    }
    .woz-taxatierapport-group{
        margin-bottom:30px;
        &.woz-taxatierapport-group-inner{
            float:none;
            padding:1px 15px 10px;
            background:#fff;
            border:1px solid #bbb;
            > .woz-taxatierapport-title-primary{
                margin:0 -15px;
                padding:.8em 15px;
                border-bottom-color:#bbb;
            }
        }
    }
    .woz-taxatierapport-title{
        border-bottom:2px solid #ddd;
        padding:.8em 0;
    }
    .woz-taxatierapport-row{
        clear:both;
        border-bottom:1px solid #ddd;
        padding:.8em 0;
        box-sizing:border-box;
        &:before,&:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
        > div{
            float:left;
        }
        &.woz-taxatierapport-row-table{
            border:none;
        }
    }
    .woz-taxatierapport-label{
        width:27%;
    }
    .woz-taxatierapport-kaal .woz-taxatierapport-label{
        width:35%;
    }
    .woz-taxatierapport-text{
        width:73%;
        p{
            margin:0;
        }
    }
    .woz-taxatierapport-kaal .woz-taxatierapport-text{
        width:65%;
    }
    .woz-taxatierapport-text-smal{
        width:23%;
    }
    .woz-taxatierapport-uitleg{
        font-style:italic;
    }
    .woz-info{
        padding-right:330px;
    }
    .woz-photo{
        position:absolute;
        top:0px;
        right:0px;
        border:1px solid #ddd;
        padding:4px;
        span{
            display: none;
        }
        img{
            display: block;
        }
        a{
            position:absolute;
            bottom:10px;
            right:10px;
            padding:1px 8px;
            i.icon-font-awesome{
                font-size:14px;
            }
        }
        &.woz-photo-unavailable{
            background:#f5f5f5;
            text-align: center;
            vertical-align: middle;
            color:#ddd;
            font-size:16px;
            font-weight: bold;
            width:300px;
            height:230px;
            display: table;
            span{
                display: table-cell;
                vertical-align: middle;
            }
            img, a{
                display: none;
            }
        }
    }
}

.woz-base{
    margin-bottom: 35px;
    padding-right: 130px;
}

.woz-crumb,
.woz-crumb a{
    font-size: 11px;
    color: #999;
    &:hover{
        color: #333;
    }
}

.woz-base-header{
    position: relative;
    padding: 20px 0 12px;
    .knop{
        position: absolute;
        top: 20px;
        right: -130px;
        padding: 12px 18px 12px 44px;
        background:url(../images/knop-bg-medium.gif) repeat-x 50% 50%;
        span{
            left: 15px;
        }
    }
    h1{
        margin: 0;
    }
}

.woz-base-info{
    font-size: 14px;
    .divide{
        margin: 0 4px;
    }
}

.woz-waarde{
    margin-bottom: 30px;
    h3{
        font-size: 13px;
        color: #000;
        margin: 37px 0 10px;
        padding: 0px 40px 0;
        font-weight: normal;
    }
    strong{font-size: 30px;}
}

.woz-waarde-blok{
    width: 24.25%;
    margin-right: 1%;
    float: left;
    &:last-child{
        margin: 0;
    }
}

.woz-waarde-blok-inner{
    border: 1px solid #ccc;
    background: #f8f8f8;
    padding: 10px;
    text-align: center;
    height: 170px;
    box-shadow: 1px 1px 1px #eee;
}

.woz-waarde-blok-double{
    margin: 0 20px;
}

.woz-datum{
    h3{margin-bottom: 5px;padding: 0;}
    strong{font-size: 16px;}
}

.woz-waardepeil{
    border-bottom: 1px dashed #bbb;
    padding-bottom: 18px;
    margin-bottom: 15px;
    h3{
        margin-top: 23px;
    }
}

.woz-toestandspeil h3{
    margin-top: 0;
}

.woz-uitleg p{
    margin-bottom: 20px;
}

.woz .knop.in-header {
    position: absolute;
    top:0;
    right: 0;
    margin: 0;
}


/* @group uit form.css */

.woz-in-zaaktype{
    margin-right: -300px;
}

.woz-in-zaaktype td{
    vertical-align: middle !important;
}

.woz-taxatierapport-print{
    background:#fff;
}

.woz-data-table{
    border:1px solid #bbb;
    border-bottom:none;
    border-right:none;
    td, th{
        padding:.6em 1em;
        border-bottom:1px solid #bbb;
        border-right:1px solid #bbb;
    }
    th{
        border-bottom-color:#bbb;
        border-bottom-width: 2px;
        background:#f3f3f3;
    }
    tr:nth-child(even) td{
        background:#f9f9f9;
    }
}
