@import "partials/license-block";
@import "partials/dependencies";

/* @group zaakdossier.css   */

/* @group Header */

.zaakdossier-titel{
    height: 62px;
}

.zaak-info{
    @include background(linear-gradient(top, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 100%));
    position: relative;
}

.zaak-info-inner{
    margin-right: 170px;
    padding: 14px 0 0px 12px;
}

.zaaktitel {
    font-size:18px;
    font-weight: bold;
    padding-left: 5px;
    span{
        font-weight: normal;
        color: #888;
    }
}

.zaakdossier-tabs{
    background: #efefef;
    ul.ui-tabs-nav{
        padding-top: 12px;
        background: transparent;
        position:relative;
        z-index:1; 
    }
}

.zaak-acties{
    width: 134px;
    right: 12px;
    top: 12px;
    position: absolute;
    height: 38px;
    .button_num_1{
        float: right;
    }
}

.zaak-meta{
    font-size: 13px;
    font-weight: normal;
    padding: 10px 0 2px;
    overflow:hidden;
    height:20px;
    a{
        text-decoration: none;
    }
    em{
        color:#aaa;
        font-style: normal;
    }
    .zaak-meta-item{
        display: block;
        float: left;
        margin-right: 5px;
        padding: 0 5px;
        background-position: 5px center !important;
        border-radius: 3px;
        &:hover{
            background-color: #e6e6e6;
        }
        &:active{
            position: relative;
            top: 1px;
        }
        &.zaak-is-over-streefdatum{
            color:darken(red,5%);
            font-weight: bold;
        }
    }
    span.zaak-meta-item:hover{
        cursor: default;
    }
    .zaak-meta-item-action{
        text-decoration: underline;
    }
}

/* @end */


/* @group Tabs */

.zaakdossier .spinner-groot{
    top: 36px;
}

.tabs-header{
    position: relative;
}

.tabs-header-saved{
    position: absolute;
    right: 14px;
    top: 18px;
    color: #aaa;
}

.icons-zaakdossier{
    background: url(../images/icons-zaakdossier.png);
}

.zaakdossier .ui-tabs .ui-tabs-panel{
    padding: 0;
}

.zaakdossier .ui-tabs .ui-tabs-nav li{
    &.tab-icon{
        padding-left: .6em;
        padding-right: .6em;
        a{
            background-position: 0 -6px;
            text-indent: -9999px;
            width: 32px;
            display: block;
            padding-left: 0;
            padding-right: 0;
        }
        &.tab-timeline a{
            background-position: -32px -6px;
        }
        &.tab-icon.tab-subcases a{
            background-position: -64px -6px;
        }
    }
    &.fase a{
        padding: .7em 1.3em .7em .9em;
    }
    &.fase.done a{
        font-weight: normal;
    }
    &.ui-tabs-selected {
        background: #e3ec87;
        @include background(linear-gradient(to bottom,  #e3ec87 0%,#dfe975 100%));
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3ec87', endColorstr='#dfe975',GradientType=0 );
        @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.7));
        position: relative;
        z-index: 1;
    }
    .icon{
        margin-right: 8px;
    }
    .icon-fase-done{
        background-position: 0 -54px;
    }
    .icon-fase-new{
        background-position: -16px -54px;
    }
}

.tab-info{
    background: #dfe975;
    padding: 8px 16px;
    border-bottom: 1px solid #a4a5a0;
    position: relative;
    z-index: 3;
    height: 19px;
    font-size: 13px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin: 0 1px;
    .icon-tab-info{
        background-position: -32px -54px;
    }
}

.ui-tabs-hidden{
    visibility: hidden;
}

.ui-tabs-visible{
    visibility: visible;
}

/* @group inner scroll */

.dossier-inner-scroll-inner > div{
    position: absolute;
    top: 36px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.ui-tabs .ui-tabs-panel.tab-inner-scroll{
    top: 178px;
    position: absolute;
    left: 233px;
    right: 15px;
    bottom: 15px;
    padding: 0;
    overflow: auto;
}

.ui-tabs .ui-tabs-panel.taken-inner-scroll{
    overflow: hidden;
}

.block-inner-scroll-center{
    width:70%;
    position:absolute;
    left: 0;
    top: 36px;
    bottom: 0;
    overflow: auto;
}

.block-inner-scroll-east{
    width: 30%;
    position: absolute;
    top: 36px;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #f5f5f5 url(../images/dossier-sidebar-bg.gif) repeat 0 0;
}

// .zaakdossier .ui-layout-pane{
//     padding: 0;
// }

// .zaakdossier .ui-layout-pane.ui-layout-pane-east{
//     overflow: hidden !important;
// }

/* @end */

/* @group taken */

.taken-inner{
    border: 1px solid #bbb;
    border-top: none;
    background: #fff;
    position: absolute;
}

.taken .inner{
    padding: 20px;
}

.taken .webformcontent{
    margin: 0;
    padding: 0;
}

/* @end */

@import "partials/sidebar";

/* @group Timeline */

.zaakdossier .timeline{
    padding: 0 !important;
    & > div{
        background: url("../images/line.png") repeat-y scroll 19px top transparent;
    }
    .timeline-content{
        padding: 0 0 0 10px;
    }
    .line-gradient{
        left: 19px;
    }
}

/* @end */

/* @group Deelzaken */

.deelzaken{
    padding: 15px 20px;
    font-weight: normal;
    background: #fff;
    td{
        border-bottom-color: #ddd;
    }
    tr.current_case td{
       background: #f7f7f7;
       border-bottom: 1px solid #ddd;
    }
    .table-cell{
        border-bottom: 1px solid #eee;
        padding: 0.8em 0.3em;
    }
    .spot-enlighter-wrapper{
        width:250px;
    }
}

form[name="newRelation"]{
    padding: .8em .3em;
}

.case-relation-drag {
    display: inline-block;
    margin: 10px;
}

.case-relation-drag-content {
    display: inline-block;
    border: 1px solid #ccc;
    background: white;
    padding: 4px 8px 4px 24px;
    font-size: 14px;
    font-weight: bold;
}

/* @end */

/* @group Volgende fase errors */

.volgende-fase-errors {
    font-size: 14px;
    list-style: none;
    p{
        margin-bottom: 10px;
    }
    li{
        padding: 3px 5px 3px 37px;
        margin-left: 0;
        line-height: 2.3;
        color: red;
        background: #f4e1de url(../images/icon-validation-failed.png) 12px center no-repeat;
        border: 1px solid red;
        margin-bottom: 4px;
        list-style: none;
        border-radius: 3px;
    }
}

/* @end */

@import "partials/progress-bar";

/* @group Management Opties */

.opties{
    .opties_blok{
        padding-top: 17px;
        td{
            padding: 1em 0.3em;
        }
    }
    .opties_blok_label{
        vertical-align: top;
        strong{
            display: block;
            padding-right: 10px;
            line-height: 1.6;
            font-size: 13px;
            color: #333;
        }
    }
    .td-label{
        padding-right: 20px;
    }
    .opties_blok_vernietigingsdatum{
        div{
            padding: 3px 0;
        }
        .huidige-vernietigingsdatum{
            padding: 3px 4px;
            border: 1px dotted #bbb;
            background: #f8f8f8;
            margin-bottom: 3px;
            color: #888;
            input{
                padding: 3px;
            }
        }
    }
    .opties_blok_afdeling .col { margin:0 8px 4px 0; }
    .zaaktype_onthouden { margin:4px 0 0 0; }
}


/* @end */