[% USE Dumper %]
[% veldoptietype = params.type -%]
<div id="kenmerk_definitie">
<form>
<input type="hidden" name="uniqueidr" value="[% c.req.params.uniqueidr %]">
<input type="hidden" name="update" value="1">
<input type="hidden" name="rownumber" value="[% rownumber %]">
<input type="hidden" name="edit_id" value="[% c.req.params.edit_id %]">
<table id="kenmerk_template" class="form">
    <tbody>
        [% #IF milestone_number != 1 #- is this relevant for intake? %]
        <tr>
            <td class="td-label td180 guideline-hover">Referentieel</td>
            <td class="guideline-hover td300">
                <input type="hidden" name="dialog_checkboxes" value="kenmerken_referential" />
                <input type="checkbox" name="kenmerken_referential" value="1"[% (params.referential ? ' checked' : '') %] />
            </td>
            <td>
                [% PROCESS widgets/general/tooltip.tt 
                    message = 'Als de zaak een hoofdzaak heeft worden waarden en instellingen van gelijknamig kenmerk in hoofdzaak gebruikt. 
Onderstaande instellingen worden gebruikt als de zaak niet gekoppeld is aan een hoofdzaak.'
                %]
            </td>
        </tr>
        [% #END %]
        <tr>
            <td class="td-label td250">Titel</td>
            <td class="td260">
                <input type="text" name="kenmerken_label" value="[% params.label %]" class="input_large">
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="td-label">Toelichting</td>
            <td>
                <textarea cols="60" rows="10" name="kenmerken_help">[% params.help %]</textarea>
            </td>
            <td></td>
        </tr>

        [% IF ZCONSTANTS.veld_opties.$veldoptietype.can_zaakadres %]
        <tr>
            <td class="td-label">Gebruiken als zaakadres</td>
            <td>
                <input type="hidden" name="dialog_checkboxes" value="kenmerken_bag_zaakadres" />
                <input type="checkbox" name="kenmerken_bag_zaakadres" value="1"[% (params.bag_zaakadres ? ' checked' : '') %] />
            </td>
            <td></td>
        <tr>
        [% END %]
        <tr>
            <td class="td-label">Publiceren</td>
            <td>
                <input type="hidden" name="dialog_checkboxes" value="kenmerken_pip" />
                <input type="checkbox" name="kenmerken_pip" value="1"[% (params.pip ? ' checked' : '') %] /> Persoonlijke Internet Pagina (PIP)
                <br/>
                <input type="hidden" name="dialog_checkboxes" value="kenmerken_publish_public" />
                <input type="checkbox" name="kenmerken_publish_public" value="1"[% (params.publish_public ? ' checked' : '') %] /> Publieke website
            </td>
            <td></td>
        <tr>
        <tr>
            <td class="td-label">Aanvrager kan kenmerk wijzigen in PIP</td>
            <td>
                <input type="hidden" name="dialog_checkboxes" value="kenmerken_pip_can_change" />
                <input type="checkbox" name="kenmerken_pip_can_change" value="1"[% (params.pip_can_change ? ' checked' : '') %] />
            </td>
            <td></td>
        </tr>

        <tr>
            <td>Verplicht</td>
            <td>
                <div>
                    <input type="hidden" name="dialog_checkboxes" value="kenmerken_value_mandatory" />
                    <input type="checkbox" value="1" name="kenmerken_value_mandatory"[% (params.value_mandatory ? ' checked="checked"' : '') %]>
                </div>
            </td>
            <td></td>
        </tr>

        <tr>
            <td>Gebruik als systeemkenmerk</td>
            <td>
                <div>
                    <input type="hidden" name="dialog_checkboxes" value="kenmerken_is_systeemkenmerk" />
                    <input type="checkbox" name="kenmerken_is_systeemkenmerk" value="1"[% (params.is_systeemkenmerk ? ' checked' : '') %] />
                </div>
            </td>
            <td>
                [% PROCESS widgets/general/tooltip.tt message="Kenmerk wordt verborgen. Deze optie kan niet worden gebruikt in combinatie met de optie 'Verplicht'." %]
            </td>
        </tr>


        [% UNLESS params.type == 'file' %]
        <tr>
            <td class="td-label"><label>Kenmerk Besluit</label></td>
            <td>
                <input type="hidden" name="dialog_checkboxes" value="kenmerken_besluit" />
                <input type="checkbox" name="kenmerken_besluit" value="1"[% (params.besluit ? ' checked="checked"' : ''); %]>
            </td>
            <td></td>
        <tr>
        [% END %]
        [% IF bibiotheek_kenmerk.value_type == 'date' %]
        <tr>
            <td class="td-label">Begindatum op huidige datum zetten:</td>
            <td>
                <div>
                    <input type="hidden" name="dialog_checkboxes" value="kenmerken_date_fromcurrentdate" />
                    <input type="checkbox" value="1" name="kenmerken_date_fromcurrentdate"[% (params.date_fromcurrentdate ? ' checked="checked"' : '') %]>
                </div>
            </td>
            <td></td>
        </tr>
        [% END %]
    </tbody>
<table>
<div class="form-actions">
    <input type="submit" value="Opslaan" class="button140">
</div>
</form>
</div>
