[% PROCESS beheer/zaaktypen/breadcrumb.tt %]

<div id="blockvar-wrap" class="mijlpaal_configureren">
    <div class="block blockvar left mijlpaal_content no-padding" id="configureren">
        <form method="POST" action="[% formaction %]" class="ezra_zaaktypebeheer">
            <input type="hidden" name="zaaktype_update" value="1" />
            <input type="hidden" name="bibliotheek_categorie_id" value="[% categorie_id %]"/>
            <input type="hidden" name="status_update" value="1" />
            <input
            type="hidden"
            name="milestone_number"
            value="[% milestone_number %]" />

            <p class="header ztb-header">
            [% IF(zaaktype_id) %]
            <strong>[% params.node.titel %]</strong> -  
            [% ELSE %]
                Zaaktype aanmaken
            [% END %]
            Fase "[% milestone.definitie.fase %]" configureren
            </p>
            <div class="blockcontent">
                [% PROCESS beheer/zaaktypen/mijlpaal_configureren.tt %]
            </div>
        </form>
    </div>

    <div class="block300 left mijlpaal_sidebar">
        <div class="block mijlpaal_element_toevoegen" id="elementen">
            <p class="header">Element toevoegen</p>
            <div class="blockcontent add_element">
                <a href="#" class="element" id="kenmerk"><span></span>Kenmerk</a>
                <a href="#" class="element" id="regel"><span></span>Regel</a>
                <a href="#" class="element" id="sjabloon"><span></span>Sjabloon</a>
                [% UNLESS milestone_first %]
                <a href="#" class="element" id="checklist"><span></span>Checklistitem</a>
                [% END %]
                <!-- <a href="#" class="element" id="status"><span></span>Statusteller</a> -->
                <a href="#" class="element ezra_zaaktype_add_zaak" id="relatie"><span></span>Zaak</a>
                <a href="#" class="element" id="notificatie"><span></span>E-mail</a>
                [% IF milestone_last %]
                <a href="#" class="element" id="resultaat"><span></span>Resultaat</a>
                [% END %]
            </div>
        </div>
        <div class="block mijlpaal_voortgang" id="mijlpaal_overzicht">
            <p class="header">Fasenoverzicht</p>
            <div class="blockcontent">
                [% PROCESS beheer/zaaktypen/mijlpaal_overzicht.tt %]
            </div>
        </div>
    </div>
</div>
