[% USE Dumper %]

<h3 class="ui-accordion-header ui-state-default ui-helper-reset" id="milestone_acc_resultaat"><a href="#">Resultaten (<span class="number">[% milestone.elementen.resultaten.size || 0 %]</span>)</a></h3>
    <div class="ezra_table element_tabel_resultaat mijlpaal_element">
    <div class="ui-accordion-table-bg">
    <table cellspacing="0" class="ezra_table_table sortable-element">
        <thead>
            <tr>
                <th class="td15 center no-border"></th>
                <th class="tdvar">Resultaat</th>
                <th class="td40"></th>
                <th class="td40"></th>            
            </tr>
        </thead>
        <tbody>
            [% PROCESS beheer/zaaktypen/milestones/result.row.tt %]
            [% FOREACH mresultaati IN milestone.elementen.resultaten.keys.nsort %]
                [% mresultaat = milestone.elementen.resultaten.$mresultaati %]
                [% PROCESS beheer/zaaktypen/milestones/result.row.tt %]
            [% END %]
        </tbody>
    </table>
    <a
        class="ezra_table_row_add"
        href="#"
        style="display: none;"
        rel="callback: ezra_ztb_result_edit"
        ></a>
    </div>
</div>

