<div class="kenmerk-veld row">
	<div class="column large-4">
		<label>E-mail template (allocation_notification_template_id)</label>
	</div>
	<div class="column large-8">
		<div class="field field-has-help">
			<select name="[% parameter %]">
			    <option value=""[% IF !id %] selected="selected"[% END %]>Geen template (notificaties uit)</option>
			    [% FOREACH template IN config %]
			    <option value="[% template.id %]"[% IF template.id == value %] selected="selected"[% END %]>[% template.label %]</option>
			    [% END %]
			</select>
		</div>
		<div class="field-help">
			<div class="dropdown-wrap dropdown-wrap-right ezra_dropdown_init_hover">
                <div class="dropdown-init dropdown-init-in-td icon-toelichting icon icon-hover"></div>
                <div class="dropdown dropdown-left dropdown-tooltip">
                    <div class="dropdown-pijl"></div>
                    <div class="dropdown-content">
                        Deze setting wijzigt het sjabloon dat gebruikt wordt om e-mail notificaties te versturen bij een toewijzing wijziging op een zaak
                    </div>
                </div>
            </div>
        </div>
	</div>

</div>