<div class="kenmerk-veld row">

	<div class="column large-4">
		<label>Jodconverter Service URI</label>
	</div>
	<div class="column large-8">
		<div class="field field-has-help">
			<input type="text" name="[% parameter %]" value="[% value %]" />
		</div>
		<div class="field-help">
			<div class="dropdown-wrap dropdown-wrap-right ezra_dropdown_init_hover">
                <div class="dropdown-init dropdown-init-in-td icon-toelichting icon icon-hover"></div>
                <div class="dropdown dropdown-left dropdown-tooltip">
                    <div class="dropdown-pijl"></div>
                    <div class="dropdown-content">
                        Dit is de URL naar de JODConverter service om documenten te manglen en previewen
                    </div>
                </div>
            </div>
        </div>
	</div>

</div>