<div class="block sysin-transactions" data-ng-controller="nl.mintlab.sysin.transactions.TransactionController" data-ng-init="init()">
	
	<div data-zs-detail-view="<[viewConfig]>">
	</div>
	
	<div class="blockcontent">
		
		<div class="transaction-record-list" data-zs-crud-template-parser="/sysin/transaction/<[transactionId]>/records" data-ng-show="!activeTransaction">
		</div>
		
	</div>
	
	<script type="text/zs-scope-data">
		{
			"viewConfig": {
				"name": "transaction-detail",
				"title": "<[item.interface_id.name]>",
				"url": "/sysin/transaction/<[transactionId]>",
				"actions": [
					{
						"name": "delete-transaction",
						"label": "Transactie verwijderen",
						"type": "delete",
						"data": {
							"url": "/sysin/transaction/delete/",
							"redirect": "/beheer/sysin/transactions/",
							"params": {
								"selection_id": "<[item.id]>",
								"selection_type": "subset"
							},
							"confirm": {
								"label": "Weet u zeker dat u deze transactie wil verwijderen?",
								"verb": "Verwijderen"
							}
						}
					}
				],
				"fieldsets": [
					{
						"fields": [
							{
								"name": "id",
								"label": "Transactie ID",
								"resolve": "id"
							},
							{
								"name": "external_transaction_id",
								"label": "Extern ID",
								"resolve": "external_transaction_id"
							},
							{
								"name": "date_created",
								"label": "Aangemaakt",
								"resolve": "date_created",
								"filter": "date:'dd-MM-yy hh:mm'"
							},
							{
								"id": "direction",
								"label": "Richting",
								"template": "<span class=\"transaction-item-direction\" data-ng-class=\"{ 'transaction-item-incoming': item.direction=='incoming', 'transaction-item-outgoing': item.direction!='incoming'}\"><i class=\"icon-font-awesome <[item.direction=='incoming'&&'icon-arrow-down'||'icon-arrow-up']>\"></i> <[item.direction=='incoming'&&'Inkomend'||'Uitgaand']></span>"
							},
							{
								"name": "input",
								"label": "Request Data",
								"template": "<textarea readonly><[item.input_data]></textarea>",
								"when": "item.input_data"
							}
							
						]
					}
				]
			}
		}
	</script>
	
</div>