<div class="block sysin-transactions" data-ng-controller="nl.mintlab.sysin.transactions.TransactionListController">
	<div class="header header-filter" >
		%%Transactieoverzicht%%

		<div class="ezra_actie_button_handling right ezra_actie_button_handling-initialized">
            <div class="actions-nav actions-nav-small button_num_2 ezra_actie_button_handling_navigation">
                <div data-zs-popup-menu>
                    <button class="actions-nav-options first actions-nav-button" title="Configuratie">
                        <span class="nav-icon"></span>
                    </button>
                    
                    <ul class="action-list-popover popover">
                        <li>
                            <a href="/beheer/sysin/overview">Configuratiescherm</a>
                        </li>
                        <li>
                            <a href="/beheer/object/subscriptions">Afnemerindicaties</a>
                        </li>
                        <li>
                            <a href="/beheer/object/datastore">Gegevensmagazijn</a>
                        </li>
                    </ul>
                </div>
                
                <a class="actions-nav-add" data-ng-click="openPopup()" data-zs-popup="'/html/sysin/manual-process.html'" title="Handmatig uploaden">
                    <span class="nav-icon"></span>
                </a>
            </div>
            <!-- <div class="ezra_actie_button_handling_popover">
                <div class="popover-tip ezra_actie_button_handling_popover_tip" style="display: none;"></div>
                <div class="popover" id="popover_overzicht_voegtoe" style="margin: 20px -5px 0 0;">
                    <div class="buttons">
                        <a title="Koppeling toevoegen" class="ezra_dialog" href="/beheer/sysin/overview">%%Koppelingen%%</a>
                    </div>
                </div>
            </div> -->
        </div>

	</div>
	
	<div class="blockcontent">
		<div data-zs-crud-template-parser="/sysin/transaction" data-zs-crud-name="transactions" data-ng-show="!activeTransaction" data-ng-controller="nl.mintlab.sysin.transactions.TransactionCrudController">
		</div>

            <a href="/beheer/import" title="Basisregistraties" style="color:#777;">Legacy koppelingen</a>

	</div>
	
</div>