
<dl class="breadcrumbs">
    <dt>U bent hier:</dt>
    <dd>
        <ol>
            <li class="first">
                <a href="http://www.debilt.nl/nl-nl.aspx">Home</a>
            </li>

            [% IF pip_session %]
            <li class="last">
                <a href="[% c.uri_for('/pip') %]" title="Mijn De Bilt">Mijn De Bilt</a>
            </li>
            [% ELSE %]
            <li>
                <a href="http://www.debilt.nl/nl-nl/gemeenteloket.aspx">Gemeenteloket</a>
            </li>

            <li>
                <a href="http://www.debilt.nl/nl-nl/gemeenteloket/producten.aspx">Producten</a>
            </li>

            <li class="last">
                [% zaaktype.titel %]
            </li>
            [% END %]
        </ol>
    </dd>
</dl>

