[% IF pip %]
<link href="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/css/pip.css" type="text/css" rel="stylesheet" />
[% END %]

<link href="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/css/forms.css" type="text/css" rel="stylesheet" />
<link href="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/css/tables.css" type="text/css" rel="stylesheet" />
<link href="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/css/grid.css" type="text/css" rel="stylesheet" />
<link href="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/css/buttons.css" type="text/css" rel="stylesheet" />
<link href="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/css/icons.css" type="text/css" rel="stylesheet" />
<link href="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/css/form.css" type="text/css" rel="stylesheet" />
<link href="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/css/jquery.ui.css" type="text/css" rel="stylesheet" />
<link href="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/css/jquery.qtip.css" type="text/css" rel="stylesheet" />
<link href="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/css/woz.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/css/docs.css" />
      
<base href="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/" />