<form method="post"
    action="[% c.uri_for('/zaak/create/' _ aangevraagd_via  _ '/webform/') %]"
    enctype="multipart/form-data"
    [% c.req.user_agent.match('MSIE') ? 'class="wizard_disabled intake webform"' : ' class="wizard_disabled submit_waiter webform"' %]
    id="webform-intake">

    [% IF (c.user_exists && zaak_acties.doc_intake) %]
        [% dropdocument = c.model('DB::File').find(zaak_acties.doc_intake.component_id) %]
        [% PROCESS form/document_intake.tt %]
    [% END %]

    <div class="block ezra_form_plugin block-newform">
        [% PROCESS form/header.tt %]

        <div class="blockcontent webformcontent[% UNLESS navigation_links %] no-navigation[% END %]">
            [% PROCESS form/navigation.tt %]
        
            <div class="webform_inner">
                [% PROCESS form/form_inner.tt %]
            </div>
        </div>
    </div>
</form>
