[% 
	crumbs = [
		{ label => 'Koppelingen', link => '/beheer/sysin/transactions' },
		{ label => 'Afnemerindicaties' }
	];
%]

[% PROCESS widgets/general/breadcrumb_general.tt %]

<div class="block sysin-subscription" data-ng-controller="nl.mintlab.sysin.SubscriptionListController">
	<div class="header">Afnemerindicaties</div>
	<div class="blockcontent">
		<div class="subscription-view" data-zs-crud-template-parser="/object_subscription/">
		</div>
	</div>
</div>