[% IF crumbs.size %]
    <div class="breadcrumb-wrapper">
        <div class="breadcrumb clearfix">     
            [% FOREACH crumb IN crumbs %]
                [% IF !loop.first %]
                <span class="breadcrumb-arrow[% IF loop.count <= (loop.size - 1) %] breadcrumb-arrow-dark[% END %]"></span>
                [% END %]
                
                [% IF crumb.link %]
                    <a href="[% crumb.link %]" class="breadcrumb-link">[% crumb.label %]</a>
                [% ELSE %]
                    <span class="breadcrumb-label">[% crumb.label %]</span>
                [% END %]
                
            
            [% END %]
        </div>
    </div>
[% END %]