[% # mintloader html
#
#
# Options:
# - uploaded_url        : url of file currently uploaded
# - uploaded_mimetype   : mimetype: of currently uploaded file, used to display icon
# - uploaded_filename   : filename of currently uploaded file
%]

[% UNLESS veldoptie_name %]
    ERROR: need veldoptie_name
    [% RETURN %]
[% END %]


[% # debug trick to simulate IE behaviour %]
[% mintloader_enabled = 1 %]

[% mimetype_class = PROCESS widgets/general/mimetype.tt 
    mimetype = uploaded_mimetype
%]

[% BLOCK currently_uploaded_files %]
    [% FOR uploaded_file = uploaded_files %]
        <div class="fileuploadthumbnail [% mimetype_class %]">
        [% PROCESS widgets/general/filename.tt filename = uploaded_file.filename %]
        </div>
    [% END %]
[% END %]

<div class="mintloader fileUpload" id="[% veldoptie_name %]">
    <input type="hidden" name="filestore_uuid" value=""/>


    [% IF !mintloader_enabled || c.req.headers.user_agent.search('MSIE') %]
        <iframe name="[% veldoptie_name %]_file_upload_iframe" style="display:none;"></iframe>
        <input type="file" name="[% veldoptie_name %]" />

        [% IF can_delete_queue %]
            <input type="button" class="clear_queue_ie knop no-icon" value="Wis alles" style="display: [% uploaded_files ? 'inline' : 'none' %]" />
        [% END %]

        <div class="new_upload" style="display: none;"></div>

        [% IF uploaded_files %]    
            [% PROCESS currently_uploaded_files %]
        [% END %]

    [% ELSE %]
        <input 
            type="file" 
            style="visibility: hidden;" 
            class="fileToUpload [% veldoptie_name %] [% IF send_to_upload %]ezra_send_to_upload[% END %]" 
        />  

        <input 
            type="button" 
            class="kiesbestand knop no-icon" 
            value="[% IF uploaded_files && uploaded_files.length %]Nog een bestand[% ELSE %]Kies bestand[% END %]"
        />

        [% IF can_delete_queue %]
            <input type="button" class="clear_queue knop no-icon" value="Wis alles" style="display: [% uploaded_files ? 'inline' : 'none' %]" />
        [% END %]

        <span class="slepen">
            of sleep [% IF uploaded_files %]nog een [% END %]bestand
        </span>

        <div class="progressIndicator clearfix">
            <div class="progressBarOuter"><div class="progressBar"></div></div>
            <div class="progressNumber">&nbsp;</div>
            <div class="transferBytesInfo"></div>
        </div>

        <div class="uploadResponse" [% IF !uploaded_files %]style="display:none;"[% END %]>
            [% IF upload_error %][% upload_error %][% END %]
            [% IF uploaded_files %]
                [% PROCESS currently_uploaded_files %]
            [% END %]
        </div>
    [% END %]        
</div>
