[%
#
# 
#
# options
# - addclass: a class that will be added to the add button, allowing for custom behaviour. for
#             instance, open a dialog and supply a submit handler to store the value retrieved.
#
#
#
#
#
#
%]

[% USE Dumper %]
[% IF !table_config || !table_config.options %]
    ERROR: need table_config
    [% RETURN %]
[% END %]

<!--pre>[% #Dumper.dump(table_config) %]</pre-->


[% BLOCK kenmerk_value %]
    [% kenmerk = c.model('Bibliotheek::Kenmerken').get('id', bibliotheek_kenmerken_id) %]

    [% PROCESS widgets/general/veldoptie.tt 
        veldoptie_type   = kenmerk.kenmerk_type
        veldoptie_opties = kenmerk.kenmerk_options
        veldoptie_value  = value				        
        veldoptie_name   = 'bibliotheek_kenmerk_' _ bibliotheek_kenmerken_id
    %]
[% END %]

[% IF table_config.options.init %]
<div class="ezra_simple_table">
    <div class="ezra_simple_table-table_container" id="ezra_simpletable_content">
[% END %]
        <table class="ezra_simple_table-table marginbottom">
            <thead>
                <tr>
                [% FOREACH table_header IN table_config.header %]
                    <th>[% table_header.label %]</th>
                [% END %]
                [% IF table_config.options.has_delete_button %]
                    <th>&nbsp;</th>
                [% END %]
                </tr>
            </thead>
            <tbody>
                [% FOREACH row IN table_config.rows %]
                    [% UNLESS row.id %]
                        ERROR: row needs id property
                        [% RETURN %]
                    [% END %]
                    <tr id="[% row.id %]">
                    
                    [% FOREACH table_header IN table_config.header %]
                        [% column = table_header.mapping %]
                        <td>
                            [% IF column == 'kenmerk_value' %]
                                [% PROCESS kenmerk_value 
                                    bibliotheek_kenmerken_id    = row.bibliotheek_kenmerken_id
                                    value                       = row.value
                                %]
                            [% ELSE %]
                                [% row.$column %]
                            [% END %]
                        </td>
                    [% END %]
                    [% IF table_config.options.has_delete_button %]
                        <td>
                            <a
                            class="ezra_simple_table-remove icon-del icon"
                            href="[% c.uri_for(table_config.options.action) %]"
                            rel="row_identifier: [% row.id %]">
                        </a>
                    </td>
                    [% END %]
                [% END %]
                </tr>
            </tbody>
        </table>
[% IF table_config.options.init %]
    </div>
    <a  class="knop knop-bootstrap ezra_simple_table-add"
        href="[% c.uri_for(table_config.options.search_action) %]"
        title="[% table_config.options.add.label %]"
        rel="ezra_dialog_layout: xlarge; dialog: [% table_config.options.dialog %]; data_source: [% table_config.options.data_source %]"><i class="icon icon-add"></i> [% table_config.options.add.label %]
    </a>
</div>
[% END %]
